# 数据下载

In [6]:
from jaqs_fxdayu.data import DataView
from jaqs_fxdayu.data import RemoteDataService
import os
import numpy as np
import warnings

warnings.filterwarnings("ignore")

In [7]:
data_config = {
    "remote.data.address": "tcp://data.quantos.org:8910",
    "remote.data.username": "18868116256",
    "remote.data.password": "eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MjI3NDEwNjkxMDAiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTg4NjgxMTYyNTYifQ.9RSb6dJ_-a5mgrV9vCZsLxrCbuiZw4dGfwuWcP-AjEM"
}

In [8]:
ds = RemoteDataService()
ds.init_from_config(data_config)
dv = DataView()

Begin: DataApi login 18868116256@tcp://data.quantos.org:8910
    login success

In [19]:
fields_mapper = dv.fields_mapper

In [20]:
fields_mapper.keys()

dict_keys(['lb.secDailyIndicator', 'lb.income', 'lb.balanceSheet', 'lb.cashFlow', 'lb.finIndicator', 'daily', 'lb.secAdjFactor'])

In [1]:
# for key, item in dv.fields_mapper.items():
#     fields = ','.join(str(s) for s in item)
#     print(fields)

In [7]:
fields = dv.fields_mapper["daily"]

In [12]:
fields = ['ebitda','fcff']

In [13]:
start=20041231
end=20180701

hs300_props = {'start_date': start, 'end_date': end, 'universe': '000300.SH',
         'fields': ",".join(fields),
         'freq': 1}

In [14]:
hs300_props

{'start_date': 20041231,
 'end_date': 20180701,
 'universe': '000300.SH',
 'fields': 'ebitda,fcff',
 'freq': 1}

In [15]:
dataview_folder = 'F:\\DeepLearning\\python\\JAQS_Data\\hs300'
if not (os.path.isdir(dataview_folder)):
    os.makedirs(dataview_folder)

In [ ]:
dv.init_from_config(hs300_props, ds)
dv.prepare_data()
dv.save_dataview(dataview_folder)

Field name [{'fcff'}] not valid, ignore.
Initialize config success.
Query data...
Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'open,vwap,close,symbol,low_adj,open_adj,vwap_adj,trade_date,close_adj,high,trade_status,low,high_adj'}
下载进度150/730.
下载进度300/730.
下载进度450/730.
下载进度600/730.

In [14]:
# self.fin_stat_income = \
#     {"symbol", "ann_date", "start_date", "end_date",
#      "comp_type_code", "comp_type_code", "act_ann_date", "start_actdate",
#      "end_actdate", "report_date", "start_reportdate", "start_reportdate",
#      "report_type", "report_type", "currency", "total_oper_rev", "oper_rev",
#      "int_income", "net_int_income", "insur_prem_unearned",
#      "handling_chrg_income", "net_handling_chrg_income", "net_inc_other_ops",
#      "plus_net_inc_other_bus", "prem_income", "less_ceded_out_prem",
#      "chg_unearned_prem_res", "incl_reinsurance_prem_inc",
#      "net_inc_sec_trading_brok_bus", "net_inc_sec_uw_bus",
#      "net_inc_ec_asset_mgmt_bus", "other_bus_income", "plus_net_gain_chg_fv",
#      "plus_net_invest_inc", "incl_inc_invest_assoc_jv_entp",
#      "plus_net_gain_fx_trans", "tot_oper_cost", "less_oper_cost", "less_int_exp",
#      "less_handling_chrg_comm_exp", "less_taxes_surcharges_ops",
#      "less_selling_dist_exp", "less_gerl_admin_exp", "less_fin_exp",
#      "less_impair_loss_assets", "prepay_surr", "tot_claim_exp",
#      "chg_insur_cont_rsrv", "dvd_exp_insured", "reinsurance_exp", "oper_exp",
#      "less_claim_recb_reinsurer", "less_ins_rsrv_recb_reinsurer",
#      "less_exp_recb_reinsurer", "other_bus_cost", "oper_profit",
#      "plus_non_oper_rev", "less_non_oper_exp", "il_net_loss_disp_noncur_asset",
#      "tot_profit", "inc_tax", "unconfirmed_invest_loss",
#      "net_profit_incl_min_int_inc", "net_profit_excl_min_int_inc",
#      "minority_int_inc", "other_compreh_inc", "tot_compreh_inc",
#      "tot_compreh_inc_parent_comp", "tot_compreh_inc_min_shrhldr", "ebit",
#      "ebitda", "net_profit_after_ded_nr_lp", "net_profit_under_intl_acc_sta",
#      "eps_basic", "eps_diluted", "insurance_expense",
#      "spe_bal_oper_profit", "tot_bal_oper_profit", "spe_bal_tot_profit",
#      "tot_bal_tot_profit", "spe_bal_net_profit", "tot_bal_net_profit",
#      "undistributed_profit", "adjlossgain_prevyear",
#      "transfer_from_surplusreserve", "transfer_from_housingimprest",
#      "transfer_from_others", "distributable_profit", "withdr_legalsurplus",
#      "withdr_legalpubwelfunds", "workers_welfare", "withdr_buzexpwelfare",
#      "withdr_reservefund", "distributable_profit_shrhder", "prfshare_dvd_payable",
#      "withdr_othersurpreserve", "comshare_dvd_payable",
#      "capitalized_comstock_div"}
     
# self.fin_stat_balance_sheet = \
#     {"monetary_cap", "tradable_assets", "notes_rcv", "acct_rcv", "other_rcv", "pre_pay",
#      "dvd_rcv", "int_rcv", "inventories", "consumptive_assets", "deferred_exp",
#      "noncur_assets_due_1y", "settle_rsrv", "loans_to_banks", "prem_rcv", "rcv_from_reinsurer",
#      "rcv_from_ceded_insur_cont_rsrv", "red_monetary_cap_for_sale", "other_cur_assets",
#      "tot_cur_assets", "fin_assets_avail_for_sale", "held_to_mty_invest", "long_term_eqy_invest",
#      "invest_real_estate", "time_deposits", "other_assets", "long_term_rec", "fix_assets",
#      "const_in_prog", "proj_matl", "fix_assets_disp", "productive_bio_assets",
#      "oil_and_natural_gas_assets", "intang_assets", "r_and_d_costs", "goodwill",
#      "long_term_deferred_exp", "deferred_tax_assets", "loans_and_adv_granted",
#      "oth_non_cur_assets", "tot_non_cur_assets", "cash_deposits_central_bank",
#      "asset_dep_oth_banks_fin_inst", "precious_metals", "derivative_fin_assets",
#      "agency_bus_assets", "subr_rec", "rcv_ceded_unearned_prem_rsrv", "rcv_ceded_claim_rsrv",
#      "rcv_ceded_life_insur_rsrv", "rcv_ceded_lt_health_insur_rsrv", "mrgn_paid",
#      "insured_pledge_loan", "cap_mrgn_paid", "independent_acct_assets", "clients_cap_deposit",
#      "clients_rsrv_settle", "incl_seat_fees_exchange", "rcv_invest", "tot_assets", "st_borrow",
#      "borrow_central_bank", "deposit_received_ib_deposits", "loans_oth_banks", "tradable_fin_liab",
#      "notes_payable", "acct_payable", "adv_from_cust", "fund_sales_fin_assets_rp",
#      "handling_charges_comm_payable", "empl_ben_payable", "taxes_surcharges_payable", "int_payable",
#      "dvd_payable", "other_payable", "acc_exp", "deferred_inc", "st_bonds_payable", "payable_to_reinsurer",
#      "rsrv_insur_cont", "acting_trading_sec", "acting_uw_sec", "non_cur_liab_due_within_1y", "other_cur_liab",
#      "tot_cur_liab", "lt_borrow", "bonds_payable", "lt_payable", "specific_item_payable", "provisions",
#      "deferred_tax_liab", "deferred_inc_non_cur_liab", "other_non_cur_liab", "tot_non_cur_liab",
#      "liab_dep_other_banks_inst", "derivative_fin_liab", "cust_bank_dep", "agency_bus_liab", "other_liab",
#      "prem_received_adv", "deposit_received", "insured_deposit_invest", "unearned_prem_rsrv", "out_loss_rsrv",
#      "life_insur_rsrv", "lt_health_insur_v", "independent_acct_liab", "incl_pledge_loan", "claims_payable",
#      "dvd_payable_insured", "total_liab", "capital_stk", "capital_reser", "special_rsrv", "surplus_rsrv",
#      "undistributed_profit", "less_tsy_stk", "prov_nom_risks", "cnvd_diff_foreign_curr_stat",
#      "unconfirmed_invest_loss", "minority_int", "tot_shrhldr_eqy_excl_min_int", "tot_shrhldr_eqy_incl_min_int",
#      "tot_liab_shrhldr_eqy", "spe_cur_assets_diff", "tot_cur_assets_diff", "spe_non_cur_assets_diff",
#      "tot_non_cur_assets_diff", "spe_bal_assets_diff", "tot_bal_assets_diff", "spe_cur_liab_diff",
#      "tot_cur_liab_diff", "spe_non_cur_liab_diff", "tot_non_cur_liab_diff", "spe_bal_liab_diff",
#      "tot_bal_liab_diff", "spe_bal_shrhldr_eqy_diff", "tot_bal_shrhldr_eqy_diff", "spe_bal_liab_eqy_diff",
#      "tot_bal_liab_eqy_diff", "lt_payroll_payable", "other_comp_income", "other_equity_tools",
#      "other_equity_tools_p_shr", "lending_funds", "accounts_receivable", "st_financing_payable", "payables"}
     
# self.fin_stat_cash_flow = \
#     {"cash_recp_sg_and_rs", "recp_tax_rends", "net_incr_dep_cob", "net_incr_loans_central_bank",
#      "net_incr_fund_borr_ofi", "cash_recp_prem_orig_inco", "net_incr_insured_dep",
#      "net_cash_received_reinsu_bus", "net_incr_disp_tfa", "net_incr_int_handling_chrg", "net_incr_disp_faas",
#      "net_incr_loans_other_bank", "net_incr_repurch_bus_fund", "other_cash_recp_ral_oper_act",
#      "stot_cash_inflows_oper_act", "cash_pay_goods_purch_serv_rec", "cash_pay_beh_empl", "pay_all_typ_tax",
#      "net_incr_clients_loan_adv", "net_incr_dep_cbob", "cash_pay_claims_orig_inco", "handling_chrg_paid",
#      "comm_insur_plcy_paid", "other_cash_pay_ral_oper_act", "stot_cash_outflows_oper_act",
#      "net_cash_flows_oper_act", "cash_recp_disp_withdrwl_invest", "cash_recp_return_invest",
#      "net_cash_recp_disp_fiolta", "net_cash_recp_disp_sobu", "other_cash_recp_ral_inv_act",
#      "stot_cash_inflows_inv_act", "cash_pay_acq_const_fiolta", "cash_paid_invest", "net_cash_pay_aquis_sobu",
#      "other_cash_pay_ral_inv_act", "net_incr_pledge_loan", "stot_cash_outflows_inv_act",
#      "net_cash_flows_inv_act", "cash_recp_cap_contrib", "incl_cash_rec_saims", "cash_recp_borrow",
#      "proc_issue_bonds", "other_cash_recp_ral_fnc_act", "stot_cash_inflows_fnc_act", "cash_prepay_amt_borr",
#      "cash_pay_dist_dpcp_int_exp", "incl_dvd_profit_paid_sc_ms", "other_cash_pay_ral_fnc_act",
#      "stot_cash_outflows_fnc_act", "net_cash_flows_fnc_act", "eff_fx_flu_cash", "net_incr_cash_cash_equ",
#      "cash_cash_equ_beg_period", "cash_cash_equ_end_period", "net_profit", "unconfirmed_invest_loss",
#      "plus_prov_depr_assets", "depr_fa_coga_dpba", "amort_intang_assets", "amort_lt_deferred_exp",
#      "decr_deferred_exp", "incr_acc_exp", "loss_disp_fiolta", "loss_scr_fa", "loss_fv_chg", "fin_exp",
#      "invest_loss", "decr_deferred_inc_tax_assets", "incr_deferred_inc_tax_liab", "decr_inventories",
#      "decr_oper_payable", "incr_oper_payable", "others", "im_net_cash_flows_oper_act", "conv_debt_into_cap",
#      "conv_corp_bonds_due_within_1y", "fa_fnc_leases", "end_bal_cash", "less_beg_bal_cash",
#      "plus_end_bal_cash_equ", "less_beg_bal_cash_equ", "im_net_incr_cash_cash_equ", "free_cash_flow",
#      "spe_bal_cash_inflows_oper", "tot_bal_cash_inflows_oper", "spe_bal_cash_outflows_oper",
#      "tot_bal_cash_outflows_oper", "tot_bal_netcash_outflows_oper", "spe_bal_cash_inflows_inv",
#      "tot_bal_cash_inflows_inv", "spe_bal_cash_outflows_inv", "tot_bal_cash_outflows_inv",
#      "tot_bal_netcash_outflows_inv", "spe_bal_cash_inflows_fnc", "tot_bal_cash_inflows_fnc",
#      "spe_bal_cash_outflows_fnc", "tot_bal_cash_outflows_fnc", "tot_bal_netcash_outflows_fnc",
#      "spe_bal_netcash_inc", "tot_bal_netcash_inc", "spe_bal_netcash_equ_undir", "tot_bal_netcash_equ_undir",
#      "spe_bal_netcash_inc_undir", "tot_bal_netcash_inc_undir"}
     
# self.fin_indicator = \
#     {"extraordinary","deductedprofit","grossmargin","operateincome","investincome","stmnote_finexp",
#      "stm_is","ebit_daily","ebitda""fcff","fcfe","exinterestdebt_current","exinterestdebt_noncurrent","interestdebt",
#      "netdebt","tangibleasset","workingcapital","networkingcapital","investcapital","retainedearnings","eps_basic_daily", # TODO eps_basic
#      "eps_diluted","eps_diluted2","bps","ocfps","grps","orps","surpluscapitalps","surplusreserveps","undistributedps",
#      "retainedps","cfps","ebitps","fcffps","fcfeps","netprofitmargin","grossprofitmargin","cogstosales",
#      "expensetosales","profittogr","saleexpensetogr","adminexpensetogr","finaexpensetogr","impairtogr_ttm",
#      "gctogr","optogr","ebittogr","roe","roe_deducted","roa2","roa","roic","roe_yearly","roa2_yearly","roe_avg",
#      "operateincometoebt","investincometoebt","nonoperateprofittoebt","taxtoebt","deductedprofittoprofit","salescashintoor",
#      "ocftoor","ocftooperateincome","capitalizedtoda","debttoassets","assetstoequity","dupont_assetstoequity",
#      "catoassets","ncatoassets","tangibleassetstoassets","intdebttototalcap","equitytototalcapital","currentdebttodebt",
#      "longdebtodebt","current","quick","cashratio","ocftoshortdebt","debttoequity","equitytodebt",
#      "equitytointerestdebt","tangibleassettodebt","tangassettointdebt","tangibleassettonetdebt","ocftodebt",
#      "ocftointerestdebt","ocftonetdebt","ebittointerest","longdebttoworkingcapital","ebitdatodebt","turndays",
#      "invturndays","arturndays","invturn","arturn","caturn","faturn","assetsturn","roa_yearly","dupont_roa",
#      "s_stm_bs","prefinexpense_opprofit","nonopprofit","optoebt","noptoebt","ocftoprofit","cashtoliqdebt",
#      "cashtoliqdebtwithinterest","optoliqdebt","optodebt","roic_yearly","tot_faturn","profittoop","qfa_operateincome",
#      "qfa_investincome","qfa_deductedprofit","qfa_eps","qfa_netprofitmargin","qfa_grossprofitmargin","qfa_expensetosales",
#      "qfa_profittogr","qfa_saleexpensetogr","qfa_adminexpensetogr","qfa_finaexpensetogr","qfa_impairtogr_ttm",
#      "qfa_gctogr","qfa_optogr","qfa_roe","qfa_roe_deducted","qfa_roa","qfa_operateincometoebt","qfa_investincometoebt",
#      "qfa_deductedprofittoprofit","qfa_salescashintoor","qfa_ocftosales","qfa_ocftoor","yoyeps_basic","yoyeps_diluted",
#      "yoyocfps","yoyop","yoyebt","yoynetprofit","yoynetprofit_deducted","yoyocf","yoyroe","yoybps","yoyassets",
#      "yoyequity","yoy_tr","yoy_or","qfa_yoygr","qfa_cgrgr","qfa_yoysales","qfa_cgrsales","qfa_yoyop","qfa_cgrop",
#      "qfa_yoyprofit","qfa_cgrprofit","qfa_yoynetprofit","qfa_cgrnetprofit","yoy_equity","rd_expense","waa_roe"}

## 获取数据

1. load_dataview(读取本地数据)
2. get_snapshot(读取索引为股票代号的数据)
3. get_ts(读取时间序列数据)
4. add_formula(添加自定义算法数据)
5. add_field(从数据服务添加新数据至本地)
6. remove_field(删除原有的数据)
7. dv.save_dataview('保存至相应地址')

## 1_读取本地数据

In [3]:
from jaqs_fxdayu.data import DataView
from jaqs_fxdayu.data import RemoteDataService
import os
import numpy as np
import warnings

warnings.filterwarnings("ignore")

In [4]:
dv = DataView()
dataview_folder = fpath = "F:\\DeepLearning\\python\\JAQS_Data\\000300.SH\\lb.finIndicator2"
dv.load_dataview(dataview_folder)

IndexError: index -1 is out of bounds for axis 0 with size 0

In [3]:
times = dv.data_d.index

In [4]:
symbol = dv.data_d.columns.levels[0][1:]

In [5]:
fields = dv.data_d.columns.levels[1]

In [6]:
fields

Index(['BBI', 'BBIC', 'BollDown', 'BollMiddle', 'BollUp', 'CLV', 'CR20',
       'ChaikinVolatility', 'DBCD', 'DownRVI', 'EMA10', 'EMA12', 'EMA120',
       'EMA20', 'EMA26', 'EMA5', 'EMA60', 'EMV14', 'EMV6', 'Elder', 'MA10',
       'MA120', 'MA20', 'MA5', 'MA60', 'MFI', 'MassIndex', 'RVI', 'TEMA10',
       'TEMA5', 'UpRVI', 'adjust_factor', 'close', 'close_adj', 'fastD',
       'fastD_RSI', 'fastJ', 'fastJ_RSI', 'fastK', 'fastK_RSI', 'high',
       'high_adj', 'index_member', 'index_weight', 'low', 'low_adj', 'oi',
       'open', 'open_adj', 'slowD', 'slowJ', 'slowK', 'trade_status',
       'turnover', 'volume', 'vwap', 'vwap_adj'],
      dtype='object', name='field')

In [7]:
dv.fields

['close',
 'vwap',
 'vwap_adj',
 'volume',
 'index_weight',
 'low_adj',
 'oi',
 'open',
 'close_adj',
 'index_member',
 'turnover',
 'high_adj',
 'low',
 'adjust_factor',
 'open_adj',
 'high',
 'trade_status',
 'EMA10',
 'EMA12',
 'EMA120',
 'EMA20',
 'EMA26',
 'EMA5',
 'EMA60',
 'MA120',
 'MA20',
 'MA10',
 'MA5',
 'MA60',
 'BBI',
 'BBIC',
 'TEMA10',
 'TEMA5',
 'BollUp',
 'BollMiddle',
 'BollDown',
 'slowJ',
 'slowK',
 'slowD',
 'fastK',
 'fastD',
 'fastJ',
 'fastK_RSI',
 'fastD_RSI',
 'fastJ_RSI',
 'UpRVI',
 'DownRVI',
 'RVI',
 'DBCD',
 'MFI',
 'CR20',
 'MassIndex',
 'Elder',
 'CLV',
 'ChaikinVolatility',
 'EMV14',
 'EMV6']

In [9]:
name = "EMA12"
dv.add_formula(name, "Ta('EMA',0,open_adj,high_adj,low_adj,close_adj,volume,12)", is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

Field [EMA12] is overwritten.
(4847, 729)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000012.SZ,000016.SZ,000021.SZ,000022.SZ,000027.SZ,000029.SZ,...,603000.SH,603160.SH,603260.SH,603288.SH,603699.SH,603799.SH,603833.SH,603858.SH,603885.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,1014.331202,3484.581477,134.510537,51.725760,150.139259,112.662357,102.445360,95.418495,72.770439,24.196677,...,37.234747,67.775556,69.938705,295.439585,18.623370,97.442045,140.472212,47.698438,48.813825,21.387025
20180626,1005.148727,3450.694862,134.215944,51.263526,148.842258,113.021156,101.394465,95.418482,72.291401,24.196677,...,36.719899,67.315200,69.795545,294.896391,17.984291,97.440277,139.167256,47.201644,48.417018,21.268308
20180627,993.142351,3396.065905,133.966672,50.764886,147.584107,113.360209,100.549621,95.418470,71.820585,24.196677,...,36.233642,66.829894,69.573770,292.420586,17.469605,97.379945,137.286140,46.693065,47.739547,21.092341
20180628,980.315626,3343.155852,133.755751,50.281521,146.123652,113.079838,99.812343,95.418460,71.400377,24.196677,...,35.758921,66.269411,69.181740,289.980723,17.107435,96.726596,135.520580,46.106776,47.139324,20.913240
20180629,972.129727,3312.543444,133.577278,50.072197,145.415703,114.296209,99.702655,95.418452,71.197595,24.196677,...,35.509086,66.097925,69.464694,289.165185,16.835205,96.937087,134.291260,45.754036,46.815788,20.862379

In [10]:
name = "EMA120"
dv.add_formula(name, "Ta('EMA',0,open_adj,high_adj,low_adj,close_adj,volume,120)", is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

Field [EMA120] is overwritten.

KeyboardInterrupt:

In [ ]:
name = "EMA26"
dv.add_formula(name, "Ta('EMA',0,open_adj,high_adj,low_adj,close_adj,volume,26)", is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

In [ ]:
name = "EMA60"
dv.add_formula(name, "Ta('EMA',0,open_adj,high_adj,low_adj,close_adj,volume,60)", is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

In [ ]:
name = "MA120"
dv.add_formula(name, "Ta('MA',0,open_adj,high_adj,low_adj,close_adj,volume,120)", is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

In [ ]:
name = "MA20"
dv.add_formula(name, "Ta('MA',0,open_adj,high_adj,low_adj,close_adj,volume,20)", is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

In [ ]:
name = "MA60"
dv.add_formula(name, "Ta('MA',0,open_adj,high_adj,low_adj,close_adj,volume,60)", is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

In [ ]:
name = "BBI"
dv.add_formula(name, "(Ta('MA',0,open_adj,high_adj,low_adj,close_adj,volume,3)+Ta('MA',0,open_adj,high_adj,low_adj,close_adj,volume,6)"
               +"+Ta('MA',0,open_adj,high_adj,low_adj,close_adj,volume,12)+Ta('MA',0,open_adj,high_adj,low_adj,close_adj,volume,24))/4", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

In [34]:
name = "BBIC"
dv.add_formula(name, "BBI/close_adj", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,1.050288,1.029559,1.016488,1.064161,1.105393,1.562121,1.009964,1.056263,1.000000,1.004126,...,1.056780,1.016226,1.020867,1.051917,1.019094,0.989432,1.014043,1.023593,1.068926,1.047008
20180626,1.049535,1.054722,1.014076,1.045061,1.080348,1.492203,1.052827,1.025477,1.093750,1.005540,...,1.044565,1.030797,1.018450,1.031707,1.013469,1.007561,0.998203,1.052809,1.056293,1.026100
20180627,1.066018,1.090649,1.011872,1.053015,1.067752,1.458495,1.080627,1.028627,1.129510,1.007243,...,1.050922,1.037136,1.012813,1.036524,1.019870,1.047404,1.004825,1.078539,1.060646,1.045070
20180628,1.072076,1.087495,1.009772,1.053612,1.051099,1.384538,1.089391,1.025683,1.137533,1.012789,...,1.055447,1.052906,1.011011,1.045197,1.033281,1.045533,1.039737,1.070963,1.073628,1.047321
20180629,1.042079,1.043788,1.007797,1.022045,1.026899,1.315866,1.035270,0.998475,1.084641,0.996122,...,1.022040,1.028351,0.998490,1.010980,0.978187,1.011729,0.988726,1.046281,1.042842,1.011302

In [35]:
name = "TEMA10"
dv.add_formula(name, "Ta('TEMA',0,open_adj,high_adj,low_adj,close_adj,volume,10)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,984.962254,3490.866294,132.072182,46.974696,167.969474,224.158807,313.303058,8.318265,17.881812,263.905884,...,6.730816,13.245602,8.399324,63.676308,67.703929,291.691525,92.463555,137.606285,43.434445,19.833175
20180626,967.689716,3387.873669,132.321119,47.134071,166.637148,203.709521,305.009888,8.348467,17.073033,264.135738,...,6.755201,13.069045,8.351041,63.625299,68.044628,290.691552,94.145207,134.646169,43.318514,20.000070
20180627,944.460712,3243.465150,132.522457,47.028891,166.435775,190.222102,294.154841,8.354356,16.141519,264.068884,...,6.745940,12.866479,8.327061,63.401504,68.021095,284.218183,95.188801,130.472632,43.078363,19.921856
20180628,922.102485,3130.018109,132.680619,46.868510,167.434869,185.099824,283.716950,8.369411,15.290828,263.204075,...,6.712309,12.594113,8.313494,62.893938,67.440138,279.049701,94.172100,127.309859,42.546906,19.807852
20180629,916.268766,3100.437576,132.800839,47.429258,170.161837,185.624326,282.529516,8.498260,14.960995,264.746048,...,6.785970,12.517455,8.355986,63.522682,68.894149,279.521927,95.782907,126.157866,42.695804,20.052599

In [37]:
name = "BollUp"
dv.add_formula(name, "Ta('BBANDS',0,open_adj,high_adj,low_adj,close_adj,volume,5)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,1032.414595,3632.318690,132.59568,49.198827,185.716628,370.937855,317.981323,8.877761,17.881812,267.550309,...,6.961584,13.535542,8.648088,66.249339,70.434580,301.087134,97.799244,142.442556,45.759186,20.584656
20180626,1035.030777,3678.637595,132.59568,49.309217,182.453459,328.365574,325.186741,8.771437,18.954721,267.771627,...,6.991291,13.614589,8.557212,66.116775,70.133437,300.416365,99.359663,144.158072,45.591866,20.825390
20180627,1031.781386,3740.628410,132.59568,49.196075,173.676230,289.603980,329.405501,8.618685,19.242841,267.706967,...,6.983092,13.692333,8.512425,65.008446,70.151640,301.334031,100.460471,143.369550,44.951045,20.821137
20180628,1017.581741,3672.189586,132.59568,48.903162,174.638098,255.836272,327.267344,8.625304,19.013286,267.352696,...,7.003495,13.685561,8.471751,65.101075,70.179387,302.567885,98.746319,142.656334,45.407415,20.729554
20180629,976.928530,3431.440526,132.59568,49.241883,178.024609,230.867365,314.758556,8.796088,18.077418,268.211695,...,7.026248,13.240491,8.431187,65.613048,71.397996,301.673501,99.797216,138.178109,45.011479,20.837904

In [39]:
name = "BollDown"
dv.add_formula(name, "Ta('BBANDS',2,open_adj,high_adj,low_adj,close_adj,volume,5)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,964.588765,3340.081534,132.59568,47.005648,165.702934,201.088936,307.403894,8.183705,17.881812,259.729147,...,6.737661,13.000328,8.283649,63.381405,65.143816,285.606690,87.029965,135.085444,43.711817,19.591091
20180626,941.166215,3214.007941,132.59568,46.975128,165.313093,194.298155,294.945813,8.217581,16.093631,261.068597,...,6.767368,12.766742,8.255059,63.349300,66.780223,285.117710,88.891340,130.909928,43.637490,19.644110
20180627,910.962230,3011.935174,132.59568,46.928529,170.145071,194.711583,278.630011,8.285811,14.738876,261.913641,...,6.792542,12.493792,8.234682,63.730675,66.891625,276.963211,89.437019,125.594450,43.655761,19.629402
20180628,886.812883,2883.543518,132.59568,47.461055,170.206046,203.185822,265.328523,8.339566,13.682196,262.528040,...,6.755164,12.118285,8.226483,63.031582,66.842107,270.858410,92.495735,121.647666,42.752958,19.804520
20180629,896.460526,2945.355778,132.59568,47.361946,168.572980,214.896054,266.536128,8.289528,13.513783,262.189297,...,6.749386,12.189209,8.250756,62.885094,66.231874,270.129146,92.769274,121.545891,42.759801,19.782873

In [40]:
name = "slowK"
dv.add_formula(name, "Ta('STOCH',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,15.412889,49.282297,-5.210647e-14,13.359741,11.172196,2.368476e-14,46.060606,23.029148,-4.736952e-15,53.695652,...,26.410256,45.273632,24.292616,16.490201,62.517342,46.562904,49.658119,36.386675,14.573288,31.326193
20180626,18.597265,34.678348,-5.210647e-14,37.352415,19.988983,3.848331e+00,31.346401,45.631237,3.333333e+01,68.076923,...,46.956815,34.333766,21.031746,27.014306,71.994055,61.318257,71.804121,29.958378,28.240924,59.029678
20180627,14.917086,10.638602,-5.210647e-14,46.923077,25.226262,5.911037e+00,16.528442,57.878712,6.484730e+01,68.589744,...,54.649123,20.457940,18.939394,31.221405,66.945886,50.932018,81.359688,16.418923,28.828509,67.531868
20180628,13.041184,11.958313,-5.210647e-14,50.854701,45.754717,1.039283e+01,4.109812,75.401235,9.522417e+01,56.410256,...,51.315789,18.033890,33.606061,33.076721,51.562564,29.948808,73.081180,9.552398,24.523590,66.481609
20180629,10.551627,13.023291,-5.210647e-14,53.479853,67.983491,1.828692e+01,12.800520,85.277778,9.320988e+01,62.962963,...,51.190476,22.559021,50.606061,49.342784,59.586495,25.558941,72.488369,13.623718,24.165844,64.444130

In [41]:
name = "slowD"
dv.add_formula(name, "Ta('STOCH',1,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,18.688636,47.432672,-9.316005e-14,8.632935,9.642280,8.098730,43.848159,22.311840,-2.289527e-14,39.347826,...,19.212454,49.383712,40.948700,16.900539,51.234056,35.560981,34.971126,42.242090,12.450350,20.286139
20180626,18.464601,47.222400,-9.316005e-14,19.962888,14.190659,1.282777,41.752157,30.292908,1.111111e+01,53.537718,...,31.155935,44.141465,28.761215,20.410376,62.557498,46.853083,52.718131,38.296064,18.689630,36.992613
20180627,16.309080,31.533082,-9.316005e-14,32.545078,18.795814,3.253122,31.311817,42.179699,3.272688e+01,63.454106,...,42.672065,33.355112,21.421252,24.908638,67.152427,52.937726,67.607309,27.587992,23.880907,52.629247
20180628,15.518512,19.091754,-9.316005e-14,45.043398,30.323321,6.717399,17.328218,59.637061,6.446827e+01,64.358974,...,50.973909,24.275198,24.525734,30.437478,63.500835,47.399694,75.414996,18.643233,27.197675,64.347719
20180629,12.836632,11.873402,-9.316005e-14,50.419210,46.321490,11.530263,11.146258,72.852575,8.442712e+01,62.654321,...,52.385129,20.350283,34.383838,37.880303,59.364982,35.479922,75.643079,13.198346,25.839315,66.152536

In [42]:
name = "slowJ"
dv.add_formula(name, "3 * slowK - 2 * slowD", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,8.861396,52.981546,3.000069e-14,22.813353,14.232028,-16.197461,50.485500,24.463764,3.157968e-14,82.391304,...,40.805861,37.053471,-9.019554,15.669525,85.083913,68.566748,79.032105,24.675845,18.819164,53.406302
20180626,18.862594,9.590244,3.000069e-14,72.131469,31.585633,8.979438,10.534891,76.307897,7.777778e+01,97.155333,...,78.558576,14.718369,5.572809,40.222168,90.867169,90.248606,109.976102,13.283007,47.343511,103.103807
20180627,12.133097,-31.150360,3.000069e-14,75.679075,38.087158,11.226865,-13.038306,89.276738,1.290882e+02,78.861018,...,78.603239,-5.336406,13.975678,43.846940,66.532802,46.920601,108.864445,-5.919214,38.723713,97.337112
20180628,8.086528,-2.308570,3.000069e-14,62.477307,76.617510,17.743691,-22.327002,106.929581,1.567360e+02,40.512821,...,51.999550,5.551272,51.766715,38.355209,27.686023,-4.952964,68.413546,-8.629273,19.175422,70.749391
20180629,5.981616,15.323070,3.000069e-14,59.601140,111.307492,31.800243,16.109044,110.128184,1.107754e+02,63.580247,...,48.801170,26.976495,83.050505,72.267744,60.029521,5.716980,66.178950,14.474461,20.818904,61.027319

In [43]:
name = "fastK"
dv.add_formula(name, "Ta('STOCHF',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,10.389610,3.827751,0.0,21.538462,13.414634,0.000000,38.181818,32.432432,0.000000,75.000000,...,35.000000,17.910448,0.000000,19.176319,74.470946,85.526316,73.555736,31.784583,19.891501,52.112676
20180626,28.421053,19.346049,0.0,73.076923,30.188679,11.544992,2.631579,70.370370,100.000000,69.230769,...,78.947368,11.956522,25.000000,43.016760,71.468115,61.513158,87.469487,9.370079,43.321300,89.841222
20180627,5.940594,8.742004,0.0,46.153846,32.075472,6.188119,8.771930,70.833333,94.541910,61.538462,...,50.000000,31.506849,31.818182,31.471136,54.898596,5.756579,83.053839,8.102109,23.272727,60.641706
20180628,4.761905,7.786885,0.0,33.333333,75.000000,13.445378,0.925926,85.000000,91.130604,38.461538,...,25.000000,10.638298,44.000000,24.742268,28.320982,22.576687,48.720212,11.185006,6.976744,48.961900
20180629,20.952381,22.540984,0.0,80.952381,96.875000,35.227273,28.703704,100.000000,93.957115,88.888889,...,78.571429,25.531915,76.000000,91.814947,95.539906,48.343558,85.691057,21.584039,42.248062,83.728785

In [44]:
name = "fastD"
dv.add_formula(name, "Ta('STOCHF',1,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,15.412889,49.282297,-5.210647e-14,13.359741,11.172196,2.368476e-14,46.060606,23.029148,-4.736952e-15,53.695652,...,26.410256,45.273632,24.292616,16.490201,62.517342,46.562904,49.658119,36.386675,14.573288,31.326193
20180626,18.597265,34.678348,-5.210647e-14,37.352415,19.988983,3.848331e+00,31.346401,45.631237,3.333333e+01,68.076923,...,46.956815,34.333766,21.031746,27.014306,71.994055,61.318257,71.804121,29.958378,28.240924,59.029678
20180627,14.917086,10.638602,-5.210647e-14,46.923077,25.226262,5.911037e+00,16.528442,57.878712,6.484730e+01,68.589744,...,54.649123,20.457940,18.939394,31.221405,66.945886,50.932018,81.359688,16.418923,28.828509,67.531868
20180628,13.041184,11.958313,-5.210647e-14,50.854701,45.754717,1.039283e+01,4.109812,75.401235,9.522417e+01,56.410256,...,51.315789,18.033890,33.606061,33.076721,51.562564,29.948808,73.081180,9.552398,24.523590,66.481609
20180629,10.551627,13.023291,-5.210647e-14,53.479853,67.983491,1.828692e+01,12.800520,85.277778,9.320988e+01,62.962963,...,51.190476,22.559021,50.606061,49.342784,59.586495,25.558941,72.488369,13.623718,24.165844,64.444130

In [45]:
name = "fastJ"
dv.add_formula(name, "3 * fastK - 2 * fastD", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,0.343053,-87.081340,1.042129e-13,37.895903,17.899510,-4.736952e-14,22.424242,51.239001,9.473903e-15,117.608696,...,52.179487,-36.815920,-48.585231,24.548555,98.378156,163.453140,121.350971,22.580398,30.527926,93.685641
20180626,48.068628,-11.318549,1.042129e-13,144.525939,50.588071,2.693831e+01,-54.798066,119.848637,2.333333e+02,71.538462,...,142.928475,-32.797967,32.936508,75.021667,70.416235,61.902960,118.800220,-31.806520,73.482051,151.464312
20180627,-12.012389,4.948810,1.042129e-13,44.615385,45.773892,6.742283e+00,-6.741095,96.742576,1.539311e+02,47.435897,...,40.701754,53.604669,57.575758,31.970598,30.804015,-84.594298,86.442143,-8.531521,12.161163,46.861382
20180628,-11.796653,-0.555970,1.042129e-13,-1.709402,133.490566,1.955048e+01,-5.441845,104.197531,8.294347e+01,2.564103,...,-27.631579,-4.152886,64.787879,8.073362,-18.162182,7.832445,-0.001724,14.450222,-28.116948,13.922480
20180629,41.753890,41.576369,1.042129e-13,135.897436,154.658019,6.910797e+01,60.510071,129.444444,9.545159e+01,140.740741,...,133.333333,31.477703,126.787879,176.759273,167.446729,93.912792,112.096432,37.504680,78.412497,122.298094

In [46]:
name = "fastK_RSI"
dv.add_formula(name, "Ta('STOCHRSI',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,0.000000,0.000000,0.0,97.652605,48.756675,0.0,41.095754,45.923840,100.000000,100.000000,...,100.000000,35.469342,0.000000,0.000000,84.220575,95.220801,100.000000,12.171040,76.166281,96.427462
20180626,0.000000,0.000000,100.0,100.000000,100.000000,0.0,0.000000,100.000000,0.000000,87.580346,...,100.000000,3.128154,0.000000,100.000000,87.056025,23.956151,100.000000,0.000000,90.159586,100.000000
20180627,0.000000,0.000000,0.0,85.849396,100.000000,0.0,0.000000,90.159991,0.000000,74.806148,...,81.294779,0.000000,15.812527,64.165672,63.442725,0.000000,95.967624,0.000000,54.644211,74.243596
20180628,0.000000,0.000000,0.0,22.313959,100.000000,100.0,0.000000,87.147463,0.000000,0.000000,...,0.000000,0.000000,15.812527,9.078480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20180629,96.002835,46.116627,100.0,100.000000,100.000000,100.0,55.969856,100.000000,95.676077,100.000000,...,100.000000,59.156767,100.000000,100.000000,100.000000,40.788265,100.000000,29.291968,100.000000,100.000000

In [47]:
name = "fastD_RSI"
dv.add_formula(name, "Ta('STOCHRSI',1,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,3.063545e+00,58.231980,66.666667,52.597688,23.629107,-1.894781e-14,4.784292e+01,23.586311,33.333333,64.740999,...,62.304891,78.489781,21.938254,1.829154,73.813240,31.740267,79.081958,2.255674e+01,36.924187,64.788229
20180626,9.775117e-01,33.333333,66.666667,85.931021,56.962440,-1.894781e-14,3.275123e+01,56.919644,33.333333,89.135578,...,92.222236,46.199165,8.321849,33.333333,90.425533,39.725651,100.000000,1.931110e+01,66.977382,94.059913
20180627,-3.034610e-14,0.000000,33.333333,94.500667,82.918892,-1.894781e-14,1.369858e+01,78.694610,33.333333,87.462165,...,93.764926,12.865832,5.270842,54.721891,78.239775,39.725651,98.655875,4.057013e+00,73.656693,90.223686
20180628,-3.034610e-14,0.000000,33.333333,69.387785,100.000000,3.333333e+01,3.315866e-14,92.435818,0.000000,54.128831,...,60.431593,1.042718,10.541685,57.748051,50.166250,7.985384,65.322541,1.302662e-14,48.267932,58.081199
20180629,3.200095e+01,15.372209,33.333333,69.387785,100.000000,6.666667e+01,1.865662e+01,92.435818,31.892026,58.268716,...,60.431593,19.718922,43.875018,57.748051,54.480908,13.596088,65.322541,9.763989e+00,51.548070,58.081199

In [48]:
name = "fastJ_RSI"
dv.add_formula(name, "3 * fastK_RSI - 2 * fastD_RSI", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-6.127091e+00,-116.463961,-133.333333,187.762440,99.011810,3.789561e-14,2.760142e+01,90.598899,233.333333,170.518002,...,175.390218,-50.571534,-43.876509,-3.658309,105.035245,222.181869,141.836084,-8.600352e+00,154.650470,159.705927
20180626,-1.955023e+00,-66.666667,166.666667,128.137958,186.075119,3.789561e-14,-6.550245e+01,186.160712,-66.666667,84.469882,...,115.555529,-83.013870,-16.643698,233.333333,80.317007,-7.582848,100.000000,-3.862219e+01,136.523994,111.880175
20180627,6.069219e-14,0.000000,-66.666667,68.546854,134.162217,3.789561e-14,-2.739717e+01,113.090752,-66.666667,49.494115,...,56.354484,-25.731664,36.895897,83.053235,33.848624,-79.451301,90.591122,-8.114027e+00,16.619247,42.283417
20180628,6.069219e-14,0.000000,-66.666667,-71.833694,100.000000,2.333333e+02,-6.631732e-14,76.570754,0.000000,-108.257663,...,-120.863186,-2.085436,26.354212,-88.260661,-100.332499,-15.970767,-130.645082,-2.605323e-14,-96.535865,-116.162397
20180629,2.240066e+02,107.605462,233.333333,161.224430,100.000000,1.666667e+02,1.305963e+02,115.128364,223.244179,183.462568,...,179.136814,138.032456,212.249963,184.503898,191.038184,95.172618,169.354918,6.834792e+01,196.903859,183.837603

In [49]:
name = "UpRVI"
dv.add_formula(name, "Ta('EMA',0,open_adj,high_adj,low_adj,StdDev(close_adj,10)*(Delta(close_adj,1)>0)+0,volume,2*10-1)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,6.171080,38.696521,0.618333,0.598194,3.261006,0.049850,2.042933,0.060799,4.181172e-07,1.175240,...,0.116280,0.058914,0.039176,0.723743,1.237891,4.023888,2.599405,0.996128,0.839166,0.374646
20180626,5.553972,34.826869,0.556500,0.919852,4.621635,0.044865,1.838640,0.099630,3.763055e-07,1.057716,...,0.145771,0.053023,0.035258,1.004280,1.332657,3.621500,2.870041,0.896515,1.044941,0.462306
20180627,4.998575,31.344182,0.500850,0.827867,5.668837,0.040379,1.654776,0.089667,3.386750e-07,0.951944,...,0.131194,0.047721,0.041268,0.903852,1.199391,3.259350,2.583037,0.806864,0.940447,0.416075
20180628,4.498717,28.209764,0.450765,0.745080,6.396177,7.693681,1.489298,0.080700,3.048075e-07,0.856750,...,0.118075,0.042948,0.037141,0.813466,1.079452,2.933415,2.324733,0.726177,0.846402,0.374468
20180629,8.437215,45.771090,0.405688,0.859373,6.674266,13.044189,2.928438,0.097974,1.390009e-01,1.048765,...,0.129122,0.075934,0.043550,0.905044,1.123226,3.446587,2.434927,1.277765,0.934065,0.403590

In [50]:
name = "DownRVI"
dv.add_formula(name, "Ta('EMA',0,open_adj,high_adj,low_adj,StdDev(close_adj,10)*(Delta(close_adj,1)<0)+0,volume,2*10-1)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,10.531677,38.560151,1.061922,1.587513,5.411324,45.401525,1.355925,0.168988,0.000001,1.412360,...,0.125253,0.082251,0.055893,1.782086,1.453644,4.145904,2.103813,1.140404,1.285033,0.539046
20180626,12.113774,44.682217,0.955729,1.428762,4.870191,51.547048,1.933022,0.152089,0.056548,1.708125,...,0.112728,0.090476,0.059130,1.603877,1.308280,4.383019,1.893431,1.389177,1.156530,0.485142
20180627,14.389221,55.767221,0.860156,1.625730,4.383172,55.590728,2.905892,0.177311,0.147063,1.907482,...,0.136963,0.104828,0.053217,1.760096,1.358328,4.631788,2.138947,1.765791,1.296941,0.545870
20180628,17.268415,69.523310,0.774141,1.745856,3.944855,50.031656,4.177137,0.159580,0.260441,2.053186,...,0.155283,0.128600,0.047895,1.852762,1.394027,4.980180,2.288524,2.209521,1.401828,0.586055
20180629,15.541574,62.570979,0.696727,1.571271,3.550369,45.028490,3.759423,0.143622,0.234396,1.847868,...,0.139755,0.115740,0.043106,1.667486,1.254624,4.482162,2.059672,1.988569,1.261645,0.527450

In [51]:
name = "RVI"
dv.add_formula(name, "100 * UpRVI / (UpRVI + DownRVI)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,36.946476,50.088258,36.79996,27.368462,37.602420,0.109678,60.106447,26.458857,25.725318,45.418137,...,48.142463,41.734342,41.207962,28.882375,45.991996,49.253249,55.268649,46.623588,39.505063,41.003514
20180626,31.435657,43.802376,36.79996,39.165744,48.690684,0.086962,48.748796,39.579725,0.000665,38.242098,...,56.391380,36.950083,37.354702,38.505341,50.461526,45.243191,60.251023,39.222925,47.465584,48.794883
20180627,25.782069,35.981721,36.79996,33.740952,56.395066,0.072583,36.283624,33.585829,0.000230,33.291444,...,48.924410,31.282110,43.676826,33.929035,46.893008,41.303927,54.702363,31.363072,42.033258,43.253543
20180628,20.667479,28.864091,36.79996,29.911646,61.852406,13.328084,26.282804,33.585829,0.000117,29.442218,...,43.194252,25.035796,43.676826,30.510002,43.641048,37.068044,50.392441,24.736099,37.647487,38.985826
20180629,35.186161,42.246831,36.79996,35.355776,65.276322,22.461835,43.787360,40.552820,37.225998,36.206344,...,48.022856,39.616266,50.256347,35.181074,47.237046,43.469492,54.174513,39.119236,42.540447,43.348296

In [52]:
name = "DBCD"
dv.add_formula("DIF", "(close_adj/MA5-1)*100-Delay((close_adj/MA5-1)*100,16)", 
               is_quarterly=False, add_data=True)
dv.add_formula(name, "Ta('EMA',0,DIF,DIF,DIF,DIF,DIF,17)", 
               is_quarterly=False, add_data=True)
dv.remove_field("DIF")
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,0.171731,1.470665,0.306466,-1.617589,-2.576722,-11.126788,0.316277,-1.402522,0.000011,0.083544,...,-1.150795,0.340885,0.020223,-0.330716,-0.934662,-1.590618,-0.397486,-0.402582,-2.545425,-0.346822
20180626,-0.121972,0.575875,0.347170,-1.104079,-2.407133,-11.403855,-0.257823,-1.168791,-0.907019,0.011315,...,-0.728060,0.103802,0.125475,-0.521132,-0.467797,-1.592761,0.168603,-0.486658,-2.091205,0.035430
20180627,-0.669102,-1.045952,0.423103,-0.932463,-2.114170,-11.225565,-1.079038,-1.068938,-1.967408,-0.096603,...,-0.595257,-0.308385,0.143336,-0.610683,0.575588,-2.344320,1.065911,-1.064964,-1.850220,0.187313
20180628,-1.159598,-2.240148,1.332757,-1.117407,-1.943938,-10.457221,-1.856198,-1.210159,-2.891689,-0.242456,...,-0.735607,-0.833713,0.150544,-0.907120,0.460818,-3.036298,0.745286,-1.606336,-2.096765,-0.147632
20180629,-1.070462,-2.276984,1.902456,-0.970917,-1.665830,-9.364795,-1.765339,-0.928090,-3.044846,-0.133621,...,-0.447064,-0.860800,0.302107,-0.879266,0.855439,-3.232714,0.630067,-1.650712,-1.892540,-0.218232

In [53]:
name = "MFI"
dv.add_formula(name, "Ta('MFI',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,32.745048,62.809617,1.724796e-14,30.263244,19.773361,0.518417,65.373193,26.414560,0.000000,40.579301,...,17.031141,41.197833,47.995217,43.010873,59.511194,54.011377,48.946061,48.718508,22.291354,37.701575
20180626,31.834274,55.260810,0.000000e+00,26.480624,14.816682,0.343885,57.575277,24.364835,100.000000,40.992878,...,16.972400,35.195886,49.112299,36.337811,50.187718,48.834904,41.423376,41.248481,12.481841,31.394343
20180627,31.289317,54.551061,0.000000e+00,21.084001,11.828219,0.276896,55.639874,30.250208,8.327020,41.104445,...,22.102905,34.033473,55.761366,31.262667,48.643392,42.774602,38.918364,41.000727,12.844315,26.558860
20180628,22.251131,47.970499,0.000000e+00,16.414432,17.487001,14.904053,49.260780,29.478288,6.026154,36.073139,...,22.707508,28.531967,48.684112,32.817704,41.228641,36.517990,32.567761,34.417205,4.352576,27.503738
20180629,27.884633,52.638055,0.000000e+00,26.055804,23.316515,12.874567,54.294572,35.467524,21.729355,41.793113,...,30.653738,33.553946,56.629391,41.442290,49.838848,29.017165,40.613212,43.563874,12.833127,35.137496

In [54]:
name = "CR20"
dv.add_formula("TYP", "(high_adj+low_adj+close_adj)/3", 
               is_quarterly=False, add_data=True)
dv.add_formula(name, "Ts_Sum(Max(high_adj-TYP,0),20)/Ts_Sum(Max(TYP-low_adj,0),20)*100", 
               is_quarterly=False, add_data=True)
dv.remove_field("TYP")
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,113.079470,100.458878,5.249457,129.323308,130.825243,0.366622,97.893031,100.812845,0.000000,93.043478,...,132.740214,101.485884,87.610619,110.899290,105.478341,92.322510,106.490697,96.362827,123.846154,106.924101
20180626,109.486781,99.390863,4.030944,124.096386,125.000000,0.646371,103.961965,95.075461,0.000000,90.677966,...,127.551020,101.997147,88.695652,106.642821,104.619837,94.069854,103.856186,98.609790,126.174340,103.161172
20180627,109.770992,100.625617,3.483920,125.542169,125.681818,1.057062,105.819296,94.765313,0.480559,90.794979,...,127.697842,104.092072,95.092025,107.763377,102.832095,94.519653,104.923010,100.602282,120.688801,104.447224
20180628,108.715596,99.967877,3.077663,124.257426,122.737819,1.468424,109.907121,93.280632,0.927967,90.677966,...,126.086957,105.778894,90.419162,109.063772,104.529207,98.971496,106.226947,103.174256,121.503759,104.097295
20180629,109.677419,100.723684,2.548060,120.608899,122.916667,1.954104,108.245877,91.338583,1.280312,92.207792,...,121.830986,103.676471,89.090909,109.751997,102.713917,97.560264,104.575583,103.597799,122.969838,101.680939

In [55]:
name = "MassIndex"
dv.add_formula("EMAHL", "Ta('EMA',0,0,0,0,high_adj-low_adj,9)", 
               is_quarterly=False, add_data=True)
dv.add_formula("EMARatio", "EMAHL/Ta('EMA',0,0,0,0,EMAHL,9)", 
               is_quarterly=False, add_data=True)
dv.add_formula(name, "Ts_Sum(EMARatio,25)", 
               is_quarterly=False, add_data=True)
dv.remove_field("EMAHL")
dv.remove_field("EMARatio")
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,22.122122,23.623764,25.357107,24.614637,27.184803,7.582230,24.977466,24.793280,1.954726,27.561451,...,24.257088,23.619488,23.118637,22.660204,26.489546,28.054521,23.731605,25.372874,26.466824,23.491652
20180626,22.467670,24.048072,24.402316,24.739622,27.581350,10.737753,25.337201,25.259291,1.937826,27.713016,...,24.621069,24.104521,23.157339,22.904798,26.401958,27.988532,23.844133,25.493779,26.357173,23.646429
20180627,22.847999,24.527596,23.517775,24.859133,27.856736,13.723698,25.819353,25.668933,10.848783,27.837597,...,24.842440,24.781687,23.245313,23.113371,26.292068,27.987680,23.877182,25.688093,26.253025,23.777631
20180628,23.176038,24.961463,22.671504,24.948314,27.903818,16.351614,26.200688,25.989360,16.534137,27.939971,...,25.060386,25.349941,23.378453,23.303042,26.093103,28.015674,23.936171,25.863265,26.107466,23.855861
20180629,23.480156,25.350201,21.907280,25.102919,27.936863,18.844242,26.588710,26.290324,20.837602,28.075143,...,25.294376,25.840082,23.532604,23.494097,25.966847,27.984557,24.047438,25.992536,25.973868,23.968463

In [56]:
name = "Elder"
dv.add_formula("BullPower", "high_adj - Ta('EMA',0,0,0,0,close_adj,13)", 
               is_quarterly=False, add_data=True)
dv.add_formula("BearPower", "low_adj - Ta('EMA',0,0,0,0,close_adj,13)", 
               is_quarterly=False, add_data=True)
dv.add_formula(name, "(BullPower-BearPower)/close_adj", 
               is_quarterly=False, add_data=True)
dv.remove_field("BullPower")
dv.remove_field("BearPower")
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,0.057082,0.074368,0.0,0.024845,0.025696,0.051187,0.028133,0.018051,0.000000,0.009780,...,0.018405,0.040279,0.022838,0.023705,0.036055,0.041445,0.041535,0.032837,0.023771,0.027070
20180626,0.037393,0.048160,0.0,0.034836,0.038217,0.057982,0.045822,0.042254,0.000000,0.014706,...,0.033639,0.023715,0.017974,0.041073,0.038209,0.036154,0.058672,0.039321,0.024177,0.055556
20180627,0.040704,0.070190,0.0,0.029106,0.021186,0.047471,0.067416,0.021277,0.061856,0.014742,...,0.021672,0.069021,0.024470,0.017997,0.023115,0.043955,0.023333,0.067118,0.026592,0.037398
20180628,0.023543,0.044807,0.0,0.020964,0.025210,0.039474,0.031746,0.021277,0.044920,0.014851,...,0.031348,0.029630,0.024470,0.026537,0.034234,0.053956,0.051869,0.028058,0.035339,0.026273
20180629,0.018702,0.028862,0.0,0.042857,0.022634,0.054490,0.040111,0.031034,0.042531,0.019465,...,0.030488,0.019417,0.017713,0.032362,0.058807,0.040060,0.048425,0.039128,0.024538,0.038156

In [58]:
name = "CLV"
dv.add_formula(name, "(2*close_adj-high_adj-low_adj)/(high_adj-low_adj)*volume / 1000000", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-84.107553,-56.579659,NaN,-4.539461,-19.249009,-550.768020,-13.271195,-6.083240e+01,NaN,-8.424265,...,-14.319591,-12.846811,-16.735308,-0.823203,-2.183061,2.291021,-10.700825,-0.254270,-2.445609,-59.088197
20180626,61.025662,9.141770,NaN,3.354651,13.427600,233.568128,-34.438105,7.218590e+01,NaN,9.208460,...,18.497525,-3.617990,1.695848,0.948395,1.779942,-1.435008,8.635956,-0.407970,2.398170,54.391703
20180627,-70.617749,-34.803859,NaN,-2.827370,-7.801403,-133.993126,-22.486510,1.849196e+01,-5.388083,-9.522695,...,-19.887501,0.933120,-7.994614,-0.638595,-1.805224,-5.032029,-3.291805,-0.397619,-2.245887,-41.791711
20180628,-58.182878,-13.399904,NaN,-6.584043,-3.043790,-64.958883,-23.088834,-4.272924e-13,-6.970295,-8.896208,...,-18.384642,-8.775431,6.971341,-0.780999,-2.702839,-0.221890,-10.944498,0.028570,-2.934524,-23.592631
20180629,35.751160,35.288491,NaN,9.516702,13.974895,157.838898,24.456806,5.404979e+01,1.751456,10.673230,...,19.770449,7.864314,11.561293,1.371168,4.762633,1.345403,13.104003,0.287702,4.814839,77.266341

In [59]:
name = "ChaikinVolatility"
dv.add_formula("HLEMA", "Ta('EMA',0,0,0,0,high_adj-low_adj,10)", 
               is_quarterly=False, add_data=True)
dv.add_formula(name, "100*Delta(HLEMA,10)/Delay(HLEMA,10)", 
               is_quarterly=False, add_data=True)
dv.remove_field("HLEMA")
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,9.127421,31.142114,-69.205385,32.619560,55.534487,565.230203,29.810731,68.944151,-6.920539e+01,25.056400,...,20.067748,50.198213,-4.649369,6.351859,-1.428263,1.241423,6.905833,25.114358,9.561571,7.383984
20180626,20.518703,29.125072,-69.205385,34.741701,59.442885,1361.722707,35.096744,69.302455,-6.920539e+01,24.575924,...,24.696436,54.861900,-4.134863,6.548417,-1.152931,-5.150929,8.589609,29.259693,5.903324,16.885213
20180627,32.680098,42.197647,-69.205385,34.008296,56.660052,2071.583721,56.697476,60.841282,1.201191e+07,11.241912,...,25.678733,92.302500,3.473042,0.959861,-6.697817,-7.297358,4.877252,45.758083,5.299866,16.288370
20180628,36.517334,38.510132,-69.205385,30.904688,48.378193,2739.260372,50.504669,56.646705,2.147135e+07,14.042703,...,19.423995,86.174391,13.065523,-1.361697,-7.858789,-9.212738,11.371609,41.218862,4.937346,17.407547
20180629,28.115302,36.013418,-69.205385,36.993614,44.532293,3784.959833,53.782967,46.893888,3.185984e+07,14.072970,...,17.061403,82.629285,15.250399,2.313865,-0.434338,-7.208021,16.701760,35.642795,5.449046,17.817854

In [60]:
name = "EMV14"
dv.add_formula(name, "Ta('EMA',0,0,0,0,((high_adj+low_adj)/2-(Delay(high_adj,1)+Delay(low_adj,1))/2)*(high_adj-low_adj)/volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-0.000002,-0.000008,NaN,-8.968902e-08,-1.014847e-06,-2.295690e-07,-1.005404e-07,-4.011040e-10,NaN,-8.857737e-08,...,-7.996573e-10,1.304909e-10,-1.320110e-10,-0.000001,-3.040779e-07,-1.408582e-07,-2.091929e-07,-0.000005,-2.406969e-07,-2.447532e-09
20180626,-0.000003,-0.000080,NaN,-8.550114e-08,-1.041219e-06,-2.721831e-07,-5.798260e-07,-3.817836e-10,-1.604430e-08,-1.603833e-07,...,-8.446864e-10,-1.052225e-09,-2.199840e-10,-0.000001,-3.335790e-07,-4.305785e-07,-2.475352e-07,-0.000008,-2.377499e-07,-3.011093e-09
20180627,-0.000003,-0.000108,NaN,-7.835131e-08,-8.495050e-07,-2.375080e-07,-1.194552e-06,-3.065118e-10,-1.855406e-08,-8.334772e-08,...,-6.803952e-10,-2.855440e-09,-1.443118e-10,-0.000001,-2.743064e-07,-2.652040e-06,-1.703237e-07,-0.000013,-2.065717e-07,-2.240955e-09
20180628,-0.000003,-0.000122,NaN,-7.233703e-08,-7.258878e-07,-2.136388e-07,-1.412353e-06,-2.585113e-10,-2.021850e-08,-1.374721e-07,...,-6.809908e-10,-3.048602e-09,-2.516505e-10,-0.000001,-3.092133e-07,-4.923466e-06,-2.459821e-07,-0.000014,-2.178542e-07,-2.415565e-09
20180629,-0.000002,-0.000101,NaN,-6.051732e-08,-6.022635e-07,-2.157738e-07,-1.129171e-06,-1.707810e-10,-1.726180e-08,-6.936541e-08,...,-5.850811e-10,-2.870516e-09,-1.244988e-10,-0.000001,-1.817667e-07,-2.239681e-06,-1.922471e-07,-0.000012,-1.962358e-07,-1.977790e-09

In [61]:
name = "EMV6"
dv.add_formula(name, "Ta('EMA',0,0,0,0,((high_adj+low_adj)/2-(Delay(high_adj,1)+Delay(low_adj,1))/2)*(high_adj-low_adj)/volume,6)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-0.000002,-0.000008,NaN,-8.968902e-08,-1.014847e-06,-2.295690e-07,-1.005404e-07,-4.011040e-10,NaN,-8.857737e-08,...,-7.996573e-10,1.304909e-10,-1.320110e-10,-0.000001,-3.040779e-07,-1.408582e-07,-2.091929e-07,-0.000005,-2.406969e-07,-2.447532e-09
20180626,-0.000003,-0.000080,NaN,-8.550114e-08,-1.041219e-06,-2.721831e-07,-5.798260e-07,-3.817836e-10,-1.604430e-08,-1.603833e-07,...,-8.446864e-10,-1.052225e-09,-2.199840e-10,-0.000001,-3.335790e-07,-4.305785e-07,-2.475352e-07,-0.000008,-2.377499e-07,-3.011093e-09
20180627,-0.000003,-0.000108,NaN,-7.835131e-08,-8.495050e-07,-2.375080e-07,-1.194552e-06,-3.065118e-10,-1.855406e-08,-8.334772e-08,...,-6.803952e-10,-2.855440e-09,-1.443118e-10,-0.000001,-2.743064e-07,-2.652040e-06,-1.703237e-07,-0.000013,-2.065717e-07,-2.240955e-09
20180628,-0.000003,-0.000122,NaN,-7.233703e-08,-7.258878e-07,-2.136388e-07,-1.412353e-06,-2.585113e-10,-2.021850e-08,-1.374721e-07,...,-6.809908e-10,-3.048602e-09,-2.516505e-10,-0.000001,-3.092133e-07,-4.923466e-06,-2.459821e-07,-0.000014,-2.178542e-07,-2.415565e-09
20180629,-0.000002,-0.000101,NaN,-6.051732e-08,-6.022635e-07,-2.157738e-07,-1.129171e-06,-1.707810e-10,-1.726180e-08,-6.936541e-08,...,-5.850811e-10,-2.870516e-09,-1.244988e-10,-0.000001,-1.817667e-07,-2.239681e-06,-1.922471e-07,-0.000012,-1.962358e-07,-1.977790e-09

In [62]:
name = "MINUS_DI"
dv.add_formula(name, "Ta('MINUS_DI',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,36.981582,23.381969,5.629525,40.912305,49.442016,5.221130,21.365222,46.157765,0.001293,28.537428,...,44.446882,17.939970,22.753932,37.303807,28.047384,21.959977,29.259531,17.291751,39.248017,39.246311
20180626,41.439569,31.537443,5.052129,40.079526,50.703444,5.589813,30.612472,45.708293,0.001283,31.827314,...,46.373740,25.574276,25.572071,38.095752,28.590499,20.754430,29.965530,23.613455,40.505528,41.135924
20180627,38.818334,34.638040,4.549601,37.660914,48.575118,5.573628,37.477813,43.371044,0.553552,29.894422,...,44.304995,33.000747,23.221373,36.932694,27.597308,24.990540,29.042171,28.404258,38.443977,38.775343
20180628,40.933986,34.241200,4.109402,35.990265,46.075702,5.559136,37.998202,41.107368,0.674949,31.128650,...,44.670748,30.277100,24.732761,37.869250,28.683903,27.799900,31.681147,29.168979,40.109361,38.980392
20180629,38.466824,32.587283,3.721616,32.708833,43.848423,5.723505,34.575316,37.911008,0.672551,28.607055,...,41.781017,28.583407,23.090158,35.668145,26.046660,25.994906,29.307574,27.022410,38.171937,36.546949

In [63]:
name = "MINUS_DM"
dv.add_formula(name, "Ta('MINUS_DM',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,124.532307,416.916279,70.337371,9.579208,44.305979,215.378729,24.894197,1.619116,0.003236,18.773922,...,1.528062,0.657065,0.494259,14.794533,13.484668,38.418178,22.367396,10.977236,9.453811,5.143019
20180626,145.214822,589.079505,65.313273,9.394172,45.524878,214.953038,38.237342,1.654398,0.003005,20.684528,...,1.588670,0.965977,0.553985,15.043084,13.517804,35.905972,22.983827,15.393148,9.495290,5.476726
20180627,140.961855,677.370637,60.648039,8.723159,42.273101,199.599250,50.627405,1.536227,1.210597,19.207061,...,1.475194,1.445996,0.514415,13.968578,12.552246,43.585709,21.342125,19.613637,8.817055,5.085531
20180628,147.211871,668.608740,56.316036,8.100076,39.253594,185.342161,50.990452,1.426496,1.375098,19.786088,...,1.475920,1.342711,0.559126,13.934740,12.772750,49.170562,23.148905,19.732663,9.149759,4.951338
20180629,136.696737,620.850973,52.293462,7.521500,36.449766,177.882857,47.348277,1.324604,1.276877,18.372796,...,1.370497,1.246803,0.519188,12.939401,11.860411,45.658379,21.495411,18.323187,8.496205,4.597671

In [64]:
name = "PLUS_DI"
dv.add_formula(name, "Ta('PLUS_DI',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,15.203291,23.342566,1.167846,9.775991,8.123916,6.954981,19.772274,10.972069,0.000020,15.498082,...,9.658002,21.481315,14.536478,14.260641,12.778247,23.497003,17.237741,11.162891,12.846567,11.639423
20180626,13.566061,20.691131,1.048065,9.068090,7.528970,6.927926,17.126686,9.873977,6.871234,14.567594,...,8.999964,19.341914,13.534438,13.299709,12.065633,22.063621,15.953037,10.094344,12.257381,10.638155
20180627,12.156263,18.351600,0.943816,8.520874,9.731492,6.907867,14.705051,9.369080,6.833286,16.719426,...,9.873052,15.482270,15.967270,12.893670,11.646491,20.322612,15.571020,8.848846,12.437148,10.776184
20180628,11.397808,17.066294,0.852496,8.142885,10.945916,6.889905,13.745718,9.749965,6.811190,15.693065,...,9.238970,14.204473,14.528967,12.306115,11.046354,18.608072,14.541574,8.387107,11.610941,10.332004
20180629,12.145883,16.443217,0.772050,10.873807,12.174598,6.863150,15.413314,13.311642,6.811778,17.459548,...,9.288201,13.409879,17.186625,13.113126,14.406800,19.446771,14.549848,9.982042,11.050092,12.028030

In [65]:
name = "PLUS_DM"
dv.add_formula(name, "Ta('PLUS_DM',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,51.195781,416.213681,14.591503,2.288951,7.280003,286.902433,23.038135,0.384877,0.000051,10.195725,...,0.332037,0.786769,0.315760,5.655710,6.143547,41.107150,13.177361,7.086482,3.094399,1.525284
20180626,47.538940,386.484132,13.549253,2.125454,6.760003,266.409402,21.392554,0.357386,16.093678,9.467459,...,0.308320,0.730572,0.293206,5.251731,5.704722,38.170925,12.236121,6.580305,2.873370,1.416335
20180627,44.143301,358.878123,12.581449,1.973636,8.468952,247.380159,19.864514,0.331858,14.944129,10.742172,...,0.328736,0.678388,0.353717,4.876607,5.297242,35.444430,11.442625,6.110283,2.852437,1.413337
20180628,40.990208,333.243971,11.682774,1.832662,9.325231,229.710148,18.445620,0.338341,13.876691,9.974874,...,0.305255,0.629932,0.328452,4.528278,4.918867,32.912685,10.625294,5.673834,2.648691,1.312384
20180629,43.161936,313.275191,10.848291,2.500466,10.120347,213.302280,21.107366,0.465106,12.932557,11.213343,...,0.304671,0.584936,0.386446,4.757074,6.560172,34.157001,10.671473,6.768560,2.459499,1.513148

In [66]:
name = "DEMA"
dv.add_formula(name, "Ta('DEMA',0,open_adj,high_adj,low_adj,close_adj,volume,30)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,998.311934,3403.604233,129.765437,51.657846,190.631886,381.224376,312.280138,8.844835,17.875805,267.281061,...,7.122767,13.158687,8.460324,65.672675,71.287772,304.880032,97.071760,141.521846,48.312403,21.150841
20180626,989.782896,3379.802211,129.357230,51.074346,187.418768,357.778425,309.939606,8.786990,17.652852,266.840371,...,7.044763,13.096220,8.430958,65.173506,70.996419,304.430772,96.796946,140.328496,47.719219,20.977931
20180627,978.733976,3337.424629,129.013475,50.466645,184.588546,335.797862,306.339568,8.727938,17.341563,266.367220,...,6.965460,13.016454,8.406444,64.657309,70.651487,302.349050,96.511331,138.618858,47.114978,20.763812
20180628,966.684771,3293.905848,128.727555,49.874787,182.243553,316.222059,302.149176,8.675364,16.991740,265.702513,...,6.884996,12.905842,8.384640,64.081884,70.174182,300.149288,95.774756,136.932989,46.446210,20.549253
20180629,958.068321,3266.306099,128.493438,49.509530,180.612732,298.922071,299.862898,8.658833,16.732722,265.676871,...,6.837944,12.833401,8.378859,63.820330,70.242274,299.139754,95.738718,135.626113,45.962467,20.440622

In [67]:
name = "KAMA"
dv.add_formula(name, "Ta('KAMA',0,open_adj,high_adj,low_adj,close_adj,volume,30)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,1052.950158,3506.616478,140.927198,53.513626,196.239931,265.309215,323.201322,9.196832,17.881812,273.599507,...,7.389803,13.624082,8.768088,71.663741,71.525309,295.452037,108.232724,141.244265,51.131459,23.109602
20180626,1038.931098,3500.595880,140.504399,52.924948,192.352238,247.721752,322.068456,9.153292,17.087065,273.395284,...,7.326542,13.563925,8.720253,71.375064,71.492283,295.363484,107.755946,140.788810,50.924696,22.808039
20180627,1021.572481,3485.638463,139.825824,52.218925,189.201230,234.702376,319.285146,9.107302,16.255136,272.974589,...,7.245423,13.475849,8.683315,70.955239,71.444947,295.224597,107.209956,139.821718,50.638885,22.445070
20180628,1004.543589,3470.480859,138.941421,51.560927,187.054968,228.089413,315.648257,9.067960,15.548953,272.500762,...,7.156711,13.346915,8.657299,70.522442,71.353642,295.128555,106.404408,138.773190,49.824400,22.116609
20180629,995.469995,3463.785345,138.122732,51.276246,185.946216,225.256856,314.393808,9.057055,15.434411,272.377072,...,7.128654,13.280665,8.645015,70.312137,71.349351,294.941489,106.124236,138.069989,49.329450,21.967049

In [68]:
name = "MAMA"
dv.add_formula(name, "Ta('MAMA',0,open_adj,high_adj,low_adj,close_adj,volume,0.5,0.05)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,996.030442,3448.011523,133.019639,48.917897,178.841131,336.905202,315.053917,8.497716,17.881812,265.995991,...,7.001683,13.309442,8.407952,66.313185,68.785171,292.223485,95.903369,138.794002,45.158418,20.943413
20180626,975.337781,3356.165001,132.998441,48.908064,178.501913,331.346813,305.158617,8.501480,16.987721,265.962719,...,6.998536,13.287033,8.402974,66.236688,68.796321,292.066154,95.979728,138.453802,45.117665,20.927010
20180627,972.926256,3343.137083,132.797060,48.863779,178.197921,325.700880,304.066959,8.502037,16.101474,265.898595,...,6.991303,12.977557,8.398924,66.132889,68.774205,291.403029,96.033147,137.878112,45.056575,20.886886
20180628,948.923924,3328.587757,132.696370,48.801741,177.982189,320.396738,301.125994,8.502566,15.383848,265.740129,...,6.980187,12.665231,8.360445,65.985583,68.686773,283.982254,95.888149,131.844056,44.947856,20.838951
20180629,938.015602,3276.157917,132.691336,48.807699,177.959894,270.942294,294.414331,8.515144,15.252480,265.817199,...,6.979176,12.660290,8.365075,65.944041,68.803482,284.017127,95.998481,131.628353,44.891161,20.826135

In [69]:
name = "FAMA"
dv.add_formula(name, "Ta('MAMA',1,open_adj,high_adj,low_adj,close_adj,volume,0.5,0.05)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,1037.387322,3437.930718,139.377761,53.051145,200.508233,429.203612,315.571826,8.974525,17.881812,268.750522,...,7.644143,13.581747,8.566401,71.808227,70.786273,286.435067,102.666044,141.668234,48.538802,22.728628
20180626,1021.874937,3417.489289,139.218278,52.947568,199.958075,426.757192,312.968524,8.962699,17.658289,268.680827,...,7.628003,13.574379,8.562316,71.668939,70.736524,287.842839,102.498886,141.587873,48.437644,22.683587
20180627,1020.651220,3415.630484,137.612974,52.845473,199.414071,424.230784,312.745985,8.951182,17.269085,268.611271,...,7.612085,13.425174,8.558231,71.530537,70.687467,287.931844,102.337242,141.495129,48.353118,22.638670
20180628,1007.021650,3413.454416,136.383823,52.744380,198.878274,421.634933,312.142250,8.939967,16.797776,268.539493,...,7.596288,13.235188,8.508784,71.391914,70.637449,286.944446,102.176015,139.082361,48.267986,22.593677
20180629,989.770138,3393.937216,136.291511,52.645963,198.355314,383.961773,307.710270,8.929346,16.411452,268.471435,...,7.580860,13.220815,8.504040,71.255717,70.591600,286.871263,102.021577,138.896011,48.183566,22.549488

In [70]:
name = "MIDPOINT"
dv.add_formula(name, "Ta('MIDPOINT',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,1011.25068,3488.62854,132.595671,52.465184,195.801336,380.676929,314.960803,9.010700,17.881812,267.60668,...,7.575326,13.384855,8.464511,68.834704,69.580,300.819561,97.445648,140.685,49.030888,21.675119
20180626,1006.15108,3427.91784,132.595671,52.465184,195.801336,378.977099,308.394975,8.980514,16.987721,267.60668,...,7.532887,13.232350,8.457723,68.834704,69.580,300.819561,97.445648,138.160,48.851700,21.675119
20180627,992.38216,3343.56192,132.595680,52.315426,194.340132,375.322464,302.426040,8.980514,16.548519,267.60668,...,7.448009,13.135764,8.457723,68.317603,69.580,295.426729,97.445648,135.635,48.713470,21.545812
20180628,973.51364,3321.83388,132.595680,51.766314,191.600374,375.322464,298.645714,8.920140,16.274017,267.60668,...,7.299474,12.927340,8.457723,67.931032,69.580,293.648447,97.445648,134.605,47.684420,21.384178
20180629,973.51364,3321.83388,132.595680,51.766314,191.235073,375.322464,298.645714,8.920140,16.274017,267.60668,...,7.288864,12.927340,8.457723,67.850706,69.485,293.474484,97.445648,134.605,47.111019,21.384178

In [71]:
name = "MIDPRICE"
dv.add_formula(name, "Ta('MIDPRICE',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,1011.76064,3509.07846,72.78205,52.664862,194.888083,239.506047,315.159768,8.844674,0.000000,266.63120,...,7.501058,13.359438,8.478087,68.533480,68.745,300.761574,97.148757,140.015,48.739068,21.529649
20180626,996.97180,3408.10698,0.00000,52.664862,194.705433,239.506047,310.981514,8.829581,8.046815,266.63120,...,7.479838,13.232350,8.450935,68.533480,68.745,300.761574,97.148757,138.400,48.739068,21.529649
20180627,993.91204,3342.92286,0.00000,52.664862,194.157481,239.506047,303.420862,8.829581,8.046815,266.63120,...,7.469229,12.957841,8.450935,68.493317,68.745,300.761574,97.148757,135.740,48.739068,21.513485
20180628,979.12320,3323.11200,0.00000,52.415265,191.965675,239.506047,301.431218,8.799394,8.046815,266.30604,...,7.373741,12.942591,8.410208,68.212175,68.745,296.760440,96.645552,134.980,48.022317,21.222544
20180629,977.08336,3323.11200,0.00000,51.816233,189.773869,239.506047,301.431218,8.784301,8.046815,266.30604,...,7.235815,12.942591,8.410208,68.212175,68.745,290.961695,96.645552,134.980,47.407959,21.222544

In [72]:
name = "SAR"
dv.add_formula(name, "Ta('SAR',0,open_adj,high_adj,low_adj,close_adj,volume,0.02,0.2)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,1036.452833,3642.642000,135.202738,51.402513,199.081851,54.682880,326.044680,9.116426,8.540551e-11,269.010722,...,7.185398,13.030568,8.309694,73.500260,63.000000,315.536980,130.054788,144.425825,48.328612,22.265908
20180626,1026.880688,3637.299458,132.498683,50.486871,193.881115,63.169464,325.580265,8.982388,0.000000e+00,268.144028,...,7.072409,13.684782,8.647785,73.058802,63.152166,313.251798,128.317062,144.009992,47.311002,21.823400
20180627,1012.912411,3627.304560,129.848710,49.754358,188.900667,71.486317,324.335753,8.864436,0.000000e+00,258.177040,...,7.023621,13.666075,8.639368,72.635003,63.301290,311.103727,126.648845,143.217392,46.496914,21.442843
20180628,998.204467,3592.258510,127.251735,49.220430,184.816698,79.636833,321.636378,8.760637,3.218726e-01,258.372136,...,7.002402,13.607448,8.631119,72.228156,63.447430,309.084541,125.047357,141.798401,45.845644,21.115565
20180629,981.368090,3545.164389,124.706701,46.824303,181.467845,87.624338,317.934817,7.999449,6.373078e-01,258.563330,...,7.002402,13.551166,8.612779,71.837582,63.590648,305.913646,123.509929,140.014561,45.216092,20.834105

In [73]:
name = "SAREXT"
dv.add_formula(name, "Ta('SAR',0,open_adj,high_adj,low_adj,close_adj,volume,0.02,0.2)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,1036.452833,3642.642000,135.202738,51.402513,199.081851,54.682880,326.044680,9.116426,8.540551e-11,269.010722,...,7.185398,13.030568,8.309694,73.500260,63.000000,315.536980,130.054788,144.425825,48.328612,22.265908
20180626,1026.880688,3637.299458,132.498683,50.486871,193.881115,63.169464,325.580265,8.982388,0.000000e+00,268.144028,...,7.072409,13.684782,8.647785,73.058802,63.152166,313.251798,128.317062,144.009992,47.311002,21.823400
20180627,1012.912411,3627.304560,129.848710,49.754358,188.900667,71.486317,324.335753,8.864436,0.000000e+00,258.177040,...,7.023621,13.666075,8.639368,72.635003,63.301290,311.103727,126.648845,143.217392,46.496914,21.442843
20180628,998.204467,3592.258510,127.251735,49.220430,184.816698,79.636833,321.636378,8.760637,3.218726e-01,258.372136,...,7.002402,13.607448,8.631119,72.228156,63.447430,309.084541,125.047357,141.798401,45.845644,21.115565
20180629,981.368090,3545.164389,124.706701,46.824303,181.467845,87.624338,317.934817,7.999449,6.373078e-01,258.563330,...,7.002402,13.551166,8.612779,71.837582,63.590648,305.913646,123.509929,140.014561,45.216092,20.834105

In [74]:
name = "T3"
dv.add_formula(name, "Ta('T3',0,open_adj,high_adj,low_adj,close_adj,volume,5,0.7)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,1003.399696,3515.962324,131.847983,48.642052,178.123331,294.594609,314.307215,8.606120,17.881812,264.305494,...,6.873733,13.247620,8.453483,65.478175,67.920815,293.790894,92.835404,139.319018,44.996283,20.257927
20180626,991.822609,3478.348386,132.042856,48.007433,173.780264,262.508610,311.743730,8.498395,17.672862,264.161760,...,6.824352,13.204950,8.422739,64.672216,67.956052,292.795832,93.064595,137.907122,44.397638,20.119042
20180627,976.279532,3405.555660,132.198578,47.642893,170.970369,237.055763,306.456861,8.438357,17.218805,264.154956,...,6.798118,13.104988,8.388904,64.136290,68.033072,290.584332,93.759295,135.627300,43.970315,20.045879
20180628,957.939214,3313.012432,132.318584,47.409926,169.604925,218.936787,299.098597,8.412295,16.595068,263.962900,...,6.775810,12.944212,8.359170,63.696157,67.944115,287.292572,94.134939,132.885373,43.563195,19.980787
20180629,942.164566,3232.104346,132.408197,47.416534,169.707973,207.788092,292.800588,8.436202,16.003364,264.160198,...,6.778240,12.788495,8.349191,63.566292,68.197868,284.689790,94.723627,130.440810,43.300834,19.996512

In [75]:
name = "TRIMA"
dv.add_formula(name, "Ta('TRIMA',0,open_adj,high_adj,low_adj,close_adj,volume,30)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,1051.800999,3420.573975,144.440395,57.395547,214.477351,509.746437,315.085156,9.397546,17.881812,272.578918,...,8.289801,13.566887,8.705708,71.582453,74.042275,290.434653,105.306507,143.547125,52.931805,23.529465
20180626,1047.309102,3425.739710,142.993577,56.960833,212.882202,502.095785,314.834793,9.373703,17.874361,272.115565,...,8.206691,13.535242,8.674823,71.361430,73.637376,292.111618,104.501715,143.234292,52.586656,23.319169
20180627,1042.706713,3429.504839,141.550068,56.502408,211.157677,493.137681,314.465050,9.346018,17.855800,271.625116,...,8.119250,13.501141,8.644900,71.112711,73.245993,293.510243,103.756049,142.872333,52.191376,23.113119
20180628,1037.951336,3431.752200,140.191470,56.016942,209.285509,482.877082,313.956033,9.313741,17.823840,271.123827,...,8.027830,13.463650,8.615881,70.828180,72.843217,294.597669,103.027911,142.457208,51.741700,22.907131
20180629,1032.974976,3432.641558,138.932122,55.508598,207.264177,471.321780,313.352507,9.277765,17.780377,270.617120,...,7.934464,13.423575,8.587542,70.513777,72.445028,295.428500,102.317134,141.994375,51.262671,22.701239

In [76]:
name = "ADX"
dv.add_formula(name, "Ta('ADX',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,26.644816,16.779935,51.062720,39.737747,38.920662,62.126577,14.252209,27.556833,96.918624,24.062493,...,53.513532,27.201214,23.494396,37.355089,28.264052,20.193339,23.523597,17.883180,29.141597,36.802533
20180626,28.361181,17.064726,52.103832,41.406376,41.436447,58.452517,15.251973,30.193543,97.136055,25.001011,...,54.512118,26.249380,24.014915,38.132982,29.148438,18.969355,24.023052,19.470579,30.884190,38.381315
20180627,30.071426,18.041184,53.070580,42.955817,43.235243,55.040889,17.279711,32.641916,96.270085,25.234091,...,55.157917,26.955369,23.621759,38.855311,29.969653,18.350222,24.463937,21.829350,32.329099,39.675873
20180628,31.954912,19.143561,53.968274,44.394584,44.547571,51.872950,19.393318,34.714464,95.248510,25.786422,...,55.912658,27.610930,23.790859,39.719045,30.999909,18.454247,25.365113,24.222651,33.955665,40.991576
20180629,33.387033,20.128062,54.801847,44.802134,45.403970,48.814481,20.746132,35.665173,94.304171,25.673011,...,56.463543,28.219665,23.138470,40.184616,30.840877,18.165370,25.956843,25.781713,35.466049,41.669066

In [77]:
name = "ADXR"
dv.add_formula(name, "Ta('ADXR',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,26.519383,23.133693,39.252122,29.670382,29.000062,69.960435,17.156062,21.241670,96.912740,22.110739,...,43.179965,25.910726,21.118363,35.914009,28.651463,22.667713,19.107662,18.474240,24.764708,30.121860
20180626,27.797156,22.225304,41.136849,30.655147,29.732730,68.318296,17.645321,22.418584,97.022135,22.276201,...,44.118871,25.765381,22.005812,36.014670,28.682252,22.688198,19.388797,19.028343,25.325081,30.897456
20180627,28.395289,21.802021,42.886952,31.353976,30.307044,66.793453,18.249335,23.594828,96.589781,21.983115,...,45.064102,25.985696,22.096394,36.230895,28.396757,23.065791,19.614168,19.985247,25.818421,31.531925
20180628,29.321362,21.635377,44.512048,32.538613,31.243374,65.377528,19.354136,24.137227,96.079580,22.588035,...,46.407237,26.902708,22.838921,36.725767,28.370803,23.853040,20.288232,20.907863,25.975031,32.438618
20180629,30.129091,21.433383,46.021066,33.201838,32.074973,64.004334,20.171933,24.333425,95.607954,22.978053,...,47.579461,27.875880,23.355848,36.848647,27.629035,23.323730,20.625662,21.724911,26.535765,32.961342

In [78]:
name = "APO"
dv.add_formula(name, "Ta('APO',0,open_adj,high_adj,low_adj,close_adj,volume,12,26)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-27.557454,60.759858,-10.688263,-3.529551,-13.326461,-68.639353,-0.816265,-0.225224,-2.131628e-14,-3.651797,...,-0.698880,-0.226476,-0.220346,-1.934206,-3.163321,9.356052,-5.350488,-1.895962,-3.242182,-1.453670
20180626,-29.865350,48.970021,-9.364954,-3.747787,-14.998416,-82.391632,-1.535598,-0.275168,-8.023890e-02,-3.831052,...,-0.721868,-0.241792,-0.211730,-2.155747,-3.220647,6.666574,-5.305845,-2.314679,-3.600755,-1.456774
20180627,-31.323312,36.459192,-8.072183,-3.876426,-16.141153,-96.471890,-2.262583,-0.310747,-1.998934e-01,-3.610110,...,-0.723228,-0.242900,-0.188930,-2.424660,-3.237647,3.636854,-4.962246,-2.903910,-3.886602,-1.438178
20180628,-33.232393,13.887265,-6.891384,-4.010184,-17.124655,-110.498757,-3.606869,-0.344935,-3.441827e-01,-3.314131,...,-0.718467,-0.257955,-0.164824,-2.668085,-3.266499,1.940845,-5.078113,-3.371667,-4.101890,-1.456368
20180629,-35.357227,-8.422483,-5.812378,-4.181701,-18.286125,-124.441721,-4.713928,-0.375566,-4.680603e-01,-3.455867,...,-0.711666,-0.275356,-0.142720,-2.928052,-3.023957,-0.663882,-5.110305,-3.828333,-4.311205,-1.478347

In [82]:
name = "AROONdown"
dv.add_formula(name, "Ta('AROON',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

Field [AROONdown] is overwritten.
(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,100.000000,0.000000,100.0,92.857143,92.857143,42.857143,71.428571,92.857143,100.000000,71.428571,...,78.571429,71.428571,35.714286,92.857143,71.428571,92.857143,78.571429,78.571429,92.857143,92.857143
20180626,100.000000,100.000000,100.0,85.714286,100.000000,35.714286,100.000000,85.714286,92.857143,64.285714,...,71.428571,100.000000,100.000000,85.714286,64.285714,85.714286,71.428571,100.000000,85.714286,85.714286
20180627,100.000000,100.000000,100.0,78.571429,92.857143,28.571429,100.000000,78.571429,85.714286,57.142857,...,64.285714,100.000000,92.857143,78.571429,57.142857,78.571429,64.285714,100.000000,78.571429,78.571429
20180628,100.000000,100.000000,100.0,71.428571,85.714286,21.428571,100.000000,71.428571,78.571429,50.000000,...,57.142857,92.857143,100.000000,71.428571,50.000000,100.000000,57.142857,100.000000,100.000000,71.428571
20180629,92.857143,92.857143,100.0,64.285714,78.571429,14.285714,92.857143,64.285714,71.428571,42.857143,...,50.000000,85.714286,92.857143,64.285714,42.857143,92.857143,50.000000,92.857143,92.857143,64.285714

In [83]:
name = "AROONup"
dv.add_formula(name, "Ta('AROON',1,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,21.428571,85.714286,0.0,21.428571,14.285714,50.000000,64.285714,7.142857,100.000000,21.428571,...,0.0,21.428571,21.428571,14.285714,0.000000,28.571429,21.428571,57.142857,21.428571,14.285714
20180626,14.285714,78.571429,0.0,14.285714,7.142857,42.857143,57.142857,0.000000,100.000000,14.285714,...,0.0,14.285714,14.285714,7.142857,28.571429,21.428571,14.285714,50.000000,14.285714,7.142857
20180627,7.142857,71.428571,100.0,7.142857,0.000000,35.714286,50.000000,7.142857,92.857143,7.142857,...,0.0,7.142857,7.142857,0.000000,21.428571,14.285714,7.142857,42.857143,7.142857,0.000000
20180628,0.000000,64.285714,100.0,0.000000,0.000000,28.571429,42.857143,0.000000,85.714286,0.000000,...,0.0,0.000000,0.000000,0.000000,14.285714,7.142857,0.000000,35.714286,0.000000,0.000000
20180629,0.000000,57.142857,100.0,0.000000,0.000000,21.428571,35.714286,0.000000,78.571429,14.285714,...,0.0,57.142857,42.857143,7.142857,7.142857,0.000000,7.142857,28.571429,0.000000,7.142857

In [84]:
name = "AROON"
dv.add_formula(name, "AROONdown-AROONup", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,78.571429,-85.714286,100.0,71.428571,78.571429,-7.142857,7.142857,85.714286,0.000000,50.000000,...,78.571429,50.000000,14.285714,78.571429,71.428571,64.285714,57.142857,21.428571,71.428571,78.571429
20180626,85.714286,21.428571,100.0,71.428571,92.857143,-7.142857,42.857143,85.714286,-7.142857,50.000000,...,71.428571,85.714286,85.714286,78.571429,35.714286,64.285714,57.142857,50.000000,71.428571,78.571429
20180627,92.857143,28.571429,0.0,71.428571,92.857143,-7.142857,50.000000,71.428571,-7.142857,50.000000,...,64.285714,92.857143,85.714286,78.571429,35.714286,64.285714,57.142857,57.142857,71.428571,78.571429
20180628,100.000000,35.714286,0.0,71.428571,85.714286,-7.142857,57.142857,71.428571,-7.142857,50.000000,...,57.142857,92.857143,100.000000,71.428571,35.714286,92.857143,57.142857,64.285714,100.000000,71.428571
20180629,92.857143,35.714286,0.0,64.285714,78.571429,-7.142857,57.142857,64.285714,-7.142857,28.571429,...,50.000000,28.571429,50.000000,57.142857,35.714286,92.857143,42.857143,64.285714,92.857143,57.142857

In [86]:
name = "AROONOSC"
dv.add_formula(name, "Ta('AROONOSC',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-78.571429,85.714286,-100.0,-71.428571,-78.571429,7.142857,-7.142857,-85.714286,0.000000,-50.000000,...,-78.571429,-50.000000,-14.285714,-78.571429,-71.428571,-64.285714,-57.142857,-21.428571,-71.428571,-78.571429
20180626,-85.714286,-21.428571,-100.0,-71.428571,-92.857143,7.142857,-42.857143,-85.714286,7.142857,-50.000000,...,-71.428571,-85.714286,-85.714286,-78.571429,-35.714286,-64.285714,-57.142857,-50.000000,-71.428571,-78.571429
20180627,-92.857143,-28.571429,0.0,-71.428571,-92.857143,7.142857,-50.000000,-71.428571,7.142857,-50.000000,...,-64.285714,-92.857143,-85.714286,-78.571429,-35.714286,-64.285714,-57.142857,-57.142857,-71.428571,-78.571429
20180628,-100.000000,-35.714286,0.0,-71.428571,-85.714286,7.142857,-57.142857,-71.428571,7.142857,-50.000000,...,-57.142857,-92.857143,-100.000000,-71.428571,-35.714286,-92.857143,-57.142857,-64.285714,-100.000000,-71.428571
20180629,-92.857143,-35.714286,0.0,-64.285714,-78.571429,7.142857,-57.142857,-64.285714,7.142857,-28.571429,...,-50.000000,-28.571429,-50.000000,-57.142857,-35.714286,-92.857143,-42.857143,-64.285714,-92.857143,-57.142857

In [87]:
name = "BOP"
dv.add_formula(name, "Ta('BOP',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-0.833333,-0.893401,0.0,-0.583333,-1.000000,0.000000,-0.772727,-0.600000,0.000000,-0.500000,...,-0.666667,-0.865385,-0.928571,-0.933775,-0.670732,0.476489,-0.015190,-0.657778,-0.747573,-0.470588
20180626,-0.085714,-0.227642,0.0,0.529412,0.777778,0.493506,-0.764706,0.750000,0.000000,0.333333,...,0.545455,-0.533333,-0.363636,0.694340,0.709924,-0.142857,0.670775,-0.406551,0.590476,0.628571
20180627,-0.594595,-0.752941,0.0,-0.428571,0.200000,-0.426230,-0.791667,-0.166667,0.350000,0.000000,...,-0.857143,-0.255814,0.200000,-0.443478,-0.592357,-0.593060,-0.253333,-0.592723,-0.552632,-0.608696
20180628,-0.142857,0.018692,0.0,-0.400000,0.416667,0.235294,-0.909091,0.166667,-0.642857,-0.333333,...,-0.500000,-0.611111,0.266667,-0.556886,-0.438596,0.326425,-0.514583,0.087819,-0.689189,0.000000
20180629,0.470588,0.704225,0.0,0.571429,0.818182,-0.056338,0.931034,1.000000,0.658537,0.750000,...,0.900000,0.666667,0.727273,0.900000,0.951807,0.657627,0.887712,0.308617,0.847619,0.958333

In [88]:
name = "CCI"
dv.add_formula(name, "Ta('CCI',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-203.379125,-70.301374,-35.897433,-94.436626,-114.754098,-28.823583,-47.619048,-111.037160,-66.666667,-41.297935,...,-85.439901,-29.752216,-79.490501,-109.852952,-42.382866,-47.965551,-38.532297,-125.206114,-101.533862,-78.990621
20180626,-237.955490,-290.290558,35.897436,-78.652622,-99.654503,-40.573942,-282.544774,-86.782894,466.666667,-67.251462,...,-79.612047,-213.278763,-137.327189,-93.836026,-52.367666,-63.844804,-37.406955,-207.565134,-91.772066,-73.298661
20180627,-198.637911,-261.136102,66.666667,-72.420263,-77.117657,-45.853820,-296.149453,-69.366563,222.374307,-39.143731,...,-64.716910,-249.464764,-87.581699,-76.320382,-44.143371,-145.612200,-16.344694,-224.594129,-80.534062,-61.315525
20180628,-181.274074,-203.777778,66.666667,-67.925828,-63.706953,-49.884570,-229.480122,-58.141718,143.886089,-68.863419,...,-67.470862,-222.926448,-130.538618,-80.402324,-65.677197,-174.310810,-47.466307,-206.945532,-87.750111,-67.320891
20180629,-122.490462,-129.158249,66.666667,-50.434902,-47.913189,-55.756422,-134.910721,-29.007369,111.835937,-12.059514,...,-48.457692,-149.350535,-6.518762,-56.534497,11.079244,-100.672549,-6.168573,-140.133454,-75.892076,-43.324356

In [89]:
name = "CMO"
dv.add_formula(name, "Ta('CMO',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-45.177164,-11.982789,-53.900541,-52.616427,-63.658536,-98.318100,-9.508652,-51.887315,-69.849292,-14.660857,...,-60.702464,-26.352612,-32.515842,-41.652444,-11.436458,13.418166,-14.874377,-16.511495,-39.673775,-38.581430
20180626,-48.194952,-21.956990,-53.900541,-46.803959,-59.201150,-98.344282,-32.968050,-34.294402,-99.992479,-16.550628,...,-58.698837,-37.067178,-33.520920,-35.431696,-9.840364,5.478442,-10.229247,-29.538320,-38.669208,-31.960020
20180627,-55.342685,-33.271971,-53.900541,-49.692665,-58.042267,-98.401884,-44.573748,-36.555538,-99.995081,-18.494347,...,-60.803978,-43.532375,-31.413159,-37.660859,-12.422867,-10.234693,-11.089645,-39.674964,-41.218825,-37.023359
20180628,-59.163167,-35.851817,-53.900541,-51.319435,-53.237170,-97.199138,-50.427656,-36.555538,-99.996010,-24.198536,...,-62.843544,-52.166687,-31.413159,-41.087694,-17.585572,-12.632757,-19.586249,-41.696167,-45.529906,-38.979469
20180629,-45.736208,-24.844227,-53.900541,-35.934595,-41.642776,-95.196605,-27.525349,-17.756393,-71.152813,-5.623554,...,-44.610365,-36.895915,-14.624740,-26.013985,1.266253,-2.007038,-5.788352,-34.319081,-35.679522,-25.037686

In [90]:
name = "DX"
dv.add_formula(name, "Ta('DX',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,41.732956,0.084332,65.638298,61.427028,71.775265,14.239774,3.872255,61.589005,96.925885,29.610981,...,64.298963,8.983333,22.036374,44.688087,37.400860,3.381277,25.854828,21.539051,50.679837,54.252707
20180626,50.673918,20.767007,65.638298,63.098555,74.141652,10.689734,28.248898,64.470769,99.962664,37.201755,...,67.493727,13.875536,30.781661,48.245590,40.645447,3.057569,30.515964,40.106772,53.537889,58.905478
20180627,52.304623,30.735141,65.638298,63.098555,66.619593,10.689734,43.640309,64.470769,85.012474,28.264126,...,63.553312,36.133224,18.510728,48.245590,40.645447,10.301487,30.195443,52.493375,51.112919,56.505138
20180628,56.440218,33.474458,65.638298,63.098555,61.607837,10.689734,46.870208,61.657584,81.968038,32.966723,...,65.724286,36.133224,25.989163,50.947583,44.393242,19.806572,37.080406,55.335564,55.101030,58.095712
20180629,52.004610,32.926578,65.638298,50.100282,56.537160,9.054389,38.332722,48.024390,82.027755,24.198673,...,63.625051,36.133224,14.657410,46.237046,28.773458,14.409977,33.649323,46.049509,55.101030,50.476437

In [91]:
name = "MACD"
dv.add_formula(name, "Ta('MACD',0,open_adj,high_adj,low_adj,close_adj,volume,12,26,9)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-27.808219,-11.996868,-6.128236,-2.987645,-12.558844,-68.367484,-1.100052,-0.289688,-0.000223,-2.645493,...,-0.560908,-0.191045,-0.116854,-3.419900,-1.394609,7.283391,-4.130663,-1.061523,-2.193727,-1.261338
20180626,-30.509634,-28.679049,-5.827045,-3.006015,-13.113740,-74.759623,-2.537122,-0.293858,-0.142853,-2.616039,...,-0.551643,-0.214223,-0.122727,-3.405277,-1.365536,6.462224,-3.825605,-1.659535,-2.288826,-1.229463
20180627,-34.475189,-54.880801,-5.524664,-3.041901,-13.369901,-79.498823,-4.586427,-0.298593,-0.323045,-2.615027,...,-0.544868,-0.245350,-0.124847,-3.404674,-1.379379,4.699790,-3.573510,-2.512000,-2.382991,-1.229634
20180628,-38.572366,-78.250399,-5.224796,-3.067209,-13.301671,-82.210983,-6.742869,-0.298900,-0.504334,-2.740066,...,-0.540122,-0.292084,-0.125085,-3.443097,-1.480478,3.086543,-3.647579,-3.241402,-2.510475,-1.231417
20180629,-39.959694,-88.327173,-4.930315,-2.948547,-12.805220,-83.249858,-7.403240,-0.276470,-0.604336,-2.443663,...,-0.515014,-0.308339,-0.115182,-3.276971,-1.224096,2.435039,-3.268245,-3.638723,-2.507416,-1.166573

In [92]:
name = "MACDsignal"
dv.add_formula(name, "Ta('MACD',1,open_adj,high_adj,low_adj,close_adj,volume,12,26,9)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-25.606397,-25.312328,-6.626700,-2.128863,-8.250301,-38.200536,-1.144295,-0.182300,-0.000327,-2.031051,...,-0.490412,-0.210418,-0.110280,-3.095074,-0.817755,10.289779,-3.356068,-0.339209,-1.261939,-1.043484
20180626,-26.587045,-25.985672,-6.466769,-2.304294,-9.222989,-45.512354,-1.422860,-0.204612,-0.028833,-2.148048,...,-0.502658,-0.211179,-0.112770,-3.157114,-0.927311,9.524268,-3.449975,-0.603275,-1.467317,-1.080680
20180627,-28.164674,-31.764698,-6.278348,-2.451815,-10.052371,-52.309648,-2.055573,-0.223408,-0.087675,-2.241444,...,-0.511100,-0.218013,-0.115185,-3.206626,-1.017725,8.559372,-3.474682,-0.985020,-1.650452,-1.110471
20180628,-30.246212,-41.061838,-6.067638,-2.574894,-10.702231,-58.289915,-2.993032,-0.238507,-0.171007,-2.341168,...,-0.516905,-0.232827,-0.117165,-3.253920,-1.110275,7.464807,-3.509262,-1.436296,-1.822456,-1.134660
20180629,-32.188908,-50.514905,-5.840173,-2.649624,-11.122829,-63.281903,-3.875074,-0.246099,-0.257673,-2.361667,...,-0.516527,-0.247930,-0.116768,-3.258531,-1.133040,6.458853,-3.461058,-1.876781,-1.959448,-1.141042

In [93]:
name = "MACDhist"
dv.add_formula(name, "Ta('MACD',2,open_adj,high_adj,low_adj,close_adj,volume,12,26,9)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-2.201822,13.315460,0.498464,-0.858781,-4.308543,-30.166948,0.044243,-0.107387,0.000105,-0.614442,...,-0.070495,0.019372,-0.006574,-0.324826,-0.576854,-3.006388,-0.774596,-0.722313,-0.931788,-0.217854
20180626,-3.922589,-2.693376,0.639724,-0.701721,-3.890751,-29.247270,-1.114262,-0.089247,-0.114021,-0.467990,...,-0.048984,-0.003044,-0.009957,-0.248162,-0.438224,-3.062044,-0.375630,-1.056261,-0.821509,-0.148783
20180627,-6.310516,-23.116103,0.753684,-0.590086,-3.317530,-27.189176,-2.530853,-0.075185,-0.235370,-0.373583,...,-0.033768,-0.027337,-0.009662,-0.198048,-0.361654,-3.859582,-0.098828,-1.526981,-0.732539,-0.119163
20180628,-8.326154,-37.188560,0.842841,-0.492315,-2.599440,-23.921068,-3.749837,-0.060394,-0.333327,-0.398897,...,-0.023217,-0.059257,-0.007920,-0.189176,-0.370202,-4.378263,-0.138318,-1.805106,-0.688018,-0.096757
20180629,-7.770786,-37.812268,0.909858,-0.298922,-1.682391,-19.967955,-3.528166,-0.030371,-0.346663,-0.081996,...,0.001513,-0.060409,0.001586,-0.018441,-0.091056,-4.023814,0.192813,-1.761942,-0.547968,-0.025531

In [95]:
name = "MOM"
dv.add_formula(name, "Ta('MOM',0,open_adj,high_adj,low_adj,close_adj,volume,10)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-67.31472,-28.11864,0.0,-7.887249,-42.009615,-303.079689,0.397929,-1.086718,0.000000,-3.25160,...,-0.912434,-0.203340,-0.108606,-8.715414,-4.824010,-13.182480,-6.249806,-6.22,-8.119765,-2.650798
20180626,-69.35456,-226.22724,0.0,-7.188379,-39.087207,-306.479349,-18.304734,-0.845225,-1.788181,-1.95096,...,-0.869995,-0.437181,-0.081455,-6.978356,-4.291838,-1.739623,-8.584677,-10.39,-6.317648,-2.433644
20180627,-98.93224,-446.06388,0.0,-8.486281,-39.452508,-313.788618,-31.436391,-0.965971,-2.666586,-9.10448,...,-0.954873,-0.660855,-0.081455,-8.353946,-4.495991,-31.583831,-8.302883,-16.45,-7.443971,-2.859833
20180628,-105.05176,-480.57312,0.0,-8.286604,-32.877090,-259.394058,-38.997042,-0.935785,-3.215589,-8.45416,...,-0.806337,-0.864195,-0.081455,-8.825863,-4.024426,-25.050578,-9.641408,-16.16,-7.126553,-2.571268
20180629,-99.95216,-354.03924,0.0,-6.489509,-28.858779,-209.589039,-30.640533,-0.543359,-2.760701,-3.90192,...,-0.679021,-0.630354,0.000000,-6.426112,-0.939058,-12.370656,-1.590128,-15.87,-6.245973,-1.916812

In [96]:
name = "PPO"
dv.add_formula(name, "Ta('PPO',0,open_adj,high_adj,low_adj,close_adj,volume,12,26)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-2.636616,1.767254,-7.459498,-6.281894,-6.380760,-14.499749,-0.258875,-2.429299,-1.192065e-13,-1.344631,...,-8.649832,-1.674618,-2.539110,-2.734002,-4.306935,3.225534,-5.151906,-1.324842,-6.274707,-6.290239
20180626,-2.874692,1.427623,-6.596867,-6.732892,-7.256475,-17.849319,-0.488668,-2.979442,-4.504505e-01,-1.413368,...,-9.017229,-1.794039,-2.448967,-3.062262,-4.398580,2.290343,-5.144198,-1.624350,-7.022563,-6.366101
20180627,-3.036353,1.067254,-5.738470,-7.032883,-7.893592,-21.460775,-0.723609,-3.380204,-1.128673e+00,-1.334813,...,-9.125390,-1.809504,-2.193328,-3.465950,-4.446757,1.247883,-4.846443,-2.048931,-7.644166,-6.355445
20180628,-3.245352,0.408184,-4.940518,-7.349802,-8.462357,-25.256654,-1.160234,-3.769012,-1.957051e+00,-1.228444,...,-9.171094,-1.930826,-1.920114,-3.839777,-4.517033,0.665324,-5.006430,-2.394395,-8.138575,-6.505363
20180629,-3.473614,-0.248349,-4.199450,-7.729434,-9.112869,-29.242394,-1.521965,-4.117086,-2.677596e+00,-1.282885,...,-9.175084,-2.068219,-1.666463,-4.235447,-4.204601,-0.227220,-5.066765,-2.735501,-8.625385,-6.656513

In [97]:
name = "ROC"
dv.add_formula(name, "Ta('ROC',0,open_adj,high_adj,low_adj,close_adj,volume,10)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-6.521739,-0.823662,0.0,-14.056940,-19.759450,-56.946662,0.128041,-11.501597,0.000000,-1.207729,...,-11.653117,-1.525553,-1.288245,-11.992263,-6.564172,-4.242349,-6.129701,-4.341756,-15.470152,-11.549296
20180626,-6.772908,-6.481142,0.0,-12.857143,-18.512111,-57.585436,-5.837563,-8.974359,-10.000000,-0.729927,...,-11.141304,-3.287462,-0.970874,-9.724360,-5.855167,-0.592417,-8.097589,-7.297373,-12.439516,-10.558564
20180627,-9.642147,-12.594731,0.0,-15.017668,-18.620690,-58.958799,-9.987358,-10.191083,-14.912281,-3.325416,...,-12.228261,-4.958047,-0.969305,-11.520354,-6.171573,-10.175613,-7.881162,-11.472209,-14.499402,-12.442519
20180628,-10.351759,-13.603473,0.0,-14.821429,-15.901060,-54.151881,-12.389381,-9.904153,-17.982456,-3.117506,...,-10.644258,-6.538462,-0.969305,-12.255996,-5.664217,-8.305563,-9.381120,-11.382686,-14.250614,-11.428134
20180629,-9.731877,-10.120570,0.0,-11.711712,-13.982301,-48.619874,-9.625000,-5.844156,-15.438596,-1.438849,...,-8.888889,-4.776579,0.000000,-8.977416,-1.304972,-4.164498,-1.595154,-11.066946,-12.476989,-8.519370

In [98]:
name = "ROCP"
dv.add_formula(name, "Ta('ROCP',0,open_adj,high_adj,low_adj,close_adj,volume,10)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-0.065217,-0.008237,0.0,-0.140569,-0.197595,-0.569467,0.001280,-0.115016,0.000000,-0.012077,...,-0.116531,-0.015256,-0.012882,-0.119923,-0.065642,-0.042423,-0.061297,-0.043418,-0.154702,-0.115493
20180626,-0.067729,-0.064811,0.0,-0.128571,-0.185121,-0.575854,-0.058376,-0.089744,-0.100000,-0.007299,...,-0.111413,-0.032875,-0.009709,-0.097244,-0.058552,-0.005924,-0.080976,-0.072974,-0.124395,-0.105586
20180627,-0.096421,-0.125947,0.0,-0.150177,-0.186207,-0.589588,-0.099874,-0.101911,-0.149123,-0.033254,...,-0.122283,-0.049580,-0.009693,-0.115204,-0.061716,-0.101756,-0.078812,-0.114722,-0.144994,-0.124425
20180628,-0.103518,-0.136035,0.0,-0.148214,-0.159011,-0.541519,-0.123894,-0.099042,-0.179825,-0.031175,...,-0.106443,-0.065385,-0.009693,-0.122560,-0.056642,-0.083056,-0.093811,-0.113827,-0.142506,-0.114281
20180629,-0.097319,-0.101206,0.0,-0.117117,-0.139823,-0.486199,-0.096250,-0.058442,-0.154386,-0.014388,...,-0.088889,-0.047766,0.000000,-0.089774,-0.013050,-0.041645,-0.015952,-0.110669,-0.124770,-0.085194

In [99]:
name = "ROCR"
dv.add_formula(name, "Ta('ROCR',0,open_adj,high_adj,low_adj,close_adj,volume,10)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,0.934783,0.991763,1.0,0.859431,0.802405,0.430533,1.001280,0.884984,1.000000,0.987923,...,0.883469,0.984744,0.987118,0.880077,0.934358,0.957577,0.938703,0.956582,0.845298,0.884507
20180626,0.932271,0.935189,1.0,0.871429,0.814879,0.424146,0.941624,0.910256,0.900000,0.992701,...,0.888587,0.967125,0.990291,0.902756,0.941448,0.994076,0.919024,0.927026,0.875605,0.894414
20180627,0.903579,0.874053,1.0,0.849823,0.813793,0.410412,0.900126,0.898089,0.850877,0.966746,...,0.877717,0.950420,0.990307,0.884796,0.938284,0.898244,0.921188,0.885278,0.855006,0.875575
20180628,0.896482,0.863965,1.0,0.851786,0.840989,0.458481,0.876106,0.900958,0.820175,0.968825,...,0.893557,0.934615,0.990307,0.877440,0.943358,0.916944,0.906189,0.886173,0.857494,0.885719
20180629,0.902681,0.898794,1.0,0.882883,0.860177,0.513801,0.903750,0.941558,0.845614,0.985612,...,0.911111,0.952234,1.000000,0.910226,0.986950,0.958355,0.984048,0.889331,0.875230,0.914806

In [100]:
name = "ROCR100"
dv.add_formula(name, "Ta('ROCR100',0,open_adj,high_adj,low_adj,close_adj,volume,10)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,93.478261,99.176338,100.0,85.943060,80.240550,43.053338,100.128041,88.498403,100.000000,98.792271,...,88.346883,98.474447,98.711755,88.007737,93.435828,95.757651,93.870299,95.658244,84.529848,88.450704
20180626,93.227092,93.518858,100.0,87.142857,81.487889,42.414564,94.162437,91.025641,90.000000,99.270073,...,88.858696,96.712538,99.029126,90.275640,94.144833,99.407583,91.902411,92.702627,87.560484,89.441436
20180627,90.357853,87.405269,100.0,84.982332,81.379310,41.041201,90.012642,89.808917,85.087719,96.674584,...,87.771739,95.041953,99.030695,88.479646,93.828427,89.824387,92.118838,88.527791,85.500598,87.557481
20180628,89.648241,86.396527,100.0,85.178571,84.098940,45.848119,87.610619,90.095847,82.017544,96.882494,...,89.355742,93.461538,99.030695,87.744004,94.335783,91.694437,90.618880,88.617314,85.749386,88.571866
20180629,90.268123,89.879430,100.0,88.288288,86.017699,51.380126,90.375000,94.155844,84.561404,98.561151,...,91.111111,95.223421,100.000000,91.022584,98.695028,95.835502,98.404846,88.933054,87.523011,91.480630

In [101]:
name = "RSI"
dv.add_formula(name, "Ta('RSI',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,27.411418,44.008605,23.04973,23.691787,18.170732,0.840950,45.245674,24.056342,15.075354,42.669571,...,19.648768,36.823694,33.742079,29.173778,44.281771,56.709083,42.562811,41.744252,30.163113,30.709285
20180626,25.902524,39.021505,23.04973,26.598021,20.399425,0.827859,33.515975,32.852799,0.003760,41.724686,...,20.650581,31.466411,33.239540,32.284152,45.079818,52.739221,44.885377,35.230840,30.665396,34.019990
20180627,22.328657,33.364014,23.04973,25.153668,20.978866,0.799058,27.713126,31.722231,0.002460,40.752826,...,19.598011,28.233813,34.293421,31.169570,43.788566,44.882653,44.455178,30.162518,29.390588,31.488321
20180628,20.418417,32.074091,23.04973,24.340283,23.381415,1.400431,24.786172,31.722231,0.001995,37.900732,...,18.578228,23.916656,34.293421,29.456153,41.207214,43.683621,40.206875,29.151916,27.235047,30.510265
20180629,27.131896,37.577887,23.04973,32.032703,29.178612,2.401697,36.237326,41.121803,14.423593,47.188223,...,27.694818,31.552043,42.687630,36.993008,50.633127,48.996481,47.105824,32.840459,32.160239,37.481157

In [102]:
name = "TRIX"
dv.add_formula(name, "Ta('TRIX',0,open_adj,high_adj,low_adj,close_adj,volume,30)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-0.274380,-0.313111,-0.507532,-0.188836,-0.219125,-0.217317,-0.120288,-0.205573,-0.010485,-0.044192,...,-0.498125,-0.191592,-0.080551,-0.432585,0.225546,0.532765,-0.128511,0.072582,-0.013821,-0.240681
20180626,-0.278115,-0.307238,-0.510161,-0.204598,-0.236470,-0.267257,-0.118938,-0.211106,-0.012650,-0.046801,...,-0.510711,-0.193043,-0.084438,-0.440715,0.208926,0.529117,-0.141674,0.065861,-0.030852,-0.256719
20180627,-0.283074,-0.303716,-0.512154,-0.220701,-0.254489,-0.321166,-0.119855,-0.217008,-0.018318,-0.049434,...,-0.523178,-0.195176,-0.088379,-0.448722,0.192432,0.522655,-0.153902,0.057028,-0.048690,-0.272647
20180628,-0.289334,-0.302417,-0.513488,-0.237039,-0.272646,-0.377731,-0.123221,-0.223099,-0.027607,-0.052234,...,-0.535561,-0.198390,-0.092297,-0.456765,0.175680,0.513618,-0.166148,0.046345,-0.067499,-0.288462
20180629,-0.296128,-0.302246,-0.514150,-0.252766,-0.290231,-0.435822,-0.127542,-0.228571,-0.039066,-0.054680,...,-0.547109,-0.202011,-0.095799,-0.464024,0.160417,0.503343,-0.177016,0.034596,-0.086395,-0.303264

In [103]:
name = "ULTOSC"
dv.add_formula(name, "Ta('ULTOSC',0,open_adj,high_adj,low_adj,close_adj,volume,7,14,28)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,36.122964,42.990333,99.339406,26.403624,26.648459,39.984961,44.618765,45.703823,100.000000,48.770517,...,31.889964,44.579133,56.401410,33.935573,51.227396,55.218971,40.759297,50.989244,31.990234,37.716246
20180626,39.138354,42.804113,99.617433,28.441687,31.122890,42.543296,35.922498,52.542834,98.792415,50.395612,...,34.407984,42.426038,54.963290,38.867639,50.270847,54.104264,44.868762,46.970275,32.403399,42.975872
20180627,35.659187,39.047716,99.650028,28.860469,31.108067,42.963965,33.337390,54.174134,97.919419,46.218732,...,33.711275,45.420655,50.078587,38.912828,51.645441,49.586726,45.639944,42.484041,31.734542,40.737682
20180628,35.383325,39.552858,99.702737,35.074713,39.045006,43.750291,30.659512,56.541925,96.922198,47.624437,...,41.382339,40.302467,48.536101,41.003803,51.655487,49.797583,48.281965,42.194121,34.360519,48.243406
20180629,37.303752,42.220985,99.739907,40.970698,40.133252,47.596411,35.055792,61.123102,95.872873,51.548370,...,43.578656,43.919615,54.652569,42.059148,54.452352,49.071670,49.576872,38.583614,39.092766,50.715096

In [104]:
name = "WILLR"
dv.add_formula(name, "Ta('WILLR',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-92.592593,-96.172249,-8.909079,-88.034188,-92.903226,-52.164656,-66.129032,-78.571429,0.000000,-53.846154,...,-83.132530,-82.857143,-89.655172,-87.675765,-50.687644,-56.882255,-56.829035,-74.853801,-89.757914,-75.333333
20180626,-80.291971,-80.653951,0.000000,-83.760684,-89.743590,-52.874379,-97.590361,-65.454545,-0.000000,-57.692308,...,-81.481481,-88.421053,-81.818182,-80.893300,-47.709641,-68.988391,-48.662846,-92.171053,-88.826816,-68.855043
20180627,-95.804196,-91.257996,0.000000,-89.743590,-88.888889,-54.400284,-91.735537,-69.090909,-5.458090,-61.538462,...,-86.250000,-69.127517,-78.787879,-85.928393,-53.402883,-97.097844,-50.477555,-92.884990,-94.040968,-78.836452
20180628,-96.575342,-92.400000,0.000000,-92.857143,-85.106383,-54.151881,-99.236641,-67.924528,-8.869396,-72.000000,...,-90.140845,-89.726027,-68.571429,-93.711790,-64.964543,-86.978061,-67.502508,-91.606171,-98.269231,-80.564742
20180629,-84.507042,-78.000000,0.000000,-79.000000,-75.968992,-53.761533,-76.335878,-51.923077,-6.042885,-44.000000,...,-72.413793,-75.342466,-45.714286,-76.593886,-30.191973,-64.600180,-42.778335,-83.802178,-88.152174,-65.110545

In [105]:
name = "AD"
dv.add_formula(name, "Ta('AD',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-8.245166e+08,4.394298e+07,-2.044264e+07,-2.599006e+08,-5.346842e+07,-2.663158e+08,-4.883870e+08,-8.830995e+08,-2.503268e+07,3.539182e+08,...,-5.449192e+08,-5.605115e+07,7.506976e+08,-2.374262e+07,-1.253955e+08,5.243347e+07,3.142299e+07,3.157849e+06,-3.120172e+07,3.376032e+08
20180626,-7.634909e+08,5.308475e+07,-2.044264e+07,-2.565460e+08,-4.004082e+07,-3.274771e+07,-5.228251e+08,-8.109136e+08,-2.503268e+07,3.631266e+08,...,-5.264217e+08,-5.966914e+07,7.523934e+08,-2.279422e+07,-1.236155e+08,5.099846e+07,4.005894e+07,2.749878e+06,-2.880355e+07,3.919949e+08
20180627,-8.341087e+08,1.828089e+07,-2.044264e+07,-2.593734e+08,-4.784222e+07,-1.667408e+08,-5.453117e+08,-7.924216e+08,-3.042076e+07,3.536039e+08,...,-5.463092e+08,-5.873602e+07,7.443988e+08,-2.343282e+07,-1.254207e+08,4.596643e+07,3.676714e+07,2.352259e+06,-3.104944e+07,3.502032e+08
20180628,-8.922915e+08,4.880990e+06,-2.044264e+07,-2.659574e+08,-5.088601e+07,-2.316997e+08,-5.684005e+08,-7.924216e+08,-3.739106e+07,3.447077e+08,...,-5.646939e+08,-6.751146e+07,7.513702e+08,-2.421382e+07,-1.281236e+08,4.574454e+07,2.582264e+07,2.380829e+06,-3.398396e+07,3.266105e+08
20180629,-8.565404e+08,4.016948e+07,-2.044264e+07,-2.564407e+08,-3.691112e+07,-7.386082e+07,-5.439437e+08,-7.383718e+08,-3.563960e+07,3.553810e+08,...,-5.449234e+08,-5.964714e+07,7.629315e+08,-2.284265e+07,-1.233609e+08,4.708995e+07,3.892664e+07,2.668531e+06,-2.916912e+07,4.038769e+08

In [106]:
name = "ADOSC"
dv.add_formula(name, "Ta('ADOSC',0,open_adj,high_adj,low_adj,close_adj,volume,3,10)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-6.839121e+07,1.429296e+04,-2.588529e+06,-1.721301e+07,-2.935457e+07,-1.752419e+08,-1.083338e+07,-9.541064e+06,-2.857111e-04,-9.996917e+05,...,-3.596426e+07,6.325307e+06,2.261838e+07,-1.376962e+06,-26364.005607,9.319181e+05,-8.510124e+06,93837.179886,-5.324336e+06,-6.282793e+07
20180626,-5.033050e+07,-3.274870e+06,-2.119068e+06,-1.389249e+07,-2.260288e+07,-1.566848e+08,-2.217481e+07,1.157164e+07,-2.337657e-04,1.425935e+06,...,-2.583598e+07,3.014874e+06,1.766849e+07,-9.841243e+05,496901.459871,8.266923e+05,-5.525030e+06,-83532.141225,-3.992525e+06,-4.166892e+07
20180627,-6.083580e+07,-1.539668e+07,-1.734373e+06,-1.217075e+07,-2.026828e+07,-1.774833e+08,-3.195339e+07,2.504049e+07,-1.714390e+06,-7.413425e+05,...,-2.567171e+07,1.683429e+06,1.149356e+07,-9.371414e+05,91402.326785,-8.926086e+05,-4.848972e+06,-275013.642807,-3.799337e+06,-4.252223e+07
20180628,-7.811564e+07,-2.321951e+07,-1.419328e+06,-1.245490e+07,-1.843912e+07,-1.905257e+08,-4.039531e+07,2.827407e+07,-4.477699e+06,-4.391173e+06,...,-2.912037e+07,-1.806475e+06,1.014074e+07,-1.081226e+06,-942787.105852,-1.585414e+06,-7.613928e+06,-319255.330123,-4.308623e+06,-4.651241e+07
20180629,-6.670787e+07,-1.308073e+07,-1.161416e+06,-8.410836e+06,-1.156799e+07,-1.283193e+08,-3.239482e+07,4.422418e+07,-4.643798e+06,-2.089060e+06,...,-2.159329e+07,-5.676563e+05,1.234402e+07,-6.055959e+05,235226.488996,-1.296623e+06,-3.883415e+06,-216789.379247,-2.593280e+06,-1.933161e+07

In [107]:
name = "OBV"
dv.add_formula(name, "Ta('OBV',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,138122842.0,-588814073.0,-376622320.0,-63657426.0,197907329.0,-235680470.0,864873865.0,-2.174614e+09,-54027776.0,-14925102.0,...,-213067638.0,268992399.0,794871032.0,-11644981.0,40765108.0,53065068.0,447726504.0,2725892.0,-3186247.0,1.052202e+09
20180626,25707148.0,-647995005.0,-376622320.0,-55510417.0,215171386.0,-540506671.0,825844013.0,-2.102428e+09,-55579676.0,-28737792.0,...,-190459552.0,255424936.0,776216706.0,-10225067.0,45004607.0,48760044.0,461583066.0,1972381.0,360342.0,1.113612e+09
20180627,-78807120.0,-715229733.0,-376622320.0,-65406213.0,234674894.0,-761414257.0,787295710.0,-2.157904e+09,-73539953.0,-43021834.0,...,-210347053.0,242050216.0,800200547.0,-11109867.0,42021237.0,43123460.0,452439162.0,1367432.0,-3404822.0,1.057070e+09
20180628,-189883523.0,-761481015.0,-376622320.0,-73636267.0,252937633.0,-566537607.0,761897993.0,-2.157904e+09,-81243963.0,-56366146.0,...,-233327855.0,231519699.0,800200547.0,-12061888.0,39058510.0,38365157.0,440816686.0,774187.0,-7282586.0,1.009885e+09
20180629,-122353555.0,-726192524.0,-376622320.0,-58263133.0,270018060.0,-355093045.0,788166414.0,-2.103854e+09,-75720141.0,-42135173.0,...,-208614794.0,240098951.0,818368293.0,-10530264.0,44301196.0,41540309.0,457715837.0,1467730.0,-1846477.0,1.094176e+09

In [108]:
name = "ATR"
dv.add_formula(name, "Ta('ATR',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,24.053102,127.362278,89.245513,1.672433,6.400869,294.652669,8.322690,0.250558,17.879229,4.699082,...,0.245569,0.261613,0.155157,2.832840,3.434167,12.496186,5.460354,4.534474,1.720530,0.936035
20180626,25.030526,133.419824,92.341953,1.674206,6.413337,274.674514,8.922000,0.258535,16.729868,4.642142,...,0.244700,0.269796,0.154741,2.820552,3.377208,12.357438,5.478643,4.656297,1.674430,0.950982
20180627,25.938134,139.683748,95.217220,1.654458,6.216171,255.795547,9.649042,0.253005,15.621150,4.589269,...,0.237831,0.312980,0.158234,2.701562,3.248839,12.457789,5.249056,4.932276,1.638205,0.936814
20180628,25.688142,139.474826,97.887110,1.607596,6.085274,238.143660,9.585142,0.247871,14.552411,4.540172,...,0.236000,0.316768,0.161477,2.628366,3.180676,12.633812,5.219178,4.832113,1.629434,0.907296
20180629,25.383155,136.085527,100.366293,1.642525,5.937634,221.995455,9.781617,0.249571,13.561131,4.587486,...,0.234300,0.311571,0.160609,2.591237,3.252527,12.545982,5.238880,4.843391,1.589841,0.898585

In [109]:
name = "NATR"
dv.add_formula(name, "Ta('NATR',0,open_adj,high_adj,low_adj,close_adj,volume,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,2.492952,3.761727,67.306501,3.468191,3.752073,128.592310,2.674554,2.996497,99.985555,1.766699,...,3.549949,1.993152,1.864427,4.429088,5.001264,4.199651,5.705127,3.308869,3.877960,4.610730
20180626,2.621972,4.087218,69.641751,3.436295,3.727454,121.678767,3.021709,3.015691,103.953351,1.749569,...,3.526580,2.097746,1.862467,4.353830,4.893926,4.233321,5.623127,3.527765,3.765363,4.612978
20180627,2.797749,4.512322,71.810197,3.445182,3.605206,117.107406,3.405639,2.972120,102.667878,1.733892,...,3.470033,2.470616,1.901397,4.210617,4.752960,4.468302,5.408715,3.885517,3.732024,4.655086
20180628,2.823591,4.569723,73.823755,3.375670,3.499631,108.435384,3.475839,2.911801,99.223984,1.728080,...,3.486491,2.564318,1.940367,4.159678,4.745467,4.568175,5.603994,3.840802,3.799793,4.552828
20180629,2.737888,4.328179,75.693487,3.357512,3.344462,100.229180,3.399905,2.850902,89.683426,1.716350,...,3.366394,2.479392,1.905082,3.977051,4.579673,4.407052,5.340630,3.797844,3.628617,4.365744

In [110]:
name = "TRANGE"
dv.add_formula(name, "Ta('TRANGE',0,open_adj,high_adj,low_adj,close_adj,volume,10)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,55.07568,251.78964,132.59568,1.198063,4.383612,25.497450,8.754438,0.150933,17.881812,2.60128,...,0.127316,0.528684,0.190061,1.516161,2.475719,12.331998,4.196730,4.50,1.054648,0.549556
20180626,37.73704,212.16792,132.59568,1.697256,6.575418,14.958504,16.713018,0.362239,1.788181,3.90192,...,0.233413,0.376179,0.149334,2.660812,2.636742,10.553716,5.716409,6.24,1.075127,1.145298
20180627,37.73704,221.11476,132.59568,1.397740,3.653010,10.368963,19.100592,0.181120,1.207807,3.90192,...,0.148536,0.874362,0.203637,1.154692,1.580032,13.762355,2.264422,8.52,1.167280,0.752624
20180628,22.43824,136.75884,132.59568,0.998386,4.383612,8.669133,8.754438,0.181120,0.658804,3.90192,...,0.212194,0.366012,0.203637,1.676814,2.294569,14.922104,4.830768,3.53,1.515416,0.523565
20180629,21.41832,92.02464,132.59568,2.096611,4.018311,12.068793,12.335799,0.271679,0.674489,5.20256,...,0.212194,0.244008,0.149334,2.108568,4.186582,11.404198,5.494999,4.99,1.075127,0.785347

In [111]:
name = "AVGPRICE"
dv.add_formula(name, "Ta('AVGPRICE',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,986.00766,3499.81209,33.14892,48.596439,172.787373,232.069291,314.264428,8.422061,4.470453,266.63120,...,6.959963,13.361980,8.413602,64.647691,69.433362,294.701885,96.366274,138.3850,44.786698,20.470946
20180626,950.56544,3267.19425,33.14892,48.321882,169.499664,221.615336,300.834324,8.414515,16.093631,264.35508,...,6.859171,12.922257,8.318571,63.877059,68.263434,293.165218,95.581274,133.2200,44.128823,20.181787
20180627,939.09134,3164.62512,33.14892,48.271963,172.604722,221.105387,289.891277,8.505075,15.203462,265.33056,...,6.922829,12.708750,8.328753,64.497079,68.827012,283.355674,97.395328,129.6025,44.231216,20.378124
20180628,913.33836,3061.41693,33.14892,47.922528,173.609300,219.830515,279.744087,8.505075,14.921117,263.70476,...,6.837952,12.485076,8.284632,63.764100,67.800494,275.517704,94.891883,125.6900,43.429991,19.993631
20180629,922.77262,3105.51207,33.14892,48.296923,175.892431,219.405557,282.330626,8.618274,14.964253,265.33056,...,6.869781,12.469825,8.379663,64.208406,69.078610,281.596722,96.119703,126.6275,43.348077,20.214510

In [112]:
name = "MEDPRICE"
dv.add_formula(name, "Ta('MEDPRICE',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,984.22280,3501.40974,0.0,48.621398,172.787373,235.001498,313.965981,8.437155,0.000000,266.63120,...,6.959963,13.369605,8.416996,64.627609,69.370463,294.788867,96.992764,138.250,44.812296,20.511355
20180626,944.95588,3252.17634,0.0,48.371802,169.499664,220.722926,301.232253,8.391875,16.093631,264.02992,...,6.843256,12.901923,8.301602,63.894631,68.454648,293.667776,95.649206,133.395,44.105785,20.108161
20180627,939.85628,3151.84392,0.0,48.222044,173.152674,221.572841,288.896454,8.482435,15.356398,265.98088,...,6.928134,12.637581,8.355905,64.577405,68.832044,284.273809,97.455712,129.740,44.244015,20.402666
20180628,915.37820,3071.96142,0.0,48.022367,174.248577,221.062892,279.744087,8.512621,14.964253,264.02992,...,6.853866,12.505410,8.274450,63.874549,68.072220,276.909403,95.407668,125.725,43.455589,20.059076
20180629,922.51764,3098.80194,0.0,48.271963,175.892431,216.983299,282.330626,8.618274,15.019153,265.33056,...,6.875086,12.454575,8.383057,64.210916,69.123897,282.263577,96.253052,126.495,43.337837,20.222690

In [113]:
name = "TYPPRICE"
dv.add_formula(name, "Ta('TYPPRICE',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,977.763307,3462.85312,44.19856,48.488280,172.056771,233.046693,313.037480,8.411999,5.960604,266.414427,...,6.945817,13.288269,8.385319,64.405038,69.135638,295.710223,96.565039,137.846667,44.663827,20.441313
20180626,948.185627,3256.22372,44.19856,48.488280,170.352033,222.394425,299.242608,8.452248,16.093631,264.463467,...,6.875086,12.888367,8.303864,64.190834,68.639153,293.081458,96.242988,132.926667,44.226950,20.277228
20180627,935.606613,3133.09816,44.19856,48.155485,172.909140,220.524612,287.039452,8.492497,15.309341,265.547333,...,6.903378,12.647748,8.344592,64.438507,68.672699,282.450426,97.319847,128.806667,44.127970,20.309951
20180628,913.508347,3065.35780,44.19856,47.889248,174.126810,220.581273,278.417657,8.512621,14.864910,263.596373,...,6.825574,12.454575,8.290289,63.645284,67.723338,276.793428,94.649506,125.753333,43.264456,20.015446
20180629,924.047520,3113.92636,44.19856,48.488280,176.440383,218.484816,284.121306,8.663554,15.053139,265.980880,...,6.903378,12.491854,8.398895,64.525528,69.756246,283.068959,96.866962,126.840000,43.496546,20.342674

In [114]:
name = "WCLPRICE"
dv.add_formula(name, "Ta('WCLPRICE',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,974.53356,3443.57481,66.29784,48.421721,171.691470,232.069291,312.573230,8.399421,8.940906,266.30604,...,6.938744,13.247601,8.369481,64.293753,69.018226,296.170901,96.351177,137.6450,44.589592,20.406292
20180626,949.80050,3258.24741,66.29784,48.546519,170.778217,223.230175,298.247786,8.482435,16.093631,264.68024,...,6.891000,12.881589,8.304996,64.338936,68.731405,292.788300,96.539879,132.6925,44.287532,20.361762
20180627,933.48178,3123.72528,66.29784,48.122205,172.787373,220.000498,286.110951,8.497528,15.285812,265.33056,...,6.891000,12.652831,8.338935,64.369059,68.593026,281.538734,97.251914,128.3400,44.069947,20.263594
20180628,912.57342,3062.05599,66.29784,47.822689,174.065926,220.340464,277.754442,8.512621,14.815238,263.37960,...,6.811427,12.429157,8.298208,63.530652,67.548897,276.735441,94.270425,125.7675,43.168889,19.993631
20180629,924.81246,3121.48857,66.29784,48.596439,176.714359,219.235574,285.016646,8.686194,15.070132,266.30604,...,6.917524,12.510493,8.406814,64.682834,70.072420,283.471649,97.173918,127.0125,43.575901,20.402666

In [115]:
name = "HT_DCPERIOD"
dv.add_formula(name, "Ta('HT_DCPERIOD',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)
dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,22.683251,20.331041,24.970345,21.832378,19.858854,27.822644,18.306959,16.134184,33.971289,17.966263,...,27.624611,21.619234,37.455844,17.290651,17.702937,21.840529,19.807637,20.143979,29.115941,21.690733
20180626,22.692725,20.226157,25.087978,22.229306,20.053756,28.334767,18.362238,16.173024,33.957420,17.995050,...,27.481980,20.961988,39.262868,17.117236,17.457198,21.673800,19.278195,19.563875,30.503027,21.153741
20180627,23.229959,20.186445,25.104507,23.255410,20.859173,28.806002,18.497999,16.735359,35.008797,18.456133,...,26.794167,20.602141,40.940084,17.226708,17.111955,21.509448,18.681911,19.042225,32.531909,20.728421
20180628,24.392489,20.355249,25.111271,24.779076,22.141118,28.473497,18.858542,17.702066,34.904236,19.369574,...,25.780171,20.388818,41.287931,17.586452,16.727878,21.477857,18.039698,18.683058,33.092998,20.492834
20180629,26.054225,20.543907,25.174629,25.233917,23.158023,27.664840,18.673424,18.681075,35.844512,19.917565,...,25.883601,20.247040,40.606356,17.863713,16.338189,21.603357,17.358118,18.378608,33.819707,20.146794

In [116]:
name = "HT_DCPHASE"
dv.add_formula(name, "Ta('HT_DCPHASE',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,21.245059,211.387813,27.004663,-18.962355,-30.830716,311.266187,243.052625,-29.179323,171.611890,-29.089863,...,-10.517610,15.030079,-15.560745,-38.598696,0.713540,242.725389,-19.048849,-36.501521,-33.975463,-8.340823
20180626,9.346083,229.315110,32.185895,-19.266502,-25.670737,-44.241482,269.882874,-17.221751,281.594813,-15.581122,...,-5.195680,13.575746,-17.938744,-24.976362,-10.100828,255.677440,-17.969984,313.909331,-31.858485,-16.335802
20180627,-5.719779,250.110739,36.884145,-15.936899,-21.298114,-40.758319,289.609375,-11.187366,285.547959,-2.657559,...,-1.173140,8.751576,-20.672345,-13.331224,-6.166467,270.462345,-8.159591,-44.484216,-33.809702,-13.686850
20180628,-13.564070,269.711972,41.426495,-11.660018,-17.228670,-34.154513,297.956292,-5.945809,290.173823,1.256749,...,3.772776,-2.149367,-14.734069,-8.144648,5.274478,286.907558,3.628932,-40.060710,-31.254279,-8.383733
20180629,-13.245986,280.776419,45.979245,-9.277353,-12.743202,-28.352739,308.546739,-0.157500,295.001672,6.478457,...,6.870426,-10.091272,-8.855590,2.259678,30.656018,304.245376,26.545210,-29.316774,-28.692358,0.362195

In [117]:
name = "INPHASE"
dv.add_formula(name, "Ta('HT_PHASOR',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,5.315600,34.571845,4.092825e-07,-2.822525,-11.638731,-172.266765,4.924002,-0.252137,0.000000,-0.717813,...,-0.344083,-0.092594,0.109481,-2.307238,-2.462523,-4.827311,-6.953226,-0.470923,-2.716249,-1.106975
20180626,-7.236510,-4.721323,-5.111539e-13,-6.382070,-23.336148,-184.450290,-1.240919,-0.475953,0.000000,-6.135818,...,-0.816257,-0.025453,0.222446,-4.890479,-4.780644,-6.369388,-11.471691,-3.323155,-5.634269,-2.368203
20180627,-19.448490,-64.971571,-4.876269e-13,-7.783909,-26.549799,-196.514566,-4.841859,-0.585884,0.000000,-8.312549,...,-1.120672,-0.024496,0.148702,-5.428763,-3.883545,-7.651728,-10.642757,-2.447705,-7.226164,-2.710213
20180628,-20.094631,-17.543562,-4.918912e-13,-6.259461,-23.659621,-171.491655,-1.923118,-0.583997,0.000000,-5.473841,...,-0.858527,0.018197,-0.056031,-4.189385,-2.001742,-6.932667,-6.145336,-2.346937,-5.826649,-1.984184
20180629,-24.006753,33.093507,-4.892323e-13,-4.131820,-20.696273,-145.561437,-2.125598,-0.503904,-0.212472,-2.119026,...,-0.471858,0.142945,-0.121702,-3.360780,-0.243748,-9.281237,-2.300845,-3.575035,-4.456743,-1.137544

In [121]:
name = "QUADRATURE"
dv.add_formula(name, "Ta('HT_PHASOR',1,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

Field [QUADRATURE] is overwritten.
(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,9.411559,-64.532507,2.219585e-01,-6.629597,-17.802415,-142.581567,-4.728251,-0.377493,0.000000,-6.729702,...,-0.866454,0.261788,0.540292,-4.557627,-3.642166,3.032427,-8.996145,-3.168735,-5.269605,-2.073630
20180626,-31.064101,-125.690657,7.563452e-02,-6.655076,-19.121278,-58.464723,-11.453820,-0.391977,-0.063115,-8.531281,...,-1.250030,0.152651,0.086546,-3.732802,-1.398814,-4.840390,-4.343709,-2.776898,-7.833961,-2.019786
20180627,-22.639252,-36.008185,-2.846170e-07,0.246903,-0.886720,15.405964,-1.951144,-0.133391,-0.141167,1.120409,...,0.010061,0.082651,-0.690792,0.568614,3.455650,0.500118,7.303023,0.688491,-0.134879,0.616737
20180628,-22.332838,62.909871,-9.549356e-08,5.797083,8.354666,98.484598,-0.592968,0.113329,-1.096872,7.601229,...,1.006462,0.138062,-0.771974,2.440440,4.262078,-1.206177,10.828714,-2.276690,5.668625,2.105240
20180629,-50.006069,-134.495125,1.587652e-14,9.109250,20.010932,79.615708,-6.947041,0.427565,-1.994573,10.307964,...,1.220291,-0.162008,-0.586422,3.224519,4.188897,4.544838,12.095272,-1.859624,7.939237,2.704362

In [119]:
name = "SINE"
dv.add_formula(name, "Ta('HT_SINE',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,0.362358,-0.520828,0.454063,-0.324947,-0.512503,-0.751654,-0.891423,-0.487545,0.145878,-0.486181,...,-0.182538,0.259326,-0.268260,-0.623862,0.012453,-0.888820,-0.326374,-0.594844,-0.558838,-0.145061
20180626,0.162397,-0.758306,0.532668,-0.329963,-0.433199,-0.697684,-0.999998,-0.296071,-0.979593,-0.268602,...,-0.090557,0.234731,-0.308000,-0.422244,-0.175381,-0.968918,-0.308519,-0.720438,-0.527823,-0.281266
20180627,-0.099663,-0.940352,0.600199,-0.274579,-0.363221,-0.652870,-0.942003,-0.194018,-0.963406,-0.046367,...,-0.020474,0.152151,-0.353023,-0.230580,-0.107418,-0.999967,-0.141931,-0.700713,-0.556436,-0.236615
20180628,-0.234533,-0.999987,0.661659,-0.202104,-0.296186,-0.561427,-0.883305,-0.103588,-0.938651,0.021933,...,0.065800,-0.037505,-0.254333,-0.141673,0.091927,-0.956775,0.063294,-0.643599,-0.518837,-0.145802
20180629,-0.229132,-0.982364,0.719088,-0.161214,-0.220582,-0.474898,-0.782100,-0.002749,-0.906295,0.112830,...,0.119624,-0.175217,-0.153945,0.039429,0.509883,-0.826635,0.446904,-0.489638,-0.480106,0.006321

In [122]:
name = "LEADSINE"
dv.add_formula(name, "Ta('HT_SINE',1,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

Field [LEADSINE] is overwritten.
(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,0.915277,-0.971911,0.951082,0.438962,0.244788,-0.065121,-0.950772,0.272627,-0.596391,0.274129,...,0.566153,0.866288,0.491501,0.111492,0.715858,-0.952527,0.437605,0.147783,0.191229,0.597054
20180626,0.812553,-0.997165,0.975095,0.434186,0.330996,0.013238,-0.708551,0.466051,-0.550556,0.491191,...,0.640168,0.853330,0.454943,0.342408,0.572134,-0.860053,0.454457,-0.019035,0.227357,0.479675
20180627,0.633114,-0.905489,0.989985,0.485773,0.401978,0.073964,-0.428787,0.556479,-0.491695,0.673560,...,0.692481,0.806461,0.411954,0.525008,0.627060,-0.701378,0.599588,0.009002,0.194068,0.519715
20180628,0.521545,-0.710652,0.998056,0.549606,0.465944,0.188161,-0.293101,0.630055,-0.419867,0.722445,...,0.752102,0.680089,0.504014,0.599797,0.769115,-0.470896,0.750445,0.086100,0.237613,0.596453
20180629,0.526273,-0.562424,0.999854,0.583862,0.533715,0.286479,-0.112393,0.705160,-0.341993,0.782374,...,0.786616,0.572271,0.589822,0.734437,0.968826,-0.186603,0.948574,0.270319,0.280795,0.711563

In [123]:
name = "INTEGER"
dv.add_formula(name, "Ta('HT_TRENDMODE',0,open_adj,high_adj,low_adj,close_adj,volume)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,1,0,1,1,1,1,0,1,1,1,...,1,1,1,1,1,0,1,1,1,1
20180626,1,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
20180627,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
20180628,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
20180629,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,1

In [125]:
name = "TR"
dv.add_formula(name, "Max(high_adj,Delay(close_adj,1))-Min(low_adj,Delay(close_adj,1))", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,55.07568,251.78964,132.59568,1.198063,4.383612,25.497450,8.754438,0.150933,17.881812,2.60128,...,0.127316,0.528684,0.190061,1.516161,2.475719,12.331998,4.196730,4.50,1.054648,0.549556
20180626,37.73704,212.16792,132.59568,1.697256,6.575418,14.958504,16.713018,0.362239,1.788181,3.90192,...,0.233413,0.376179,0.149334,2.660812,2.636742,10.553716,5.716409,6.24,1.075127,1.145298
20180627,37.73704,221.11476,132.59568,1.397740,3.653010,10.368963,19.100592,0.181120,1.207807,3.90192,...,0.148536,0.874362,0.203637,1.154692,1.580032,13.762355,2.264422,8.52,1.167280,0.752624
20180628,22.43824,136.75884,132.59568,0.998386,4.383612,8.669133,8.754438,0.181120,0.658804,3.90192,...,0.212194,0.366012,0.203637,1.676814,2.294569,14.922104,4.830768,3.53,1.515416,0.523565
20180629,21.41832,92.02464,132.59568,2.096611,4.018311,12.068793,12.335799,0.271679,0.674489,5.20256,...,0.212194,0.244008,0.149334,2.108568,4.186582,11.404198,5.494999,4.99,1.075127,0.785347

In [128]:
name = "XR"
dv.add_formula(name, "close_adj-Min(low_adj,Delay(close_adj,1))", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,8.15936,10.22496,132.59568,0.199677,0.000000,0.000000,1.591716,0.000000,17.881812,0.65032,...,0.021219,0.020334,0.000000,0.090367,0.533387,8.930067,0.925897,1.04,0.081914,0.064654
20180626,27.53784,90.74652,132.59568,1.198063,5.844816,11.558844,0.795858,0.362239,0.000000,3.25160,...,0.212194,0.111837,0.081455,2.219017,1.871885,3.517905,4.639550,1.19,0.901058,1.079852
20180627,6.11952,52.40292,132.59568,0.499193,1.095903,2.039796,3.979290,0.120746,0.329402,0.65032,...,0.000000,0.467682,0.067879,0.160653,0.311981,0.657191,0.724615,1.46,0.235504,0.098168
20180628,5.09960,48.56856,132.59568,0.099839,1.826505,2.889711,0.397929,0.090560,0.031372,0.65032,...,0.021219,0.030501,0.149334,0.150612,0.100639,7.113127,0.140897,1.85,0.184307,0.130891
20180629,17.33864,92.02464,132.59568,1.697256,3.653010,10.538946,11.937870,0.271679,0.454888,4.55224,...,0.190975,0.233841,0.122182,1.998119,3.995368,8.118243,4.961601,3.53,1.013691,0.752624

In [129]:
name = "XRM"
dv.add_formula(name, "Ts_Sum(XR,7)/Ts_Sum(TR,7)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,0.340659,0.413534,1.0,0.230769,0.247191,-2.729849e-15,0.427027,0.452381,1.000000,0.476190,...,0.320000,0.435556,0.569620,0.298493,0.500021,0.557102,0.380702,0.495285,0.289777,0.355932
20180626,0.377551,0.417778,1.0,0.265432,0.306452,5.329154e-02,0.317536,0.551724,0.983607,0.500000,...,0.346535,0.414634,0.536585,0.371285,0.498593,0.560685,0.449125,0.453346,0.313262,0.431153
20180627,0.328571,0.359631,1.0,0.275641,0.314286,7.386888e-02,0.289362,0.574713,0.971142,0.444444,...,0.343434,0.450479,0.465909,0.383117,0.531040,0.505292,0.468220,0.398957,0.309992,0.408029
20180628,0.350254,0.379487,1.0,0.392857,0.446970,1.070640e-01,0.261905,0.615385,0.956186,0.480000,...,0.479452,0.379747,0.428571,0.416667,0.539172,0.508110,0.534561,0.401316,0.362087,0.539273
20180629,0.356784,0.403545,1.0,0.460870,0.444444,2.059585e-01,0.305164,0.666667,0.939394,0.520000,...,0.492958,0.416149,0.506024,0.438083,0.578732,0.477355,0.523396,0.326681,0.424947,0.559046

In [130]:
name = "XRN"
dv.add_formula(name, "Ts_Sum(XR,14)/Ts_Sum(TR,14)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,0.394322,0.446793,0.991475,0.297071,0.279693,0.913316,0.471572,0.472000,1.000000,0.504587,...,0.312883,0.462185,0.563380,0.381794,0.550701,0.532207,0.457272,0.521591,0.326360,0.413978
20180626,0.408955,0.428374,1.000000,0.292181,0.302583,0.897124,0.399390,0.492188,0.992366,0.504587,...,0.341176,0.430446,0.568493,0.397416,0.518404,0.493889,0.453208,0.471291,0.315320,0.432090
20180627,0.390449,0.417043,1.000000,0.286853,0.285714,0.871887,0.370879,0.496124,0.987744,0.472222,...,0.327485,0.456140,0.541935,0.378285,0.505723,0.447421,0.438244,0.440999,0.301477,0.399887
20180628,0.349711,0.403277,1.000000,0.286853,0.303371,0.834212,0.343243,0.500000,0.983559,0.459459,...,0.329412,0.432773,0.568750,0.392287,0.494626,0.453370,0.413833,0.428936,0.294803,0.409760
20180629,0.392857,0.441905,1.000000,0.344000,0.340996,0.772126,0.397368,0.548148,0.980815,0.509091,...,0.372671,0.475269,0.621795,0.383714,0.512599,0.490168,0.467560,0.448428,0.330919,0.445928

In [131]:
name = "XRO"
dv.add_formula(name, "Ts_Sum(XR,28)/Ts_Sum(TR,28)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,0.377327,0.461602,0.970808,0.331034,0.317241,0.972315,0.472062,0.445744,1.000000,0.500000,...,0.326531,0.453947,0.542857,0.417931,0.484432,0.572508,0.415799,0.544923,0.427488,0.388451
20180626,0.411570,0.468429,0.973220,0.344828,0.347630,0.970616,0.445652,0.486727,0.996310,0.518519,...,0.340067,0.450394,0.564103,0.440763,0.487777,0.556779,0.437896,0.531953,0.384550,0.419518
20180627,0.400958,0.460729,0.975502,0.343964,0.348993,0.968228,0.434412,0.501091,0.994301,0.513089,...,0.331081,0.465248,0.557994,0.434860,0.479573,0.555060,0.445428,0.496057,0.378495,0.419746
20180628,0.376396,0.444198,0.979192,0.310096,0.338530,0.965840,0.412060,0.496396,0.992691,0.494792,...,0.320132,0.436639,0.545741,0.419027,0.469944,0.546648,0.413828,0.490453,0.367281,0.400426
20180629,0.398413,0.457478,0.981794,0.336471,0.349558,0.963663,0.438511,0.515654,0.991895,0.510204,...,0.333333,0.459239,0.557994,0.424382,0.471538,0.545261,0.441677,0.497274,0.374867,0.422017

In [132]:
name = "UOS"
dv.add_formula(name, "100 * (XRO*7*14+XRN*7*28+XRM*14*28) / (7*14+7*28+14*28)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,36.122964,42.990333,99.339406,26.403624,26.648459,39.984961,44.618765,45.703823,100.000000,48.770517,...,31.889964,44.579133,56.401410,33.935573,51.227396,55.218971,40.759297,50.989244,31.990234,37.716246
20180626,39.138354,42.804113,99.617433,28.441687,31.122890,42.543296,35.922498,52.542834,98.792415,50.395612,...,34.407984,42.426038,54.963290,38.867639,50.270847,54.104264,44.868762,46.970275,32.403399,42.975872
20180627,35.659187,39.047716,99.650028,28.860469,31.108067,42.963965,33.337390,54.174134,97.919419,46.218732,...,33.711275,45.420655,50.078587,38.912828,51.645441,49.586726,45.639944,42.484041,31.734542,40.737682
20180628,35.383325,39.552858,99.702737,35.074713,39.045006,43.750291,30.659512,56.541925,96.922198,47.624437,...,41.382339,40.302467,48.536101,41.003803,51.655487,49.797583,48.281965,42.194121,34.360519,48.243406
20180629,37.303752,42.220985,99.739907,40.970698,40.133252,47.596411,35.055792,61.123102,95.872873,51.548370,...,43.578656,43.919615,54.652569,42.059148,54.452352,49.071670,49.576872,38.583614,39.092766,50.715096

In [141]:
name = "SRMI"
dv.add_formula(name, "Delta(close_adj,10)/Max(close_adj,Delay(close_adj,10))", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-0.065217,-0.008237,0.0,-0.140569,-0.197595,-0.569467,0.001279,-0.115016,0.000000,-0.012077,...,-0.116531,-0.015256,-0.012882,-0.119923,-0.065642,-0.042423,-0.061297,-0.043418,-0.154702,-0.115493
20180626,-0.067729,-0.064811,0.0,-0.128571,-0.185121,-0.575854,-0.058376,-0.089744,-0.100000,-0.007299,...,-0.111413,-0.032875,-0.009709,-0.097244,-0.058552,-0.005924,-0.080976,-0.072974,-0.124395,-0.105586
20180627,-0.096421,-0.125947,0.0,-0.150177,-0.186207,-0.589588,-0.099874,-0.101911,-0.149123,-0.033254,...,-0.122283,-0.049580,-0.009693,-0.115204,-0.061716,-0.101756,-0.078812,-0.114722,-0.144994,-0.124425
20180628,-0.103518,-0.136035,0.0,-0.148214,-0.159011,-0.541519,-0.123894,-0.099042,-0.179825,-0.031175,...,-0.106443,-0.065385,-0.009693,-0.122560,-0.056642,-0.083056,-0.093811,-0.113827,-0.142506,-0.114281
20180629,-0.097319,-0.101206,0.0,-0.117117,-0.139823,-0.486199,-0.096250,-0.058442,-0.154386,-0.014388,...,-0.088889,-0.047766,0.000000,-0.089774,-0.013050,-0.041645,-0.015952,-0.110669,-0.124770,-0.085194

In [142]:
name = "REV5M20"
dv.add_formula(name, "close_adj/Delay(close_adj,5)-close_adj/Delay(close_adj,20)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,0.036891,-0.057380,0.159396,0.089444,0.078464,0.160177,-0.027089,0.019649,0.0,0.018550,...,0.146862,0.035855,0.053086,0.029229,0.115286,-0.120353,0.077436,0.024830,0.111866,0.085476
20180626,0.064476,-0.021338,0.116402,0.179791,0.165903,0.222398,0.024086,0.062615,0.0,0.045804,...,0.250649,0.029616,0.040828,0.067472,0.178746,-0.067694,0.190385,0.048020,0.216835,0.190037
20180627,0.041533,-0.047726,0.127178,0.176498,0.160534,0.284558,-0.011614,0.071192,0.0,0.033742,...,0.214564,0.039943,0.053417,0.060379,0.108787,-0.072013,0.146016,-0.001509,0.156432,0.164272
20180628,0.019745,-0.107995,0.111702,0.168491,0.185657,0.363795,-0.015826,0.090418,0.0,0.014706,...,0.173718,0.007735,0.029212,0.050990,0.094294,-0.013921,0.142646,0.037177,0.152328,0.131189
20180629,0.029915,-0.085868,0.102150,0.157248,0.198786,0.453665,-0.006933,0.103238,0.0,0.019278,...,0.175755,0.003491,0.026394,0.103997,0.102043,0.003289,0.102384,0.028097,0.171531,0.115137

In [147]:
name = "COPPOCK"
dv.add_formula(name, "Ta('WMA',0,0,0,0,100*(close_adj/Delay(close_adj,14)+close_adj/Delay(close_adj,11)),0,10)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

Field [COPPOCK] is overwritten.
(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,191.478618,207.811662,182.423484,173.246522,169.049432,121.880317,200.350655,185.114524,200.000000,194.997488,...,167.378886,195.194009,193.758815,186.161419,186.607721,203.021591,181.971102,195.636240,171.114729,177.314674
20180626,190.079601,204.115205,186.385387,172.089696,166.186580,111.391655,198.140739,183.210455,196.363636,195.024174,...,167.839106,194.500173,194.318863,183.968085,187.572471,199.321527,183.372082,193.493178,169.686073,177.129932
20180627,188.102110,198.893855,189.715650,170.738842,163.775317,102.497605,194.690646,181.572541,191.304625,195.032305,...,168.123998,193.454311,194.876686,181.701560,188.108176,195.369772,183.392155,190.505463,168.776508,175.896550
20180628,185.293670,193.289758,192.516762,169.402137,162.338882,95.828809,190.513786,180.225894,185.671451,194.360217,...,168.394374,191.556589,195.249071,179.684262,187.814886,191.037817,182.252076,187.168350,167.308142,174.809331
20180629,183.937725,189.789374,194.781599,169.838452,162.755878,91.900505,188.501630,180.512899,181.617225,194.871395,...,170.621743,190.889437,196.274920,179.003234,189.641692,189.011348,183.994894,184.956569,167.559250,175.589021

In [146]:
name = "DEA"
dv.add_formula(name, "Ta('EMA',0,0,0,0,Ta('EMA',0,0,0,0,close_adj,0,12)-Ta('EMA',0,0,0,0,close_adj,0,26),0,9)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

Field [DEA] is overwritten.
(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-25.606397,-25.312329,-6.626700,-2.128863,-8.250301,-38.200536,-1.144295,-0.182300,-0.000327,-2.031051,...,-0.490412,-0.210418,-0.110280,-3.095074,-0.817755,10.289779,-3.356068,-0.339209,-1.261939,-1.043484
20180626,-26.587045,-25.985673,-6.466769,-2.304294,-9.222989,-45.512354,-1.422860,-0.204612,-0.028833,-2.148048,...,-0.502658,-0.211179,-0.112770,-3.157114,-0.927311,9.524268,-3.449975,-0.603275,-1.467317,-1.080680
20180627,-28.164674,-31.764698,-6.278348,-2.451815,-10.052371,-52.309648,-2.055573,-0.223408,-0.087675,-2.241444,...,-0.511100,-0.218013,-0.115185,-3.206626,-1.017725,8.559372,-3.474682,-0.985020,-1.650452,-1.110471
20180628,-30.246212,-41.061838,-6.067638,-2.574894,-10.702231,-58.289915,-2.993032,-0.238507,-0.171007,-2.341168,...,-0.516905,-0.232827,-0.117165,-3.253920,-1.110275,7.464807,-3.509262,-1.436296,-1.822456,-1.134660
20180629,-32.188909,-50.514905,-5.840173,-2.649624,-11.122829,-63.281903,-3.875074,-0.246099,-0.257673,-2.361667,...,-0.516527,-0.247930,-0.116768,-3.258531,-1.133040,6.458853,-3.461058,-1.876781,-1.959448,-1.141042

In [152]:
name = "DDI"
dv.add_formula("DMZ", "Max(Abs(Delta(high_adj,1)),Abs(Delta(close_adj,1)))*(0+(high_adj+low_adj)>(Delay(high_adj,1)+Delay(low_adj,1)))", 
               is_quarterly=False, add_data=True)
dv.add_formula("DMF", "Max(Abs(Delta(high_adj,1)),Abs(Delta(close_adj,1)))*(0+(high_adj+low_adj)<(Delay(high_adj,1)+Delay(low_adj,1)))", 
               is_quarterly=False, add_data=True)
dv.add_formula("DIZ", "Ts_Sum(DMZ,13)/(Ts_Sum(DMZ,13)+Ts_Sum(DMF,13))", 
               is_quarterly=False, add_data=True)
dv.add_formula("DIF", "Ts_Sum(DMF,13)/(Ts_Sum(DMZ,13)+Ts_Sum(DMF,13))", 
               is_quarterly=False, add_data=True)
dv.add_formula(name, "DIZ-DIF", 
               is_quarterly=False, add_data=True)
dv.remove_field("DMZ")
dv.remove_field("DMF")
dv.remove_field("DIZ")
dv.remove_field("DIF")
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

Field [DDI] is overwritten.
(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-0.510549,-0.081143,-1.0,-0.854922,-0.828571,0.314366,-0.123596,-0.780822,NaN,-0.301587,...,-0.808824,0.000000,-0.386667,-0.536616,-0.140375,0.025998,-0.053879,0.280690,-0.875747,-0.534483
20180626,-0.575092,-0.239357,NaN,-0.877551,-0.940928,0.290293,-0.264151,-0.846154,1.000000,-0.353846,...,-0.807407,-0.181818,-0.439024,-0.679515,-0.196014,-0.100671,-0.218607,0.055853,-0.919156,-0.716529
20180627,-0.747292,-0.369887,NaN,-0.919598,-0.889362,0.297212,-0.401709,-0.822785,0.896488,-0.313433,...,-0.740458,-0.277372,-0.404762,-0.600739,-0.256514,-0.240178,-0.216262,-0.143950,-0.878440,-0.661943
20180628,-0.753521,-0.383830,NaN,-0.914894,-0.848214,0.294863,-0.450980,-0.786667,0.837064,-0.269841,...,-0.721311,-0.305263,-0.358974,-0.595695,-0.265780,-0.318836,-0.224286,-0.305589,-0.878231,-0.652990
20180629,-0.629893,-0.369840,NaN,-0.777778,-0.756757,0.290774,-0.280576,-0.609756,0.841187,-0.076923,...,-0.559322,-0.295374,-0.131579,-0.520963,-0.098608,-0.109177,-0.198601,-0.227090,-0.872749,-0.532873

In [155]:
name = "ARBR"
dv.add_formula("AR", "Ts_Sum(high_adj-open_adj,26)/Ts_Sum(open_adj-low_adj,26)", 
               is_quarterly=False, add_data=True)
dv.add_formula("BR", "Ts_Sum(high_adj-close_adj,26)/Ts_Sum(close_adj-low_adj,26)", 
               is_quarterly=False, add_data=True)
dv.add_formula(name, "AR-BR", 
               is_quarterly=False, add_data=True)
dv.remove_field("AR")
dv.remove_field("BR")
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

Field [AR] is overwritten.
(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-0.892858,0.196886,1.450871,-1.434777,-1.665101,NaN,0.249486,-0.511229,NaN,-0.077446,...,-1.433652,-0.247373,-0.111598,-0.662077,-0.149294,0.537635,-0.234385,-0.131231,-0.925566,-0.601175
20180626,-0.948680,0.044400,1.259772,-1.628585,-1.537047,4.863927,-0.071027,-0.362097,NaN,-0.076266,...,-1.233424,-0.411278,-0.262214,-0.579145,-0.023671,0.504021,-0.165276,-0.231054,-0.814916,-0.515710
20180627,-0.995104,-0.159558,1.258085,-1.615041,-1.533326,3.039992,-0.365239,-0.363926,NaN,-0.078804,...,-1.368687,-0.425993,-0.223582,-0.705429,-0.241447,0.383126,-0.170003,-0.396505,-0.906951,-0.575411
20180628,-0.988164,-0.098044,1.280896,-1.766870,-1.488806,3.528764,-0.487919,-0.335071,3.513355,-0.122222,...,-1.793124,-0.526709,-0.163395,-0.761375,-0.374538,0.419152,-0.395674,-0.467616,-0.994475,-0.593778
20180629,-0.809435,-0.020918,1.290099,-1.386394,-1.202362,2.359428,-0.176556,-0.095364,4.925344,0.059224,...,-1.457107,-0.319616,0.009622,-0.534423,-0.256554,0.451557,-0.099379,-0.444293,-0.916286,-0.320888

In [158]:
name = "PSY"
dv.add_formula(name, "Ts_Sum(Delta(close_adj,1)>0 + 0,12) / 12", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,0.416667,0.500000,0.083333,0.166667,0.250000,0.000000,0.666667,0.166667,0.000000,0.333333,...,0.250000,0.416667,0.416667,0.250000,0.416667,0.333333,0.416667,0.416667,0.333333,0.250000
20180626,0.333333,0.416667,0.000000,0.250000,0.333333,0.000000,0.583333,0.250000,0.000000,0.250000,...,0.333333,0.333333,0.416667,0.333333,0.416667,0.333333,0.416667,0.333333,0.416667,0.333333
20180627,0.333333,0.416667,0.000000,0.250000,0.416667,0.000000,0.583333,0.250000,0.000000,0.250000,...,0.333333,0.333333,0.500000,0.250000,0.333333,0.333333,0.416667,0.333333,0.416667,0.333333
20180628,0.333333,0.333333,0.000000,0.250000,0.500000,0.083333,0.500000,0.250000,0.000000,0.250000,...,0.333333,0.333333,0.500000,0.250000,0.333333,0.333333,0.333333,0.333333,0.416667,0.250000
20180629,0.333333,0.333333,0.000000,0.250000,0.500000,0.166667,0.500000,0.250000,0.083333,0.250000,...,0.416667,0.333333,0.500000,0.250000,0.416667,0.333333,0.416667,0.333333,0.416667,0.333333

In [162]:
name = "WVAD"
dv.add_formula("WVAD", "Ts_Sum((close_adj-open_adj)/(high_adj-low_adj)*volume,24)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-4.245591e+08,7.511553e+07,NaN,-9.537160e+07,-1.770484e+08,NaN,3.687209e+07,-2.435944e+08,NaN,-4.550467e+07,...,-1.902671e+08,1.161460e+06,-9.210639e+06,-7.151751e+06,-1.075816e+05,1.528737e+07,-2.914370e+07,-4.461178e+05,-1.027195e+07,-3.853540e+08
20180626,-4.062534e+08,9.081468e+07,NaN,-8.892658e+07,-1.572886e+08,NaN,1.309808e+07,-1.746314e+08,NaN,-4.090044e+07,...,-2.142931e+08,-2.105161e+06,-1.325917e+07,-5.520987e+06,-6.054669e+05,1.373720e+07,-2.784480e+07,-1.137856e+06,-3.981869e+06,-3.074270e+08
20180627,-3.841607e+08,3.450995e+07,NaN,-8.460340e+07,-1.264992e+08,NaN,-3.956151e+06,-1.268679e+08,NaN,-2.985870e+07,...,-2.142939e+08,4.704899e+06,8.617006e+06,-4.382352e+06,-6.767802e+06,8.612777e+06,-1.937086e+07,-1.789507e+06,-1.028589e+07,-2.520243e+08
20180628,-3.656211e+08,4.635678e+07,NaN,-8.285688e+07,-1.106573e+08,NaN,-2.835652e+07,-1.082235e+08,NaN,-3.024859e+07,...,-2.213795e+08,-1.008674e+06,1.110615e+07,-4.028859e+06,-7.705409e+06,1.144495e+07,-2.766822e+07,-1.253497e+06,-1.439859e+07,-2.717271e+08
20180629,-3.239534e+08,8.447928e+07,NaN,-6.623989e+07,-9.668245e+07,NaN,9.502641e+06,-2.199190e+07,NaN,-1.544545e+07,...,-2.070799e+08,4.710828e+06,2.144999e+07,-1.485980e+06,1.248118e+06,1.276844e+07,-1.635746e+06,-1.035177e+06,-2.145968e+07,-1.226727e+08

In [164]:
name = "MAWVAD"
dv.add_formula("MAWVAD", "Ta('SMA',0,0,0,0,WVAD,0,6)", 
               is_quarterly=False, add_data=True)
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-3.960720e+08,6.640438e+07,NaN,-8.620889e+07,-1.490320e+08,NaN,4.592407e+07,-2.193297e+08,NaN,-4.508460e+07,...,-1.685395e+08,-4.889976e+06,-3.779593e+06,-3.992995e+06,5.796169e+06,1.399992e+07,-3.683980e+07,-63095.234072,-2.470412e+06,-3.916380e+08
20180626,-3.988621e+08,7.402458e+07,NaN,-9.155097e+07,-1.559696e+08,NaN,3.831741e+07,-2.167861e+08,NaN,-4.953585e+07,...,-1.863298e+08,-1.158000e+06,2.736310e+06,-4.622116e+06,4.100746e+06,1.367672e+07,-3.608269e+07,-282118.933596,-5.726716e+06,-3.881726e+08
20180627,-3.876717e+08,7.724475e+07,NaN,-9.013297e+07,-1.511005e+08,NaN,3.289029e+07,-1.973190e+08,NaN,-4.152216e+07,...,-1.911547e+08,9.382614e+05,2.773011e+06,-4.646356e+06,1.933538e+06,1.298415e+07,-3.020471e+07,-531990.509244,-9.495890e+06,-3.483556e+08
20180628,-3.873154e+08,7.897661e+07,NaN,-8.960199e+07,-1.482463e+08,NaN,2.059659e+07,-1.815573e+08,NaN,-3.807252e+07,...,-1.976937e+08,1.709366e+06,1.532247e+06,-4.957227e+06,-4.485377e+05,1.288211e+07,-2.881754e+07,-773218.075134,-9.585915e+06,-3.271063e+08
20180629,-3.800680e+08,7.459502e+07,NaN,-8.580214e+07,-1.382272e+08,NaN,1.335788e+07,-1.470673e+08,NaN,-3.317305e+07,...,-2.025839e+08,2.318453e+06,3.494552e+06,-4.591226e+06,-8.005555e+05,1.264786e+07,-2.259198e+07,-948404.051679,-1.105443e+07,-2.832770e+08

In [163]:
name = "ADTM"
dv.add_formula("DTM", "Max(high_adj-open_adj,Delta(open_adj,1))*(0+Delta(open_adj,1)>0)", 
               is_quarterly=False, add_data=True)
dv.add_formula("DBM", "Max(high_adj-open_adj,Delta(open_adj,1))*(0+Delta(open_adj,1)<0)", 
               is_quarterly=False, add_data=True)
dv.add_formula("STM", "Ts_Sum(DTM,20)", 
               is_quarterly=False, add_data=True)
dv.add_formula("SBM", "Ts_Sum(DBM,20)", 
               is_quarterly=False, add_data=True)
dv.add_formula(name, "(STM-SBM)/Max(STM,SBM)", 
               is_quarterly=False, add_data=True)
dv.remove_field("DTM")
dv.remove_field("DBM")
dv.remove_field("STM")
dv.remove_field("SBM")
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

Field [ADTM] is overwritten.
(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-0.140000,-0.010654,-0.764706,-0.323529,0.161290,0.975515,0.420732,-0.056966,NaN,-0.111111,...,-0.083333,0.424051,-0.138889,-0.129010,0.053953,0.451888,-0.302094,-0.150362,0.024580,-0.049296
20180626,-0.113402,0.018462,-0.764706,-0.425000,-0.088235,0.958836,0.439024,-0.259659,1.000000,-0.166667,...,-0.290909,0.424051,-0.216216,-0.248496,-0.007745,0.415002,-0.339118,-0.153263,-0.283313,-0.141735
20180627,-0.188679,0.027692,-0.657143,-0.205882,0.146667,0.959169,0.406452,0.000817,0.941520,-0.042553,...,-0.145455,0.367089,-0.395833,-0.083763,0.059223,0.307812,-0.177134,-0.172721,-0.349340,0.031763
20180628,-0.277311,-0.075391,-0.771429,-0.260274,0.264368,0.942978,0.477419,-0.071429,0.942252,-0.100000,...,-0.189655,0.303797,-0.452830,-0.052632,0.100852,0.305869,-0.204669,-0.106485,-0.353222,-0.043953
20180629,-0.117117,0.125714,-0.733333,-0.364706,0.402062,0.943515,0.232394,0.102564,0.902791,-0.100000,...,-0.216667,0.265823,-0.204082,0.054149,-0.162909,0.302616,-0.277568,-0.125300,-0.292428,-0.125760

In [165]:
name = "ACD6"
dv.add_formula("buy", "close_adj-Min(low_adj,Delay(close_adj,1))", 
               is_quarterly=False, add_data=True)
dv.add_formula("sell", "close_adj-Max(high_adj,Delay(close_adj,1))", 
               is_quarterly=False, add_data=True)
dv.add_formula(name, "Ts_Sum(buy,6)+Ts_Sum(sell,6)", 
               is_quarterly=False, add_data=True)
dv.remove_field("buy")
dv.remove_field("sell")
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-66.29480,-158.48688,795.57408,-8.286604,-31.415886,-201.939804,-15.519231,-0.090560,107.290872,-2.60128,...,-0.848776,-0.274509,0.067879,-7.430192,-1.178946,13.375772,-8.011024,-0.03,-5.744247,-2.133569
20180626,-47.93624,-233.89596,795.57408,-6.589348,-22.283361,-150.604938,-28.252959,0.332053,87.620879,-1.95096,...,-0.509266,-0.376179,-0.013576,-3.865708,2.438083,13.337114,-1.902115,-3.70,-4.249309,-0.892874
20180627,-47.93624,-260.73648,795.57408,-1.597418,-4.383612,-118.138185,-31.834320,0.452799,69.190064,1.30064,...,0.106097,-0.467682,-0.257940,-1.154692,3.562012,2.126206,7.155575,-8.57,-1.505177,0.749060
20180628,-71.39440,-328.47684,795.57408,-2.196449,-8.401923,-86.181381,-44.568048,0.392426,50.712191,-2.60128,...,-0.190975,-0.772692,-0.081455,-3.755259,-0.791279,-8.698117,-2.747499,-15.27,-2.406236,0.002376
20180629,-39.77688,-254.34588,795.57408,1.397740,7.671321,-45.725427,-25.069527,0.996158,33.065666,5.85288,...,0.127316,-0.366012,0.054303,1.074366,4.242875,3.285956,5.474870,-7.49,0.450529,1.530448

In [166]:
name = "ACD20"
dv.add_formula("buy", "close_adj-Min(low_adj,Delay(close_adj,1))", 
               is_quarterly=False, add_data=True)
dv.add_formula("sell", "close_adj-Max(high_adj,Delay(close_adj,1))", 
               is_quarterly=False, add_data=True)
dv.add_formula(name, "Ts_Sum(buy,20)+Ts_Sum(sell,20)", 
               is_quarterly=False, add_data=True)
dv.remove_field("buy")
dv.remove_field("sell")
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,-91.79280,-92.02464,1730.625052,-12.779341,-51.142140,6083.521587,0.397929,-0.233788,357.636240,5.20256,...,-2.143159,-0.274509,0.380122,-7.942273,-4.818946,34.985761,-13.626791,4.99,-11.672802,-2.974066
20180626,-75.47408,-107.36208,1868.249310,-11.082085,-44.566722,5559.463998,-17.906805,0.186902,337.966247,9.10448,...,-1.909746,-0.366012,0.339395,-4.779421,-4.001917,27.176785,-10.074164,0.94,-12.348596,-2.088966
20180627,-78.53384,-141.87132,1998.463032,-11.681116,-46.027926,5020.957854,-23.079882,0.218050,319.535432,9.10448,...,-1.803649,-0.549018,0.027152,-5.632889,-2.097988,23.813513,-11.422754,-1.81,-9.430395,-2.418966
20180628,-63.23504,-66.46224,2131.852698,-10.183537,-37.991304,4485.851370,-33.426036,0.422626,301.057559,11.05544,...,-1.570236,-0.579519,0.352971,-6.265459,-3.561279,5.180212,-12.781407,-5.31,-8.908191,-1.840252
20180629,-65.27488,-94.58088,2265.507026,-9.384828,-39.817809,3962.643696,-29.048817,0.573545,283.411034,8.45416,...,-1.421700,-0.437181,0.407274,-6.988397,-2.767125,10.824324,-9.832626,-5.93,-9.901403,-1.281984

In [167]:
name = "VMACD"
dv.add_formula("VDIFF", "Ta('EMA',0,0,0,0,volume,0,12)-Ta('EMA',0,0,0,0,volume,0,26)", 
               is_quarterly=False, add_data=True)
dv.add_formula("VDEA", "Ta('EMA',0,0,0,0,VDIFF,0,9)", 
               is_quarterly=False, add_data=True)
dv.add_formula(name, "VDIFF-VDEA", 
               is_quarterly=False, add_data=True)
dv.remove_field("VDIFF")
dv.remove_field("VDEA")
print(dv.get_ts(name).shape)

dv.get_ts(name).tail()

(119, 351)

symbol,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000156.SZ,000157.SZ,...,601992.SH,601997.SH,601998.SH,603160.SH,603260.SH,603288.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180625,2.005032e+06,1.277571e+05,-1.309518e+06,302541.452988,1.131551e+06,3.612236e+07,-5277.206038,3.260837e+06,2.044790e+02,-84646.717091,...,488709.478865,781673.556002,-199697.921694,-1269.228956,-109151.753845,-358926.801263,805274.650377,-25671.306670,-409952.628777,3.546797e+06
20180626,2.644142e+06,1.643687e+05,-9.729667e+05,57878.354319,3.531697e+05,4.025989e+07,640506.259564,2.347416e+06,9.922797e+04,-501992.203455,...,4707.992264,512082.017407,-392338.756886,18385.876308,-88765.721307,-409935.863044,586726.932919,-5032.774790,-346865.194372,1.850484e+06
20180627,2.392572e+06,6.647245e+05,-6.726855e+05,18117.065778,-2.311838e+04,3.523032e+07,969813.740486,5.619859e+05,1.203016e+06,-707609.256428,...,-462928.173991,300631.580720,-148941.443050,-950.891530,-147270.739721,-341029.559748,120933.357272,-1288.311019,-266763.096700,4.785307e+05
20180628,2.513505e+06,-4.250874e+05,-4.093459e+05,-109079.941609,-3.497035e+05,2.833261e+07,272778.617218,-1.371273e+06,1.174292e+06,-858179.415595,...,-523708.884764,-33187.741465,-562027.862073,-5271.564899,-172974.720752,-340824.425729,-16759.596424,407.881330,-186350.691908,-9.057176e+05
20180629,-3.419641e+05,-1.813992e+06,-1.820322e+05,277994.969929,-6.234880e+05,2.327956e+07,-136824.179975,-1.863770e+06,9.499566e+05,-847842.140293,...,-411959.135161,-369145.291251,-580325.556393,32757.092859,-29558.912463,-427896.956001,237019.250604,7878.115968,-17270.344461,7.420374e+05

In [168]:
dv.fields

['volume',
 'vwap',
 'index_weight',
 'vwap_adj',
 'turnover',
 'oi',
 'open_adj',
 'high_adj',
 'low',
 'high',
 'low_adj',
 'open',
 'close',
 'close_adj',
 'index_member',
 'adjust_factor',
 'trade_status',
 'EMA10',
 'EMA12',
 'EMA120',
 'EMA20',
 'EMA26',
 'EMA5',
 'EMA60',
 'MA120',
 'MA20',
 'MA10',
 'MA5',
 'MA60',
 'BBI',
 'BBIC',
 'TEMA10',
 'TEMA5',
 'BollUp',
 'BollMiddle',
 'BollDown',
 'slowK',
 'slowD',
 'slowJ',
 'fastK',
 'fastD',
 'fastJ',
 'fastK_RSI',
 'fastD_RSI',
 'fastJ_RSI',
 'UpRVI',
 'DownRVI',
 'RVI',
 'DBCD',
 'CR20',
 'MassIndex',
 'Elder',
 'CLV',
 'ChaikinVolatility',
 'EMV14',
 'EMV6',
 'MINUS_DI',
 'MINUS_DM',
 'PLUS_DI',
 'PLUS_DM',
 'DEMA',
 'KAMA',
 'MAMA',
 'FAMA',
 'MIDPOINT',
 'MIDPRICE',
 'SAR',
 'SAREXT',
 'T3',
 'TRIMA',
 'ADX',
 'ADXR',
 'APO',
 'AROONdown',
 'AROONup',
 'AROON',
 'AROONOSC',
 'BOP',
 'CCI',
 'CMO',
 'DX',
 'MACD',
 'MACDsignal',
 'MACDhist',
 'MFI',
 'MOM',
 'PPO',
 'ROC',
 'ROCP',
 'ROCR',
 'ROCR100',
 'RSI',
 'TRIX',
 'ULTOSC',
 'WILLR',
 'AD',
 'ADOSC',
 'OBV',
 'ATR',
 'NATR',
 'TRANGE',
 'AVGPRICE',
 'MEDPRICE',
 'TYPPRICE',
 'WCLPRICE',
 'HT_DCPERIOD',
 'HT_DCPHASE',
 'INPHASE',
 'SINE',
 'QUADRATURE',
 'LEADSINE',
 'INTEGER',
 'TR',
 'XR',
 'XRM',
 'XRN',
 'XRO',
 'UOS',
 'R',
 'SRMI',
 'REV5M20',
 'DEA',
 'COPPOCK',
 'DDI',
 'ARBR',
 'PSY',
 'WVAD',
 'ADTM',
 'MAWVAD',
 'ACD6',
 'ACD20',
 'VMACD']

In [180]:
dv.save_dataview(dataview_folder)

Store data...
Dataview has been successfully saved to:
F:\DeepLearning\python\JAQS_Data\000300.SH\lb.daily

You can load it with load_dataview('F:\DeepLearning\python\JAQS_Data\000300.SH\lb.daily')

## 2_读取索引为股票代号的数据

In [15]:
# print(dv.get_snapshot(20170504, symbol='600036.SH,600050.SH', fields=''))

## 3_读取时间序列数据

In [16]:
# print(dv.get_ts('pb').head())

## 5_从数据服务添加新数据至本地

In [ ]:
data_config = {
    "remote.data.address": "tcp://data.quantos.org:8910",
    "remote.data.username": "18868116256",
    "remote.data.password": "eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MjI3NDEwNjkxMDAiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTg4NjgxMTYyNTYifQ.9RSb6dJ_-a5mgrV9vCZsLxrCbuiZw4dGfwuWcP-AjEM"
}
ds = RemoteDataService()
ds.init_from_config(data_config)

In [ ]:
dv.add_field('ebitdafcff', ds)

In [9]:
print(dv.get_ts('ebitda').head())

symbol          000001.SZ  000002.SZ   000008.SZ    000009.SZ     000012.SZ  \
trade_date
20041231   NaN        0.0        NaN  28706048.0  28311619.59  1.584482e+08
20050104   NaN        0.0        NaN  28706048.0  28311619.59  1.584482e+08
20050105   NaN        0.0        NaN  28706048.0  28311619.59  1.584482e+08
20050106   NaN        0.0        NaN  28706048.0  28311619.59  1.584482e+08
20050107   NaN        0.0        NaN  28706048.0  28311619.59  1.584482e+08

symbol      000016.SZ    000021.SZ     000022.SZ     000027.SZ    ...      \
trade_date                                                        ...
20041231          NaN  98515035.05  1.143243e+08  3.723546e+08    ...
20050104          NaN  98515035.05  1.143243e+08  3.723546e+08    ...
20050105          NaN  98515035.05  1.143243e+08  3.723546e+08    ...
20050106          NaN  98515035.05  1.143243e+08  3.723546e+08    ...
20050107          NaN  98515035.05  1.143243e+08  3.723546e+08    ...

symbol      603000.SH  603160.SH  603260.SH  603288.SH  603699.SH  603799.SH  \
trade_date
20041231          NaN        NaN        NaN        NaN        NaN        NaN
20050104          NaN        NaN        NaN        NaN        NaN        NaN
20050105          NaN        NaN        NaN        NaN        NaN        NaN
20050106          NaN        NaN        NaN        NaN        NaN        NaN
20050107          NaN        NaN        NaN        NaN        NaN        NaN

symbol      603833.SH  603858.SH  603885.SH  603993.SH
trade_date
20041231          NaN        NaN        NaN        NaN
20050104          NaN        NaN        NaN        NaN
20050105          NaN        NaN        NaN        NaN
20050106          NaN        NaN        NaN        NaN
20050107          NaN        NaN        NaN        NaN

[5 rows x 730 columns]

In [21]:
# dv.remove_field('eps_basic')

In [13]:
dv.save_dataview(dataview_folder)

Store data...
Dataview has been successfully saved to:
F:\DeepLearning\python\JAQS_Data\000300.SH\lb.finIndicator2

You can load it with load_dataview('F:\DeepLearning\python\JAQS_Data\000300.SH\lb.finIndicator2')

### 1_连接数据源

In [23]:
# from jaqs_fxdayu.data.dataapi import DataApi
# from jaqs_fxdayu.data import DataView

# api = DataApi(addr='tcp://data.quantos.org:8910')
# api.login("18868116256", 
#           "eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MjI3NDEwNjkxMDAiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTg4NjgxMTYyNTYifQ.9RSb6dJ_-a5mgrV9vCZsLxrCbuiZw4dGfwuWcP-AjEM"
#          )

### step1_指数成分

In [24]:
# from jaqs_fxdayu.util import dp

# id_cons = dp.index_cons(api, "000300.SH", start, end)
# id_member = dp.daily_index_cons(api, "000300.SH", start, end)

In [26]:
# mask = ~id_member

### step2_分类信息

In [27]:
# symbol_id = dp.index_cons(api, "000300.SH", start, end)["symbol"].dropna()
# symbols = ",".join(symbol_id)
# group = dp.daily_sec_industry(api, symbols, start, end, source='sw', value="industry1_name")
# print(group.tail())


## 条件过滤

In [29]:
# from jaqs_fxdayu.util import dp
# from jaqs_fxdayu.data.dataapi import DataApi

# def mask_index():
#     df_index_member = dv.get_ts('index_member')
#     mask_index_member = df_index_member==0 #定义信号过滤条件-非指数成分
#     return mask_index_member

# def limit_up_down():
#     # 定义可买卖条件——未停牌、未涨跌停
#     trade_status = dv.get_ts('trade_status')
#     mask_sus = trade_status == u'停牌'
#     # 涨停
#     dv.remove_field('up_limit')
#     dv.add_formula('up_limit', '(close - Delay(close, 1)) / Delay(close, 1) > 0.095', is_quarterly=False, add_data=True)
#     # 跌停
#     dv.remove_field('down_limit')
#     dv.add_formula('down_limit', '(close - Delay(close, 1)) / Delay(close, 1) < -0.095', is_quarterly=False, add_data=True)
#     can_enter = np.logical_and(dv.get_ts('up_limit') < 1, ~mask_sus) # 未涨停未停牌
#     can_exit = np.logical_and(dv.get_ts('down_limit') < 1, ~mask_sus) # 未跌停未停牌
#     return can_enter,can_exit

In [31]:
# mask_index_member = mask_index()
# can_enter,can_exit = limit_up_down()

In [32]:
# dv.remove_field('mask_index_member')
# dv.remove_field('can_enter')
# dv.remove_field('can_exit')

In [34]:
# dv.append_df(mask_index_member, 'mask_index_member')
# dv.append_df(can_enter, 'can_enter')
# dv.append_df(can_exit, 'can_exit')

In [36]:
# dv.save_dataview('./JAQS_Data/hs300')

### 两种自定义因子的方法——add_formula&append_df
dataview可以通过两种方式计算/添加自定义因子进行分析

### 方法1：add_formula 基于dataview里已有的字段,通过表达式定义因子

In [39]:
# # 添加到数据集dv里，则计算结果之后可以反复调用
# dv.add_formula("momentum", "Return(close_adj, 20)", is_quarterly=False, add_data=True)
# dv.get_ts("momentum").head()

#### 附：add_formula 支持的内置公式查询方法

In [41]:
# 完整文档
dv.func_doc.doc

,分类,说明,公式,示例
0,四则运算,加法运算,+,close + open
1,四则运算,减法运算,-,close - open
2,四则运算,乘法运算,*,vwap * volume
3,四则运算,除法运算,/,close / open
4,基本数学函数,"符号函数，返回值为{-1, 0, 1}",Sign(x),Sign(close-open)
5,基本数学函数,绝对值函数,Abs(x),Abs(close-open)
6,基本数学函数,自然对数,Log(x),Log(close/open)
7,基本数学函数,对x取负,-x,-close
8,基本数学函数,幂函数,^,close ^ 2
9,基本数学函数,幂函数x^y,"Pow(x,y)","Pow(close,2)"
10,基本数学函数,保持符号的幂函数，等价于Sign(x) * (Abs(x)^e),"SignedPower(x,e)","SignedPower(close-open, 0.5)"
11,基本数学函数,取余函数,%,oi % 10
12,逻辑运算,判断是否相等,==,close == open
13,逻辑运算,判断是否不等,!=,close != open
14,逻辑运算,大于,>,close > open
15,逻辑运算,小于,<,close < open
16,逻辑运算,大于等于,>=,close >= open
17,逻辑运算,小于等于,<=,close <= open
18,逻辑运算,逻辑与,&&,(close > open) && (close > vwap)
19,逻辑运算,逻辑或,||,(close > open) || (close > vwap)
20,逻辑运算,逻辑非,!,!(close>open)
21,逻辑运算,判断值是否为NaN,IsNan(x),IsNan(net_profit)
22,三角函数,正弦函数,Sin(x),Sin(close/open)
23,三角函数,余弦函数,Cos(x),Cos(close/open)
24,三角函数,正切函数,Tan(x),Tan(close/open)
25,三角函数,开平方函数,Sqrt(x),Sqrt(close^2 + open^2)
26,取整函数,向上取整,Ceil(x),Ceil(high)
27,取整函数,向下取整,Floor(x),Floor(low)
28,取整函数,四舍五入,Round(x),Round（close）
29,选择函数,取 x 和 y 同位置上的较大值组成新的DataFrame返回,"Max(x,y)","Max(close, open)"
...,...,...,...,...
38,时间序列函数 - 统计,指标在过去n天的标准差,"StdDev(x,n)","StdDev(close/Delay(close,1)-1, 10)"
39,时间序列函数 - 统计,两个指标在过去n天的协方差,"Covariance(x,y,n)","Covariance(close, open, 10)"
40,时间序列函数 - 统计,两个指标在过去n天的相关系数,"Correlation(x,y,n)","Correlation(close,open, 10)"
41,时间序列函数 - 统计,计算指标在过去n天的最小值,Ts_Min(x，n),Ts_Min(close，5)
42,时间序列函数 - 统计,计算指标在过去n天的最大值,Ts_Max(x，n),Ts_Max(close，5)
43,时间序列函数 - 统计,计算指标在过去n天的偏度,Ts_Skewness(x，n),Ts_Skewness(close，20)
44,时间序列函数 - 统计,计算指标在过去n天的峰度,Ts_Kurtosis(x，n),Ts_Kurtosis(close，20)
45,时间序列函数 - 排名,计算指标在过去n天的排名，返回值为名次,"Ts_Rank(x, n)","Ts_Rank(close, 5)"
46,时间序列函数 - 排名,"计算指标在过去n天的百分比，返回值为[0.0, 1.0]","Ts_Percentile(x, n)","Ts_Percentile(close, 5)"
47,时间序列函数 - 排名,计算指标在过去n天所属的quantile，返回值为表示quantile的整数,"Ts_Quantile(x, n)","Ts_Quantile(close, 5)"
48,时间序列函数 - 排名,指数移动平均，以halflife的衰减对x进行指数移动平均,"Ewma(x, halflife)","Ewma(x, 3)"
49,横截面函数 - 排名,将指标值在横截面方向排名，返回值为名次,Rank(x),"Rank( close/Delay(close,1)-1 ) 表示按日收益率进行排名"
50,横截面函数 - 排名,按分组数据g在每组内将指标值在横截面方向排名，返回值为名次,"GroupRank(x,g)","GroupRank(close/Delay(close,1)-1, g) 表示按分组g根据日..."
51,横截面函数 - 排名,将指标值在横截面方向排名，返回值为排名百分比,Percentile(x),Percentile(close)
52,横截面函数 - 排名,按分组数据g在每组内将指标值在横截面方向排名，返回值为排名百分比,"GroupPercentile(x, g, n)","GroupPercentile(close, sw1) 按申万1级行业"
53,横截面函数 - 排名,和Rank函数相同，但只有 cond 中值为True的标的参与排名,"ConditionRank(x, cond)","GroupRank(close/Delay(close,1)-1, cond) 表示按条件c..."
54,横截面函数 - 排名,根据指标值在横截面方向将标的分成n个quantile，返回值为所属quantile,"Quantile(x, n)","Quantile( close/Delay(close,1)-1,5)表示按日收益率分为5档"
55,横截面函数 - 排名,按分组数据g在每组内根据指标值在横截面方向将标的分成n个quantile，返回值为所属qua...,"GroupQuantile(x, g, n)","GroupQuantile(close/Delay(close,1)-1,g,5) 表示按日..."
56,横截面函数 - 数据处理,将指标标准化，即在横截面上减去平均值后再除以标准差,Standardize(x),"Standardize(close/Delay(close,1)-1) 表示日收益率的标准化"
57,横截面函数 - 数据处理,将指标横截面上去极值，用MAD (Maximum Absolute Deviation)方法...,"Cutoff(x, z_score)","Cutoff(close,3) 表示去掉z_score大于3的极值"
58,财报函数,将累计财务数据转换为单季财务数据,CumToSingle(x),CumToSingle(net_profit)
59,财报函数,从累计财务数据计算TTM的财务数据,TTM(x),TTM(net_profit)
60,其他,过去 n 天的指数衰减函数，其中 f 是平滑因子。这里 f 是平滑因子，可以赋一个小于 1 ...,"Decay_exp(x,f,n)","Decay_exp(close,0.9,10)"
61,其他,"过去n天的线性衰减函数。Decay_linear(x, n) = (x[date] * n ...","Decay_linear(x,n)","Decay_linear(close,15)"
62,其他,如果 x 的值介于 lower 和 upper，则将其设定为 newval,"Tail(x, lower, upper, newval)","Tail(close/open, 0.99, 1.01, 1.0)"
63,其他,Step(n) 为每个标的创建一个向量，向量中 n 代表最新日期，n-1 代表前一天，以此类推。,Step(n),Step(30)
64,其他,时间序列函数，计算 x 中的值在过去 n 天中为 nan （非数字）的次数,"CountNans(x,n)","CountNans((close-open)^0.5, 10) 表示过去10天内有几天clo..."
65,时间序列函数 - 统计,计算指标在过去n天最大值的坐标,"Ts_Argmax(x,n)","Ts_Argmax(high,10)"
66,时间序列函数 - 统计,计算指标在过去n天最小值的坐标,"Ts_Argmin(x,n)","Ts_Argmin(low,10)"
67,技术指标,根据talib技术指标库计算x中每只股票的技术指标,"Ta(ta_method,ta_column,open,high,low,close,vol...","Ta('MACD','macdsignal',open,high,low,close,vol..."

In [42]:
# 函数一览
dv.func_doc.funcs

array(['+', '-', '*', '/', 'Sign(x)', 'Abs(x)', 'Log(x)', '-x', '^',
       'Pow(x,y)', 'SignedPower(x,e)', '%', '==', '!=', '>', '<', '>=',
       '<=', '&&', '||', '!', 'IsNan(x)', 'Sin(x)', 'Cos(x)', 'Tan(x)',
       'Sqrt(x)', 'Ceil(x)', 'Floor(x)', 'Round(x)', 'Max(x,y)',
       'Min(x,y)', 'If(cond,x,y)', 'Delay(x,n)', 'Ts_Sum(x,n)',
       'Ts_Product(x,n)', 'Delta(x,n)', 'Return(x,n,log)', 'Ts_Mean(x，n)',
       'StdDev(x,n)', 'Covariance(x,y,n)', 'Correlation(x,y,n)',
       'Ts_Min(x，n)', 'Ts_Max(x，n)', 'Ts_Skewness(x，n)',
       'Ts_Kurtosis(x，n)', 'Ts_Rank(x, n)', 'Ts_Percentile(x, n)',
       'Ts_Quantile(x, n)', 'Ewma(x, halflife)', 'Rank(x)',
       'GroupRank(x,g)', 'Percentile(x)', 'GroupPercentile(x, g, n)',
       'ConditionRank(x, cond)', 'Quantile(x, n)',
       'GroupQuantile(x, g, n)', 'Standardize(x)', 'Cutoff(x, z_score)',
       'CumToSingle(x)', 'TTM(x)', 'Decay_exp(x,f,n)',
       'Decay_linear(x,n)', 'Tail(x, lower, upper, newval)', 'Step(n)',
       'CountNans(x,n)', 'Ts_Argmax(x,n)', 'Ts_Argmin(x,n)',
       'Ta(ta_method,ta_column,open,high,low,close,volume,*args)'],
      dtype=object)

In [43]:
# 函数类型
dv.func_doc.types

array(['四则运算', '基本数学函数', '逻辑运算', '三角函数', '取整函数', '选择函数',
       '时间序列函数 - 基本数学运算', '时间序列函数 - 统计', '时间序列函数 - 排名', '横截面函数 - 排名',
       '横截面函数 - 数据处理', '财报函数', '其他', '技术指标'], dtype=object)

In [44]:
# 函数描述
dv.func_doc.descriptions

array(['加法运算', '减法运算', '乘法运算', '除法运算', '符号函数，返回值为{-1, 0, 1}', '绝对值函数',
       '自然对数', '对x取负', '幂函数', '幂函数x^y',
       '保持符号的幂函数，等价于Sign(x) * (Abs(x)^e)', '取余函数', '判断是否相等', '判断是否不等',
       '大于', '小于', '大于等于', '小于等于', '逻辑与', '逻辑或', '逻辑非', '判断值是否为NaN',
       '正弦函数', '余弦函数', '正切函数', '开平方函数', '向上取整', '向下取整', '四舍五入',
       '取 x 和 y 同位置上的较大值组成新的DataFrame返回',
       '取 x 和 y 同位置上的较小值组成新的DataFrame返回', 'cond为True取x的值，反之取y的值',
       '指标n个周期前的值', '指标在过去n天的和', '指标在过去 n 天的积', '指标当前值与n天前的值的差',
       '计算指标相比n天前的变化率，默认计算百分比变化率；当log为1时，计算对数变化率;为0时计算普通变化率',
       '计算指标在过去n天的平均值', '指标在过去n天的标准差', '两个指标在过去n天的协方差', '两个指标在过去n天的相关系数',
       '计算指标在过去n天的最小值', '计算指标在过去n天的最大值', '计算指标在过去n天的偏度', '计算指标在过去n天的峰度',
       '计算指标在过去n天的排名，返回值为名次', '计算指标在过去n天的百分比，返回值为[0.0, 1.0]',
       '计算指标在过去n天所属的quantile，返回值为表示quantile的整数',
       '指数移动平均，以halflife的衰减对x进行指数移动平均', '将指标值在横截面方向排名，返回值为名次',
       '按分组数据g在每组内将指标值在横截面方向排名，返回值为名次', '将指标值在横截面方向排名，返回值为排名百分比',
       '按分组数据g在每组内将指标值在横截面方向排名，返回值为排名百分比',
       '和Rank函数相同，但只有 cond 中值为True的标的参与排名',
       '根据指标值在横截面方向将标的分成n个quantile，返回值为所属quantile',
       '按分组数据g在每组内根据指标值在横截面方向将标的分成n个quantile，返回值为所属quantile',
       '将指标标准化，即在横截面上减去平均值后再除以标准差',
       '将指标横截面上去极值，用MAD (Maximum Absolute Deviation)方法, z_score为极值判断标准',
       '将累计财务数据转换为单季财务数据', '从累计财务数据计算TTM的财务数据',
       '过去 n 天的指数衰减函数，其中 f 是平滑因子。这里 f 是平滑因子，可以赋一个小于 1 的值。Decay_exp(x, f, n) = (x[date] + x[date - 1] * f + … +x[date – n - 1] * (f (n – 1))) / (1 + f + … + f ^ (n - 1))',
       '过去n天的线性衰减函数。Decay_linear(x, n) = (x[date] * n + x[date - 1] * (n - 1) + … + x[date – n - 1]) / (n + (n - 1) + … + 1)',
       '如果 x 的值介于 lower 和 upper，则将其设定为 newval',
       'Step(n) 为每个标的创建一个向量，向量中 n 代表最新日期，n-1 代表前一天，以此类推。',
       '时间序列函数，计算 x 中的值在过去 n 天中为 nan （非数字）的次数', '计算指标在过去n天最大值的坐标',
       '计算指标在过去n天最小值的坐标', '根据talib技术指标库计算x中每只股票的技术指标'], dtype=object)

In [62]:
# 根据函数类型查询该类型下所有的函数
dv.func_doc.search_by_type("技术指标")

,分类,说明,公式,示例
67,技术指标,根据talib技术指标库计算x中每只股票的技术指标,"Ta(ta_method,ta_column,open,high,low,close,vol...","Ta('MACD','macdsignal',open,high,low,close,vol..."

In [46]:
# 根据函数描述查询可能符合该描述的所有的函数
dv.func_doc.search_by_description("绝对值")

       分类     说明      公式               示例
5  基本数学函数  绝对值函数  Abs(x)  Abs(close-open)

In [124]:
# 根据函数名查询该函数
dv.func_doc.search_by_func("Max",precise=True)

      分类                               说明        公式                示例
29  选择函数  取 x 和 y 同位置上的较大值组成新的DataFrame返回  Max(x,y)  Max(close, open)

In [138]:
# 根据函数名查询该函数 -模糊查询
dv.func_doc.search_by_func("dian",precise=False)

Empty DataFrame
Columns: [分类, 说明, 公式, 示例]
Index: []

In [139]:
import talib as ta

### 更高自由度下的自定义因子
内置的函数终究有限，add_formula可以通过事先定义并注册一些因子计算中需要的函数方法，完成更高自由度的因子计算

In [51]:
# # 定义指数平均计算函数-传入一个时间为索引,股票为columns的Dataframe,计算其指数平均序列
# # SMAtoday=m/n * Pricetoday + ( n-m )/n * SMAyesterday;
# def sma(df, n, m):
#     a = n / m - 1
#     r = df.ewm(com=a, axis=0, adjust=False)
#     return r.mean()

In [53]:
# dv.add_formula("double_SMA","SMA(SMA(close_adj,3,1),3,1)",
#                is_quarterly=False,
#                add_data=True,
#                register_funcs={"SMA":sma}).head()

### 方法2: append_df 构造一个因子表格（pandas.Dataframe）,直接添加到dataview当中
更高自由度，只需要任意事先计算出一个因子表格，均可以添加到数据集里

In [55]:
# import pandas as pd
# import talib as ta

# close = dv.get_ts("close_adj").dropna(how='all', axis=1)
# slope_df = pd.DataFrame({sec_symbol: -ta.LINEARREG_SLOPE(value.values, 10) for sec_symbol, value in close.iteritems()}, index=close.index)
# dv.append_df(slope_df,'slope')
# dv.get_ts("slope").tail()

## 目录
1. 因子比较与筛选
2. 常用的因子预处理方法-调整正负、去极值、行业市值中性化、标准化
3. 多因子组合方法

### 因子预处理

* 根据之前的分析，这几个因子在几个持有期下与股票收益的关系（ic）都是负的，先统一调整成正相关关系
* 去极值
* 标准化 -- z-score、rank
* 行业市值中性化

### 多因子组合
对筛选后的因子进行组合，一般有以下常规处理：
* 因子间存在较强同质性时，先使用施密特正交化方法对因子做正交化处理，用得到的正交化残差作为因子（也可以不使用，正交化会破坏因子的经济学逻辑，并剔除一些信息）
* 因子组合加权，常规的方法有：等权重、以某个时间窗口的滚动平均ic为权重、以某个时间窗口的滚动ic_ir为权重、最大化上个持有期的ic_ir为目标处理权重、最大化上个持有期的ic为目标处理权重
* 注:因为计算IC需要用到下一期股票收益,因此在动态加权方法里，实际上使用的是前一期及更早的IC值(向前推移了holding_period)计算当期的权重

用正交化前的因子，分别进行等权、以某个时间窗口的滚动平均ic为权重、以某个时间窗口的滚动ic_ir为权重、最大化上个持有期的ic_ir为目标处理权重、最大化上个持有期的ic为目标处理权重的加权组合方式，然后测试组合因子表现

### 优化目标
### target_type:
* ic类:
  return_ic/upside_ret_ic/downside_ret_ic
* 持有收益类
  long_ret/short_ret/long_short_ret/top_quantile_ret/bottom_quantile_ret/tmb_ret
* 收益空间类
  long_space/short_space/long_short_space/top_quantile_space/bottom_quantile_space/tmb_space

### target:
* ic类 
  "IC Mean", "IC Std.", "t-stat(IC)", "p-value(IC)", "IC Skew", "IC Kurtosis", "Ann. IR"
* 持有收益类 
  't-stat', "p-value", "skewness", "kurtosis", "Ann. Ret", "Ann. Vol", "Ann. IR", "occurance"
* 收益空间类 
  'Up_sp Mean','Up_sp Std','Up_sp IR','Up_sp Pct5', 'Up_sp Pct25 ','Up_sp Pct50 ', 'Up_sp Pct75','Up_sp Pct95','Up_sp Occur','Down_sp Mean','Down_sp Std', 'Down_sp IR', 'Down_sp Pct5','Down_sp Pct25 ','Down_sp Pct50 ','Down_sp Pct75', 'Down_sp Pct95','Down_sp Occur'